[2020-01-05 06:41] fingers10 opened #2562 "Tabulator Not available in CDNJS from Version 4.5"
Dear Team,

From the **V4.5**, Tabulator is not available in CDNJS. **V4.4.3** is the last one that I can find in CDNJS. [Here is the CDNJS Tabulator link](https://cdnjs.com/libraries/tabulator). I'm sorry to raise this as bug. But couldn't find any other way to communicate this to the Tabulator team.

Thanks,
Abdul Rahman

[2020-01-05 07:29] fingers10 commented on #2552
It will also be better if we are allowed to display the `Value` in the cell and get the `Key` from the cell when reading the cell data.

For example, with Tabulator latest version autocomplete editor, If we supply the following values,
[code]

While searching, the list gets displayed with **Steve Boberson** and when we select the option, **steve** will be displayed in the cell. Instead it would be

[2020-01-05 07:41] olifolkerd commented on #2562
Tabulator stopped supporting cdnjs from version 4. They are too slow to update on a new release.

If you have a look at the [install documentation](
http://tabulator.info/docs/4.5/install#setup) you can see we now use unpkg.com

https://unpkg.com/tabulator-tables@4.5.3/dist/css/tabulator.min.css

https://unpkg.com/tabulator-tables@4.5.3/dist/js/tabulator.min.js

Cheers

Oli :)

[2020-01-05 07:41] #2562 closed

[2020-01-05 10:46] fingers10 commented on #2065
Any chance to bring this **Autocomplete With AJAX suggestions** functionality in Tabulator?

[2020-01-05 16:38] olifolkerd commented on #1901
Hey @funkindy

I have just pushed an update for this to the 4.6 branch, which will be released in a few weeks.

Cheers

Oli :)

[2020-01-05 16:38] #1901 closed

[2020-01-05 17:22] olifolkerd commented on #2352
Hey @HongyuWang-2018

I have pushed an update to fis this to the 4.6 branch, which should be released in a few weeks time.

Cheers

Oli :)

[2020-01-05 17:22] #2352 closed

[2020-01-05 17:43] #2544 closed

[2020-01-05 17:49] olifolkerd commented on #2541
Hey @Muralee99

The validator is working exactly as expected on your example table. the ***cellEdited*** function is only triggered when an edit has successfully passed validation.

The issue in your example is in the ***getSuccessOutput*** function where you are trying to return a value before it is set.

Ajax calls are asynchronous, so what is happening in that function is that it is triggering

[2020-01-05 17:49] #2541 closed

[2020-01-05 17:50] olifolkerd commented on #2472
Hey @Darth-Ender

Do you have any more information on this, if i dont hear back im afraid i will have to close this issue as there is not enough information in your initial post to isolate the issue.

Cheers

Oli :)

[2020-01-05 17:54] #1509 closed

[2020-01-05 17:54] #508 closed

[2020-01-05 17:58] #2041 closed

[2020-01-05 18:11] olifolkerd commented on #2522
Hey @jjech

Your PR has been merged in and will be included in the 4.6 release in a few weeks.

Cheers

Oli :)

[2020-01-05 18:11] #2522 closed

[2020-01-05 19:23] Darth-Ender commented on #2472
Unfortunately when I tried to make a self contained simplified version of
my code, I couldn't replicate the issue and the original is for work so I
can't make that available.

Not sure why the simplified version didn't have the problem since the only
change is destroying the table and recreating it vs using setdata.  The
table is small so recreating isn't a big deal so it is a usable solution.
 I

[2020-01-05 19:33] hrstoyanov commented on #2193
No quite yet...

I just caught up the API to 4.5.2 the other day.

I mentioned the projet here:

https://groups.google.com/forum/m/#!topic/google-web-toolkit/Hy5fBWwkdic

..And from the comments, it seems people are interested in tabulator.

[2020-01-06 06:59] Saranyasambath opened #2563 "Movable rows"
Hi,
    I have issues on while moving row in a large number of rows,auto scroll  is not working.

    I am using version tabulator 4.2.

[2020-01-06 21:17] akohring opened #2564 "printAsHtml does not apply the custom group header function (groupHeader)"
**Describe the bug**
Custom group header formatting specified by a groupHeader function is not applied during printing.

**Tabulator Info**
Tabulator v4.5.3

**Working Example**
https://jsfiddle.net/x1f75t83/1/

**To Reproduce**
A step by step guide to recreate the issue in your JS Fiddle or Codepen:
1. Run the above jsfiddle
2. Click on the print button

**Expected behavior**
The custom header fo

[2020-01-06 21:43] YendorMc opened #2566 "Pleas Re-Review #2453 Odd Behavior when Group By Column is ommited with totals"
Hi Oli,  Happy New Year! :)

I reviewed your response on #2453 but it seems I didn't make clear what the problem I was facing.

When  you get a chance, please try the fiddle below again and click on the grouping to collapse. I've added a BMP to illustrate  What's happening is that the totals are shifting to the right making a misalignment with the first column.  I'm seeing this behavior in other e

[2020-01-06 21:53] kreamas opened #2567 "Adding commas to a number in custom formatter"
Hi Oli.

I've developed a custom formatter for being used in the columns.

Everything is all right except by the fact that my number doesn't has comma separator for thousands.

I've tried with number(value).tolocalestring() but when I dynamically change my table, some times commas appear and sometimes it doesn't.

Is there any definition that tabulator uses for comma separator (as it does with for

[2020-01-07 20:42] benkim-saama opened #2568 "Tabulator and Pagination Control Element"
The current project I am working on requires us to work with millions of rows.  The product we are creating applies initial filters so the load is not too large for the backend.

The Remote Pagination works like a charm with Tabulator.  I also like the feature that allows the end-user to set the Page Size value.  One item that would be nice to have is a **Jump to Page #** option in the Pagination

[2020-01-07 20:50] benkim-saama opened #2569 "Tabulator with JSON"
Our backend developer is attempting to optimize the JSON return.  If data does not exist for a specific sub-JSON package (array), he was not including it.  This caused Tabulator to copy values from the previous row which did have data into the new rows.  In the interim, he agreed to revert his change and pass the "segment" with null values for each field.  Tabulator was happy afterward.  Below is

[2020-01-07 20:58] benkim-saama opened #2570 "Tabulator Filters"
For completeness, it would be nice if Tabulator supported a Starts With and an Ends With equality comparators for the filters (much like it supports the LIKE operator).  I know reg-ex would do the trick but including a couple of simple operators would make life a bit easier setting up screens for end-users who have no clue what RegEx even stands for.

Ben

[2020-01-07 21:04] olifolkerd commented on #2472
Thanks for the response.

It is likely due to a custom formatter or something similar in that case.

That is the primary reason we ask for the reduced test case as it help to isolate if the issues are coming from within Tabulator.

Cheers

Oli :)

[2020-01-07 21:04] #2472 closed

[2020-01-07 21:05] olifolkerd commented on #2193
Hey @hrstoyanov

Great to hear you are progressing.

I will be looking to release 4.6 in a few weeks time.

Any time you have something to share with the community let me know and i will stick something on the website.

Cheers

Oli :)

[2020-01-07 21:09] olifolkerd commented on #2563
Hey @Saranyasambath

If you are having issues, please read the [Bug Reporting Guide](http://tabulator.info/community#bug) and use the issue template provided as it prompts for all the information we need to help.

You also MUST provide a working JS Fiddle or CodePen  with guide to reproduce the issue so we can understand how your table is configured.

Cheers

Oli :)

[2020-01-07 21:09] #2563 closed

[2020-01-07 21:10] olifolkerd commented on #2564
Hey @akohring

Thanks for getting in touch,

I wouldnt consider this a bug, more of a missing feature. I will reveiw your pull request and get back to you shortly.

Cheers

Oli :)

[2020-01-07 21:29] olifolkerd commented on #2566
Hey @YendorMc

Happy New Year to you too!

Thankyou for resubmitting with a clearer description, that totally makes sense to me now, and i can see there is a bug there.

I will have a look into that in the next few weeks.

Could i ask that if you have a bug in future, you try and fill in the Browser section of the issue template, as it helps narrow down the testing and makes it easier to find the

[2020-01-07 21:31] olifolkerd commented on #2567
Hey @kreamas

Thanks for getting in touch,

Could i ask that in future you ask questions on Stack Overflow, this issues list is reserved for Bug Reports and Feature Requests Only.

As Tabulator is open source, please feel free to browse through the code for the money formatter yourself to see how it works. https://github.com/olifolkerd/tabulator/blob/master/src/js/modules/format.js#L138

Cheers

O

[2020-01-07 21:31] #2567 closed

[2020-01-07 21:34] hrstoyanov commented on #2193
@olifolkerd , will do!

[2020-01-07 21:41] olifolkerd commented on #2568
Hey @benkim-saama

Thanks for getting in touch, and thanks for your kind words about Tabulator, it is always great to hear people are enjoying using it!

Thanks for the suggestion. I have actually deliberately left that out of the core library. There are so many different types of additional pagination controls that people have asked for over the years, with each one only applicable to a small sub

[2020-01-07 21:41] #2568 closed

[2020-01-07 21:44] olifolkerd commented on #2569
Hey @benkim-saama

Thanks for getting in touch.

Could i ask that if you are reporting a bug you read the [Bug Reporting Guide](http://tabulator.info/community#bug) and use the issue template provided as it will prompt you to provide all the information we need to help you out.

In this case i suggest that you create a reduced test case as Tabulator has absolutely no issue with rows having differe

[2020-01-07 21:44] #2569 closed

[2020-01-07 21:46] olifolkerd commented on #2570
Hey @benkim-saama

Thanks for the suggestion, i think that is a great ideal, i will look at adding it to the roadmap.

If you would like to contribute this as a Pull Request, i would be happy to accept it.

Cheers

Oli :)

[2020-01-07 21:55] jjech opened #2571 "table.getHeaderFilterValue(columnName)"
Tabulator has a function **table.setHeaderFilterValue(columnName, value)** which is used to change the value in the specified column's header filter and trigger a table redraw.

I've run into a few cases where it would be nice to quickly get the value of a specific column's header filter by calling something like **table.getHeaderFilterValue(columnName)**. However, it looks like tabulator doesn't

[2020-01-07 21:58] olifolkerd commented on #2571
Hey @jjech

There is a ***getHeaderFilters*** function that returns an array of all current header filters, that you can then check for a specific column.

Checkout the [Managing Filters Documentation](http://tabulator.info/docs/4.5/filter#manage) for more information.

Cheers

Oli :)

[2020-01-07 23:19] jjech commented on #2571
Hi @olifolkerd

Thanks for your quick response! I've been using **getHeaderFilters** as a workaround when needed, but I thought it would be nice to add a **getHeaderFilterValue** function to go with **setHeaderFilterValue**.

Do you like the idea? If so, I will open a PR. Otherwise, I will close the issue.

[2020-01-07 23:20] olifolkerd commented on #2571
Yeah I think it would be nice.

Please open a PR on the 4.6 branch, then I can include it in the next release.

Cheers

Oli

[2020-01-08 10:24] Frozenius opened #2573 "Problem with clipboard always pasting the tablehead"
I'm trying to copy some rows from one table to another table, but there is always the table head copied in the clipboard and afterwards the head getting pasted into the 2nd table.

var table1 = new Tabulator("#div_TableData1", {
    				height: 100,
					layout:"fitColumns",
					movableRows:true,
					autoResize:true,
					clipboard:true,
					selectable:true,
					clipboardCopyConfig:{

[2020-01-08 13:33] tkfkm commented on #2281
@supportdesk-si how about the code below?

[code]

[2020-01-08 15:15] akohring commented on #2564
Thanks for the feedback Oli.  I have pushed the suggested fix.  Is it possible to have this fix included in the 4.6 release?

[2020-01-08 18:43] supportdesk-si commented on #2281
Thank @tkfkm.  This is a huge leap forward!!!

There is one more issue left.  When I type medical, I need to make sure all users under that account are visible.  Any idea on how to make that work?

[2020-01-08 22:49] olifolkerd commented on #2573
Hey @Frozenius

Thanks for getting in touch.

In future could you please ask questions on Stack Overflow, this issues list is reserved for Bug Reports and Feature Requests.

If you feel this is a bug, please use the [Bug Report](https://github.com/olifolkerd/tabulator/issues/new?assignees=&labels=Possible+Bug&template=bug_report.md&title=) issue template and fill in all the requested details.

Che

[2020-01-08 22:49] #2573 closed

[2020-01-08 22:53] olifolkerd commented on #2564
Hey @akohring

Yeah i would certainly be happy to include it in the 4.6 release, when it is ready to go.

Cheers

Oli :)

[2020-01-08 23:08] olifolkerd commented on #2571
I have merged this in and will include it in the next release.

Thanks for the excellent contribution!

Cheers

Oli :)

[2020-01-08 23:08] #2571 closed

[2020-01-09 02:47] daschws opened #2574 "Column header using rowSelection formatter will not update after a selected row is deleted"
What i use in example:

`table.selectRow(3);table.deleteRow(3);`

The delete seems to start on line 5993 in tabulator.js.

`Row.prototype.delete = function ()`

where on line 6025 it calls:

`_this14.deleteActual()`

Line 6037 has this block of code:

[code]

If that code gets changed to:

`this.table.modules.selectRow._deselectRow(this)`

It updates ok.

I tried this with/without passing arrays a

[2020-01-09 18:13] olifolkerd commented on #2574
Hey @daschws

Thanks for the headsup.

You are right there is definitly an issue there, but im afraid you proposed solution will break another feature.

The reason for the ***true*** being passed into that function is to prevent a redraw of the table if multi rows of the table are deleted at once (so the table is only updated once rather than multiple times.

It requires use of the blockRedraw var

[2020-01-10 20:03] RegCoding opened #2575 "TabulatorJS 4.5 Find table func not working properly"
Hi Oli and Tabulator community,

We recently upgraded from Tabulator.js version 4.4 to 4.5 to get access to new Find Tables functionality (http://tabulator.info/docs/4.5/options#find-table) because we need to get access to TabulatorJS tables from separate JSPs.
Beside that we are using jquery_wrapper.min.js.

We are calling following lines of code in a separate JSP:
var table = Tabulator.prototype

[2020-01-10 20:26] AlphaTeal opened #2576 "Scrolling Reset with Nested Tables"
**Describe the bug**
I have a table with a set height (virtual DOM enabled) where each row has a collapsible nested table "inside" of it. The table loads with each row collapsed. If the user expands one of the rows to reveal its nested table, and that nested table has a large number of rows, and the user tries to scroll down in the table, it won't get very far before resetting the user's scroll po

[2020-01-10 20:42] akohring opened #2577 "Download to XLSX should apply group header formatters on export"
**Describe the solution you'd like**
Custom group header formatters should be applied to exported data.

**Additional context**
Problem is demonstrated in the following JSFiddle:
https://jsfiddle.net/b1atpc08/1/

1. Click the XLSX button
2. Notice that the Name column values change from "CUSTOM FORMATTER" to the raw data values in the export.

[2020-01-11 13:12] olifolkerd commented on #2575
Hey @RegCoding

Thanks for getting in touch, could i ask that you ask questions on Stack Overflow, this issues list is reserved for Bug Reports and Feature requests only.

If you feel you have found a bug then please use the bug report template as it will prompt you for all the information we need to help you out.

Im will need to see a JS Fiddle or CodePen of your setup in action to be able to of

[2020-01-11 13:12] #2575 closed

[2020-01-11 13:25] olifolkerd commented on #1834
Hey @morficus

Sorry for the late reply, this feature was added in the 4.5 release. you can now select the visible rows with the below command:

[code]

Cheers

Oli :)

[2020-01-11 13:25] #1834 closed

[2020-01-11 14:04] andreysneg commented on #2070
SImple Drag N Drop .  To and From DOM elements.
Or simple JS events   - ondrag  ondrop  .

I want get table data after Ondrop.

[2020-01-11 16:22] olifolkerd commented on #2096
Hey @anurag-23

I have just made a push for this to the 4.6 branch. Which will be released in a few weeks

Trees will then maintain their open state on update as a default behaviour.

Cheers

Oli :)

[2020-01-11 16:22] #2096 closed

[2020-01-11 22:23] pertile commented on #935
Thank you very much for your comments, they where very useful.
In addition to what Diegovictor said, in 4.5 instead of what you did I assigned downloadData to data.data instead of data = downloadData, and it was not necessary to create that calcs dictionary.

[2020-01-13 08:59] sohrabi2050 opened #2579 "show sum of active page in footer"
I need to add both sum of page and sum of total. In all data-tables we can have both of them.

**What I need**

 can add footer for calculate sum of total for example, but I can't add sum of visible rows or in another words sum of current page only in same time.

I can add a footer to bottom or top of the table : topCalc & bottomCalc .

For example I can add sum of price.

As you can see in the ex

[2020-01-13 09:18] xola123 opened #2580 "Freeze Column Header to top of the page (sticky header)"
Hi folks,

is there any way to freeze the Column Headers to the top of the **page** while scrolling down?

Background info: I have a huge table with lots of data in it - action buttons, calculated columns and so on. I set paginationSize to 40, to not overload the interface. On smaller screens, the users have to scroll the page. In this case, I want the column headers to stick to the top, so that i

[2020-01-14 00:26] jjech opened #2581 "build process is broken due to deprecated gulp-cssnano dependency"
**Is your feature request related to a problem? Please describe.**
When running a new tabulator build for the first time, my first 'gulp' always fails. I was hoping that PR #2551 would solve the problem, but after merging the changes from that PR into my fork, the issue persists.

This is the error message returned from 'gulp':
[code]

The problem is that the latest released version of gulp-cssnan

[2020-01-14 00:56] jjech commented on #2581
Looks like we can fix this with npm shrinkwrap: https://nodejs.org/en/blog/npm/managing-node-js-dependencies-with-shrinkwrap/

I'll open a PR shortly --- hopefully you will be able to automerge since I will have already merged the changes from PR #2551 in my branch (they both modify package.json... running npm shrinkwrap replaces package.json with npm-shrinkwrap.json).

[2020-01-14 02:09] jjech opened #2583 "modify clearFilters to return a Promise"
**Is your feature request related to a problem? Please describe.**
Yes. See **Example Use Case** for further details if interested, or skip to the end for the requested feature.

**Example Use Case**
We're using tabulator with remote pagination, column header filters, and a **rowDblClick** callback. When the callback fires, we want to call **table.clearFilter(true)** followed by **table.setPage(pa

[2020-01-14 02:41] akohring opened #2584 "Download to XLSX does not export the bottom column calculation"
**Describe the bug**
Download to XLSX does not export the bottom column calculation.

**Tabulator Info**
v4.5.3

**Working Example**
https://jsfiddle.net/c8j5eL0t/

**To Reproduce**
1. Open the jsfiddle example
2. Notice the last row has an Age column calculation with value of 55
3. Click the XLSX button above the table and open the downloaded file
4. Notice the bottom calculation row is not expor

[2020-01-14 08:47] sri-lekha opened #2585 "How to filter data only in the visible page of the table which is having filter in the header"
I have a table in which i display 5 rows per page.If searched for a value it is fetching results from complete data table.it has to search only from the displayed page in tabulator.

[2020-01-14 16:31] BillMeyerRSA opened #2586 "Fix Typo in column visibility documentation"
**Website Page**
http://tabulator.info/docs/4.5/columns#visibility
**Describe the issue**

[2020-01-15 10:44] Portur opened #2588 "Change search criteria when HeaderFilter results is zero"
**The problem**
Searching for values using the headerFilter feature is either inaccurate using a "like" search or too precise using the "equal" search. Using both would be perfect. At the moment if an "equal" search returns no results, there is no option to detect 0 results and automatically research using a "like" search

**Describe the solution you'd like**
Currently we have : `headerFilterFunc:

[2020-01-15 13:58] eltomjan opened #2589 "Missing CSS selector"
There is red cell border set like this:
[code]
But selector in use reported by FF & Chrome is:
.tabulator-row .tabulator-cell.**tabulator-editing**.tabulator-validation-fail

With this selector I can get red border in both FF & Chrome, change tested on simple table in tabulator_bootstrap.min.css, but it looks like all sheets have same problem.

[2020-01-15 14:31] waelghazie opened #2590 "Tree toggle button is duplicated on update row"
Hi,
I'm using tabulator as a tree and adding data dynamically (lazy loading) and I having a problem when updating a row; the collapse icon is duplicated in place. I'm using row.update function to update row under the dataTreeRowExpanded callback. What is wrong/missing with my setup?

**Tabulator Info**
- Version: 4.5

**Working Example**
https://jsfiddle.net/waelghazie/jntpu17w/2/

**To Reproduce*

[2020-01-15 17:35] rajibulhuda opened #2591 "Average on Column Calc Has BUG"
Dear @olifolkerd ,
![Screenshot from 2020-01-15 23-27-48](https://user-images.githubusercontent.com/59895817/72456841-a600c080-37ef-11ea-8a27-3c0ee4003c20.png)
Please check this fiddle:

https://jsfiddle.net/RajibulHuda/6pvqnuok/16/
When using column definition like below:
{title:"Order Qty", field:"OrderQty", headerFilter:"input", bottomCalc:"avg" , bottomCalcParams:{precision:0}, headerVertical:

[2020-01-15 21:08] jjech commented on #2581
This build failure appears to be linked to something specific to my user context. Tabulator builds successfully using the gulp4 branch when outside of my user context, such as directly in a clone of the tabulator repository, or as a node_module for another node app that isn't the one I'm working on.

Closing as not enough info...

[2020-01-15 21:08] #2581 closed

[2020-01-15 23:25] lambdadbmal commented on #2518
I have a same issue on Tabulator 4.5.3. (Google Chrome 79.0.3945.117)

[2020-01-16 07:35] kieranfish commented on #1818
Hi Oli, would it be possible to create an option to allow the top-level header to scroll horizontally as well? I've posted a question on Stack Overflow, but after a day of fiddling, I'm not sure that it's possible.

Here's a simple jsfiddle to illustrate the current behaviour:
https://jsfiddle.net/Kieran123/kuocqgr0/1/

Essentially, I'd like the "gender  |   50%" header rows to follow the data row

[2020-01-16 15:11] rrglomsk commented on #2576
I encountered the same issue with a similar set up (nested tables in collapsible rows). I can turn off the virtual DOM since we're displaying a limited number of rows at one time- while that fixes the scrolling reset, it presents some other issues, so I'm hoping to see this resolved too :)

[2020-01-16 15:21] exetico opened #2592 "Stick row(s) to top of table"
Hi,

_I've searched alot, and i can't find any documentation of this - but, if there's any official support for it, i'm sorry :-)_

I would like to "stick" selected rows to the top of the table, allowing the user to get a better overview of the selected items.

Example:
I've a lot of rows, with description of tables. Each row has a lot of details. Could be size, price, stock, market, and whatever.

[2020-01-16 15:28] exetico commented on #2592
Another idea, could be to hide non-selected or so - but it would support selections, from multiple pages, if so :-)

[2020-01-16 18:43] jjech commented on #2583
I was working on a PR for this, but the callback chain goes fairly deep and I wasn't having much success. I reviewed my problem and came up with an alternate solution, which was moving my setPage call to tabulator's renderComplete callback.

[2020-01-16 18:43] #2583 closed

[2020-01-17 03:27] AndrewHutcheson commented on #2157
Is this issue on the roadmap to be fixed? I can confirm it happens with the latest safari on desktop, and iPhone7 and iPhone 11.

[2020-01-17 06:56] nigels-com opened #2593 "Feature Request: UTC mode for datetime columns"
I'm having some good success using Tabulator _datetimediff_ formatter in combination with _Moment.js_.

However there is one issue I'm needing to workaround.

The timestamps I'm working with are UTC UNIX millisecond integers.  These are consumed happily via `formatterParams:{inputFormat:'x'}`, but are treated as **local time**.  I'm ten hours ahead of UTC, which I need to factor back into the head

[2020-01-17 11:40] exetico commented on #2592
After fiddling around, i realized that it make no sense to have a "send to top"/sticky function. I also spotted a old request/question, related to kind of the same thing.

I guess it would make sense to have, in the future - but i did go with the `movableRowsConnectedTables` option, and created another table, in the top of it.

**And btw;**
While trying to get it to work, i spotted a bug/problem.

[2020-01-17 11:40] #2592 closed

[2020-01-17 13:03] takuy commented on #2576
@AlphaTeal @rrglomsk See issue #2074 for a solution.

[2020-01-17 15:11] gitjocke opened #2594 "Persistence="local" not storing group propery in localstorage?"
Hi!
First of all, thanks for a awesome tabulator!

i´m trying to use the persistence setting (with grouping) in tabulator 4.5 but getting a error. Found a fix in 4.5.1 and the error disapeard when using persistenceMode:"local"..
I have the following setup:
persistence:true,
 persistenceID:"tabperstest2",
persistenceMode:"local",

Looking in localstorage (in chrome ) i see this;
tabulator-tabperste

[2020-01-18 09:50] olifolkerd commented on #2594
Hey @gitjocke

If you think you have found an error please use the bug reporting issue template, and have a read of the [Bug Reporting Guide](http://tabulator.info/community#bug) they will prompt you to provide all the info we need to help you out.

It is really important that you create a JS  fiddle or code pen that shows your table in action so we can understand the full setup.

Cheers

Oli :)

[2020-01-18 09:51] #2576 closed

[2020-01-18 09:54] olifolkerd commented on #2592
Hey @exetico

Thanks for getting in touch,

Could i ask that in future you ask questions on Stack Overflow, this issues list is reserved for bug reports and feature requests.

Have a look at the [Frozen Rows Documentation](http://tabulator.info/docs/4.5/layout#frozen-row) it shows you how to freeze a row to the top of the table by calling the ***freeze*** function on the row component:

[code]

Be

[2020-01-18 09:56] olifolkerd commented on #2593
Hey @nigels-com

Thanks for the suggestion, i will look into this in future, or feel free to [Submit a Pull Request](http://tabulator.info/community#pullrequest) yourself.

Cheers

Oli :)

[2020-01-18 10:01] olifolkerd commented on #2591
@rajibulhuda

This is happening because you are storing your numbers as strings rather than numbers. the average column calculation expects the input to be a number type rather than a string

Cheers

Oli :)

[2020-01-18 10:01] #2591 closed

[2020-01-18 10:01] olifolkerd commented on #2590
This has been resolved on the 4.6 branch which will be released in a few weeks.

Cheers

Oli :)

[2020-01-18 10:01] #2590 closed

[2020-01-18 10:03] olifolkerd commented on #2589
That extra selector shouldn't be needed.

All that denotes is that the cell has the class of 'tabulator-editing' and 'tabulator-validation-fail'.

The order of the class definitions in the CSS means that the validation fail takes precedence

[2020-01-18 10:03] #2589 closed

[2020-01-18 10:06] olifolkerd commented on #2585
Hey @sri-lekha

Thanks for getting in touch.

Could i ask that in future you use stack overflow to ask questions, this issues list is reserved for bug reports and feature requests.

Im afraid that this is not possible in tabulator itself, filters are applied to all data and then paginated.

To acheive your results you would need to manipulate your data outside of Tabulator and then pass the result

[2020-01-18 10:06] #2585 closed

[2020-01-18 13:07] rajibulhuda commented on #2591
Thank you very much! Haven't notice that 🙄!

[2020-01-18 15:19] rajibulhuda commented on #2591
Hi @olifolkerd ,

Basically problem is for the JSON encoded data comes from php and mysql, the encoded data always come in double quote, i.e., as string, is there any way to remove double quote for particular field from json encoded data? Moreover sum,min, max works great in tabulator with the encoded data but the problem is only for Average .

Thanks & Regards
Rajibul

[2020-01-21 03:32] cantstoplovingu opened #2595 "Spelling error on autoColumns's default value, the fakse should be false"
**Website Page**
[options#columns](http://tabulator.info/docs/4.5/options#columns)

**Describe**
Spelling error on autoColumns's default value, the **`fakse`** should be **`false`**, right?

![image](https://user-images.githubusercontent.com/21187889/72773150-38b2bc80-3c41-11ea-8f67-f30f20c3762a.png)

[2020-01-21 04:40] AndrewHutcheson commented on #1936
Is this fixed? I tried on 4.5.3 and it seems to still be the same.

[2020-01-21 11:46] britvik opened #2596 "Select options rendered outside table when used inside Angular Material Dialog"
**Describe the bug**
Select editor options are rendered outside the table if the table is inside angular material dialog and the page is scrolled down.

When I'm scrolled on top of the page it's ok:
![image](https://user-images.githubusercontent.com/4123430/72801858-bb8c4500-3c4a-11ea-8c42-ed233bcc6d70.png)

When I scroll down, the options are not positioned correctly.
![image](https://user-images

[2020-01-21 15:32] bytemon opened #2597 "autoColumns Example Fail"
Following the autoColumns example as per below.   I get nothing (just a big gray screen).  If I define the columns, it works fine.  What am I missing?

`//define data
var tabledata = [
    {id:1, name:"Oli Bob", location:"United Kingdom", gender:"male", rating:1, col:"red", dob:"14/04/1984"},
    {id:2, name:"Mary May", location:"Germany", gender:"female", rating:2, col:"blue", dob:"14/05/1982"},

[2020-01-21 15:57] bytemon commented on #2597
Sorry - got a hold of an older version.  Works fine with 4.5.

[2020-01-21 15:57] #2597 closed

[2020-01-21 19:01] david-simoson commented on #2441
I would like to see this issue fixed as well if possible.

[2020-01-22 11:11] gitjocke opened #2598 "Persistence setting for tabulator in version >4.5"
I want to use persistent grouping using tabulator 4.5.
After viewing Stack Overflow i found a fix using 4.5.1(can't find it right now) since i was getting an error "data is not defined" when using "local"-setting
Reference 4.5.1 and set persistenceMode:"local" made the error disapear and i could see 3 settings for persitence in console: Filter,Sort,Column? Should there be one for grouping, and Pag

[2020-01-22 16:07] kellimarks commented on #2580
I also need this

[2020-01-22 19:16] gusmattos1 opened #2599 "Hide and Show groups of rows inside the table freezes the screen for few seconds"
**Describe the bug**

When Hiding or showing a group of rows inside the tabulator the screen freezes for 5~10 sec

After checking the code we noticed that on the end of the functions inside Tabulator.js -> Group.prototype.show() and Group.prototype.hide() a call for the function: this.groupManager.table.rowManager.checkClassicModeGroupHeaderWidth()

the function checkClassicModeGroupHeaderWidth()

[2020-01-22 22:16] olifolkerd commented on #2598
Hey @gitjocke

Thanks for the info.

It looks like you have found a bug there, i will get it fixed for the next release.

Cheers

Oli :)

[2020-01-22 22:17] olifolkerd commented on #2580
Im afraid there is no way to scroll the table when pagination is enabled, the two modes are incompatible.

[2020-01-22 22:17] #2580 closed

[2020-01-22 22:28] olifolkerd commented on #2599
Hey @gusmattos1

Im afraid the link you posted to your Code Pen, points to a broken pen, the code inside is non functional. it appears to contain part of the Tabulator library. The point of the code pen is for you to provide an example of your issue in action so that we can understand how your table is configured and how it results in the issues present.

The issue you are experiencing is likely b

[2020-01-22 22:28] #2599 closed

[2020-01-22 22:29] olifolkerd commented on #2595
Hey @cantstoplovingu

Good spot! i will get that fixed in the next update.

Cheers

Oli :)

[2020-01-23 11:23] asterisk37n opened #2600 "Mutator example function gets wrong argument"
**Website Page**
http://tabulator.info/docs/4.0/mutators

**Describe the issue**
Example snippet has a bug. It gets params, but it expects to get mutatorParams. Snippet should be fixed by replacing params with mutatorParams in arguments (or mutatorParams with params in code).

[code]

[2020-01-23 18:35] dvcsiky opened #2601 "Feature Request: "Header Manager""
Hello. Thanks for the great work.

I have the problem of trying to reinvent the selection functionality. :)
(The reason for this is that I need separate row click and selection functionality, with custom checkbox renderer.)

I have two issues with this so far.
* One is that while you left an example over at Stack Overflow where `titleFormatter` also receives `cell`, `formatterParams`, and `onRende

[2020-01-24 11:56] britvik opened #2602 "persistenceWriterFunc not called on next/prev page"
**Describe the bug**
**persistenceWriterFunc** is not called when you change the page via buttons next/prev.

**Tabulator Info**
- 4.5.3

**Working Example**
https://codepen.io/britvia/pen/gObEaYZ

[2020-01-24 15:06] maximp68 opened #2603 "rownum not updated on row added or moved"
Hi,

tabulator 4.5 (latest from cdn).
1 column with formatter rownum

when adding/deleting/move rows, the rownum column become inconsistent.

See this jsFiddle:
https://jsfiddle.net/maximp68/9cxkzhg2/15/

1) move a row with the handle: the rownum column keeps original values (numbering inconsistent)
2) click a row and trigger an addRow above the clicked row: the new row gets correct rownum, but al

[2020-01-24 15:17] exetico commented on #2592
Hi Oli

Thanks for the quick answer, and I'm sorry for stealing your time. However, i did search for a few hours, with absolutely no results. However, it was as single as using `frezze` as a search terms - instead of the 50+ others, i did try :-)

Therefore, i created this ticket, to submit a feature request.

Thanks for pointing me in the right direction. I'll give it a try.

_I searched on both

[2020-01-24 17:45] mccmoses commented on #272
This code is no longer valid since the release 4.0.

What would be the new syntax?

[2020-01-24 22:51] jcramirez commented on #1631
Hi I just had this issue. This is how I fixed it.

1. `npm i moment`
2.  I am using electron so I had to this:
[code]

Hope that helps.

[2020-01-27 10:54] sriramkrishnailla opened #2604 "Mobile Device"
Detecting window size of a browser and moving Status and Edit coumn to after Count Column and changing table layout to "fitDataFill". But on first time loading it is not displaying Status and Edit column and then after changing device it is working fine. How to make that work on first time.

**Tabulator Info**
Version : 4.5

**Working Example**
$( window ).resize(function() {
            var width

[2020-01-27 17:40] cfarmerga opened #2605 "React formatter isn't re-rendering after an edit"
**Describe the bug**
I am trying to use ReactTabulator in a react project, and see that my reactFormatter formatters aren't getting re-rendered after an edit.  I expected to see the cell re-rendered correctly after editing.

**Tabulator Info**
react-tabulator v 0.10.3

**Working Example**
This codesandbox link has an example. If you click to edit a cell, the cell formatter never re-runs to regener

[2020-01-27 17:55] cfarmerga commented on #2605
It looks like `onRendered` is only being called the first time the table is created, so the content isn't getting rerendered inside `reactFormatter`.  I have a workaround replacement for `reactFormatter` that seems to work to populate my cells, although it feels somewhat silly.  I guess maybe I don't understand when onRendered should be called inside the formatter.

[code]

This workaround is in:

[2020-01-28 08:36] KES777 commented on #1630
At [section](http://tabulator.info/docs/4.5/update#alter-add) `Update or Add Data`:

passing

[2020-01-28 08:47] KES777 commented on #1630
On [page](http://tabulator.info/docs/4.5/update) links to `Row component` are broken: http://tabulator.info/docs/4.5/update#component-row

[2020-01-28 10:38] KES777 opened #2606 "Error in clipboard mutation"
This [call](https://github.com/olifolkerd/tabulator/blob/master/dist/js/tabulator.js#L11948)

    output.push(self.table.modules.mutator.transformRow(row, "clipboard"));

is useless because of next condition:

    if (mutator && updatedData) {

the call has no third argument so `updatedData` is false and method does nothing

Actually I come here with different issue. Doc [says](http://tabulator.in

[2020-01-28 10:42] mikehobson opened #2607 "Possible issue with select rows"
Hi, Oli

Im trying to make selected rows appear in two seperate tables (on different web pages) and also my table to retain the rows on refresh and I have an odd problem which im not sure is me or a fault

So I have a table construct which has an index of matchid and runs a function when a row is selected or deselected

`         index:"matchid",
           rowDeselected:function(row) {updaterow()

[2020-01-28 10:47] KES777 commented on #2606
![_](https://user-images.githubusercontent.com/799021/73257198-facb1080-41cb-11ea-89bc-bed817110712.jpg)

A field mutator knows itself which field **or fields** it needs to mutate.

So this code is not useful. Just makes inconveniences

[2020-01-28 11:25] olifolkerd commented on #2606
Hi @KES777

This is totally necessary, it depends on when the mutator is called as to whether there is updated data or not.

If it is called on the initial data load there is no updated data.

If it is called as a result of an edit then there IS updated data.

The purpose of the undefined check is to prevent mutators being called on columns that havnt been updated when an edit occurs on other cell

[2020-01-28 11:28] KES777 commented on #2606
you are not correct. If you call it for initial data you do next:

![_](https://user-images.githubusercontent.com/799021/73260206-1c2efb00-41d2-11ea-9766-17046ad0ffc0.jpg)

[2020-01-28 11:31] KES777 commented on #2606
for this purpose is better to cycle over modified fields and not all fields of the row (see line 20690)

[2020-01-28 12:12] olifolkerd commented on #2606
ahh, appologies,

I misread your initial post, you are correct, there is an issue in the clipboard mutator that is not passing in the data it should be.

There is definitely an issue that the clipboard mutator should being passed in the value. i will look into resolving that in the next release.

The Docs section that you have quoted is still valid, yes the column knows which mutator it is using,

[2020-01-28 14:51] ttraguth commented on #2492
Hi folks,

we also see some strange behaviour when scroller large lists in nested views.
While data is loaded asynchronously the scrolling stops at a certain point (especially in older Browsers). Also on Chrome the rendering of the large list appears jerky.

Any news on this?
A fix would be higly appreciated.

Thanks and cheers.

[2020-01-28 15:51] britvik opened #2608 "Select options close on scrollbar click in Internet Explorer"
**Describe the bug**
I have a column with **select** editor. If there are many options (values) there is a scrollbar. But if I click on the scrollbar or arrow (to move down in the list), it disappears. Works in Chrome.

**Tabulator Info**
- 4.5.3

**Working Example**
http://tabulator.info/examples/4.5#editable
- Try to change the location to Japan (last in the list), without using mouse scroll. Cl

[2020-01-28 21:40] ghost opened #2609 "resize column without scroll bar, adjust neighboring column width to offset change"
Hello,

I would like to submit a small idea that could make the use of "Tabulator" easier.

Currently, the possibilities to resize a column are: either to have a scrollbar or to hide a column completely.

The idea would be that when you resize a column, the column next to it also resizes automatically, so that the table takes up all the available space.

This will keep as many columns as possible,

[2020-01-29 02:28] schmidty1913 opened #2610 "Add Insert Row Form at Bottom of Table"
Table parameter to automatically add an "Add Row" button to the bottom of the table.

![image](https://user-images.githubusercontent.com/24723142/73323014-a6e01c00-420b-11ea-89e7-75b687111098.png)

Clicking on the "Add Row" button adds a row of fields above the pagination controls that utilize the default editors or editors defined in the header. The button then changes to an "Insert Row" button.

[2020-01-29 05:55] dmahoney1213 opened #2611 "Remove all filters for a specific field"
*Is your feature request related to a problem? Please describe.**
I am currently using a range slider and am stuck as I cannot easily clear the previous values filters.

**Describe the solution you'd like**
table.removeFilter("field")

**Describe alternatives you've considered**
1. The ability to update a filter to a new value
2. Being able to remove a filter without reloading the table

**Additio

[2020-01-30 00:57] dmahoney1213 commented on #2611
[Related question on stack](https://stackoverflow.com/questions/59977641/tabulator-range-slider-to-update-filter)

[2020-01-30 12:45] ciaasteczkowy commented on #1437
Hello,

I noticed that when I don't provide fixed height for the Tabulator and try to use frozen columns, only the columns headers and first row are behaving correctly. All following rows are lagging behind when I scroll the table.
![tabulator](https://user-images.githubusercontent.com/509463/73450818-294e1480-43a1-11ea-9117-c1723fb9e37b.gif)
It doesn't matter what theme or style I use, when I set

[2020-01-30 14:32] waelghazie commented on #2518
The problem is present under chrome 79 , Tabulator 4.5. But OK in Firefox 71.

[2020-01-30 23:36] Tudodesk opened #2612 "Improved table updateData upon data refresh."
When a table is first initiated the setData method creates the table. Some users will have some sort of procedure to poll or update the table from the server - We certainly do.

Updating the data in the table is where it seems some improvements could be made. At the moment we have replaceData, updateData and updateOrAddData.

It would make sense that one of the above methods should carry out the f

[2020-01-31 21:12] Tudodesk commented on #2612
We crafted some code of our own. There has been a suggestion that the reactive module will handle this. I still feel that the basic table should be able to manage the update of server data - out of the box, using one of the existing functions (see my initial post)

The code below updates existing data, re-applies the current filters (this sifts out any new data that does not match the current filt

[2020-01-31 23:14] Tudodesk commented on #2612
https://stackoverflow.com/questions/59994928/how-to-update-table-and-apply-existing-filters/60011377#60011377

[2020-02-01 21:59] Tudodesk commented on #2612
There is also may be a bug, updateOrAdd and Replace both reset the scroll pos to the top. In the docs it specifics:

_The replaceData function lets you silently replace all data in the table without updating scroll position, sort or filtering_

This does not seem to be the case. All of the update functions re-set the scroll pos all but update which does not.

[2020-02-02 14:41] olifolkerd commented on #2596
Hey @britvik

This is because the element is appended directly to the body of the page rather than the table itself, which allows it to overflow the edge of the table smoothly.

You could call the ***cancelEdit*** on the cell component on scroll if you want to block this behaviour.

Cheers

Oli :)

[2020-02-02 14:41] #2596 closed

[2020-02-02 14:42] olifolkerd commented on #2600
Hey @asterisk37n

Thanks for pointing that out, i will fix it on the next site update.

Cheers

Oli :)

[2020-02-02 14:43] olifolkerd commented on #2601
Hey @dvcsiky

This functionality is already built into Tabulator. Checkout the [Select Rows With Tickbox Example](http://tabulator.info/examples/4.5#selectable-tick)

This has special formatters that are tied into the select module that get round these limitations.

Cheers

Oli :)

[2020-02-02 14:43] #2601 closed

[2020-02-02 14:45] olifolkerd commented on #2602
Hey @britvik

Thanks for the headsup, i will get that fixed in the next release.

Cheers

Oli :)

[2020-02-02 14:47] olifolkerd commented on #2603
Hey @maximp68

Thanks for letting me know, i will look into fixing this in a future release.

Cheers

Oli :)

[2020-02-02 14:48] olifolkerd commented on #2604
Hey @sriramkrishnailla

Please share a link to a JS fiddle that shows the issue in action, it is very hard to see what is going on from large unformatted blocks of code.

Cheers

Oli :)

[2020-02-02 14:49] #2605 closed

[2020-02-02 14:51] olifolkerd commented on #2607
Hey @mikehobson

Thanks for getting in touch,

Could you have a quick read of the [Bug Reporting Guide](http://tabulator.info/community#bug). In order for us to help you out we need to see a JS Fiddle or Code Pen of a mimum usage case that replicates the issue without the rest of the site code.

Cheers

Oli :)

[2020-02-02 14:54] olifolkerd commented on #2608
Hey @britvik

Thanks for the info, my first suggestion would be to stop using IE 🤣

But on a more serious note i will have a look into that for a future release.

Cheers

Oli :)

[2020-02-02 14:58] olifolkerd commented on #2610
Hey @schmidty1913

Thanks for the suggestion.

I deliberatly keep the footer empty, there are a huge number of buttons that users could want in the footer, and rather than clutter the code base with 100's of options i allow users to set their own [Table Footer](http://tabulator.info/docs/4.5/layout#footer) and then they can add anything specific to their usage case.

It would be very simple for yo

[2020-02-02 14:58] #2610 closed

[2020-02-02 15:01] olifolkerd commented on #2611
Hey @dmahoney1213

You can already do this with the ***clearHeaderFilter*** function on the table itself to clear all header filters:
[code]

The ability to clear specific header filters per column is coming in the 4.6 release.

Cheers

Oli :)

[2020-02-02 15:01] #2611 closed

[2020-02-02 15:04] olifolkerd commented on #2612
Hey @Tudodesk

Most of this is already handled by the replace data, the only issue is that you would have to reapply filters after the data is loaded.

The scrolling is likely due to your table not having a height set, which when the table is redrawn results in it momentarily having no height.

Without a specific JS fiddle it is hard to offer correct advice.

Cheers

Oli :)

[2020-02-02 15:04] #2612 closed

[2020-02-02 15:16] britvik commented on #2596
@olifolkerd hey, thanks for the reply.
But the thing is, I did the scroll **before** I even clicked on the cell. Your advice would work if I scrolled after editing started. (You can't even scroll when material dialog is open).

So the repro is:
1. Scroll the page
2. Click the button that opens modal dialog.
3. Click the cell.
4. Element is rendered in the wrong position.

If this can't be solved g

[2020-02-02 15:20] britvik commented on #2608
@olifolkerd I honestly agree with your suggestion 😄. Unfortunately I have to support it 😭

[2020-02-02 15:25] olifolkerd commented on #2596
hey @britvik

Im not seing that issue my end, could you post a link to a JS fiddle that replicates it, and provide a bit more information about your browser / OS?

Cheers

Oli :)

[2020-02-02 15:26] Tudodesk commented on #2612
Hi Oli!

Thanks for your kind help.

This is a bit strange.

We have the height set in our CSS - Looking at the docs this seems correct

[image: image.png]
The height is set on the tbl element we initialize on?

Also right now the only way we can make things work is with updateOrAdd
(although we have to use our own code to remove dead rows) then re-apply
filters

Replace data seemed to lose the se

[2020-02-02 15:30] olifolkerd commented on #2612
are you filtering the data after the replace? if so that will reset the scroll position

[2020-02-02 15:36] Tudodesk commented on #2612
Strangely enough. We do re-apply the filters - But that is something we had
to add - to remove the new rows that get added.

BUT.

We stepped through the code in chrome debugger. And the moment we call
replace or updateOrAdd - It resets the scroll pos.

So the filter re-apply did not even run

   var f = table.getFilters();
                table.updateOrAddData(data); //replaceData //####This
trig

[2020-02-02 15:57] britvik commented on #2596
@olifolkerd Here you can replicate the issue: https://stackblitz.com/edit/tabulator-inside-material-dialog
OS win10
Browser Chrome 79.0.3945.130

[2020-02-04 08:46] flexphperia commented on #2492
Are there any news with this. Tabulator is unusable on mobile with this bug

[2020-02-04 15:31] afatsoum opened #2613 "display ajaxLoader when updating or setting table data externally"
I couldn't see anywhere how i could display the ajaxLoader modal when updating table data. It seems to only work on the initial data loading.

I am trying to update data subsequently from an external ajax call:
`table.updateData([{id:1, name:"bob"}]);`
or
`table.setData(data);`

Is there any example how I display the ajaxLoader when i update/set table data from external ajax call?

[2020-02-05 10:51] dvcsiky commented on #2601
Thanks for the follow up.
You actually repeated what I've written but no actual suggestion how to replace the `input type="checkbox"` with something post-1999-ish.

[2020-02-06 06:37] kreamas opened #2614 "Scrollbar is always on bottom when loading a table in Tabulator"
Everytime I load a table, the scrollbar appears at the bottom of it.

Why is it happening? Is there a way I can set it to the top of my table?

Thanks in advance

[2020-02-06 12:19] xola123 opened #2615 "Change properties after creation of table"
Hi, maybe I am just too blind to find the answer.

How can I set a property, say "moveableRows", to false when a button was clicked?

I am searching for an function like "table.disableOption("moveableRows")" or "table.disableRowMove()" or such.
Only found the "table.Move(i)" function so far.
Thank you in advance!

Greetings, xola

[2020-02-07 11:53] magedan commented on #2507
Same for the topCalc

[2020-02-10 14:34] matt-cook commented on #916
This would be hugely helpful. Was it closed as resolved? I don't see anything in the documentation.

[2020-02-10 14:48] AlexanderPD opened #2616 "Column width skyrocket outside any bound when resizing"
I just found out that in my configuration, a simple resize of a column triggers "something" that make tabulator endlessly increase its width.
My guess is that the autoredraw function increased its width and recalls itself increasing again its width an go on..

I'm using Tabulator 4.5.1 with the latest Chrome browser

To reproduce the problem..

- create Tabulator inside a table's td tag
- use layo

[2020-02-10 17:07] ricardogffcouto opened #2617 "rowSelection possible for visible and active rows"
**Is your feature request related to a problem? Please describe.**
I would like to be able to select/deselect only visible or active rows in a rowSelection header.

**Describe the solution you'd like**
Maybe a parameter which would allow me to indicate exactly which rows I would like to select/deselect (all, visible or active).

**Describe alternatives you've considered**
I modified tabulator.min.

[2020-02-11 10:07] nirhu opened #2618 "Cell with editor: 'number' treats 0 and 'empty' weirdly"
**Describe the bug**
Typing and deleting value 0 has weird behavior.

**Tabulator Info**
v. 4.5.3

**Working Example**
https://codepen.io/nirhu/pen/OJVVodz

**To Reproduce**
1. Click on the cell and enter number 0
2. Click away (lose focus)
3. Click again on the cell and delete 0
4. Click away (lose focus) - the 0 shows up

To make the cell empty now you have to:
5. Enter any number (e.g. 1)
6. Cl

[2020-02-11 10:44] AlexanderPD commented on #2613
i wanted to do the same thing, but instead of having the standard loader (witch is annoying if you use the option to load data on user scrolling because all the table flashes with the dark loader) i preferred to display and hide a custom loader outside the table.

If your loader is inside a div with id "table_loading" you can use this code inside your tabulator config:

[code]

[2020-02-12 19:39] blankbadge opened #2620 "table.getSorters() and dataSorted callback do not return all sorters"
Hi Oli,

When clicking multiple table columns one after another, sorting each in sequence, my expectation is that querying the current sorters would return an array containing each sorter being applied.  But I always get back an array of only one object, representing only the last applied sort.

Based on documentation, it sounds like table.getSorters() as well as the sorters value in the dataSorte

[2020-02-12 20:40] roypardi commented on #2518
I'm seeing this in **Electron 8.0.0** (Chromium 80, V8 8.0, and Node.js 12.13.0) on macOS 10.14.5.

And reproducible in Google Chrome Version 79.0.3945.130 (Official Build) (64-bit) at this page:
http://tabulator.info/examples/4.5#editable

If anyone finds a workaround, please post it here.

[2020-02-13 09:26] vabene1111 commented on #2518
I use the following function to automatically highlight to code once the cell is clicked so users dont have to double click. Its not a great solution and only works for some fields but it does the job

[code]

[2020-02-13 14:50] roypardi commented on #2518
@vabene1111  – thanks! That seems to work.

I set it for double-click so: single click makes field active, double-click makes field active, selects all contents AND is editable!

[code]

[2020-02-14 01:45] jjech opened #2621 "new header filter type to select multiple filter values"
This seems to be a fairly popular request as it has been asked about several times over the years, so I wonder if it would be worth adding as a feature to tabulator in some form.

Some examples of the request:
https://github.com/olifolkerd/tabulator/issues/527
https://github.com/olifolkerd/tabulator/issues/1511
https://github.com/olifolkerd/tabulator/issues/1759

I also opened (and answered) [a qu

[2020-02-14 20:49] vec2k4 opened #2622 "rowSelectionChanged shouldn't be called with empty selection"
Hi Oli,

first let me thank you very much for your work on tabulator, I really appreciate it!

**Describe the bug**
When using options
[code]
the ```rowSelectionChanged``` callback fires twice if one row is selected or a selection is changed using shift key. First call is with empty ```data``` and ```row``` parameters, second call reflects the current selection.

**Tabulator Info**
Version 4.5.3

[2020-02-15 17:42] olifolkerd commented on #2609
Hey @Pristio

Thanks for the suggestion, I like the idea and will consider it for a future release.

Cheers

Oli

[2020-02-15 17:44] olifolkerd commented on #2613
Hey @afatsoum

The ajax loader only appears when data is loaded over ajax (due to the time it takes to make an ajax request). There is no need to do it when not updating over ajax as the update should be prety much instantaneous if you have configured your table correctly.

Cheers

Oli :)

[2020-02-15 17:44] #2613 closed

[2020-02-15 17:45] olifolkerd commented on #2614
@kreamas If the width of your columns exceeds the width of the table then the scroll bar will be displayed.

It is a standard horizontal scroll bar and it is up to the browser where it puts it, which conventionally is at the bottom of the container.

Cheers

Oli :)

[2020-02-15 17:45] #2614 closed

[2020-02-15 17:46] olifolkerd commented on #2615
Hey @xola123

Some properties cannot be changed after the table has been created, due to the complexity involved in changing their configuration.

If you want to change that property i recommend you destroy the old table with the ***destroy*** function and then recreate your table with an updated constructor options object.

[code]
I hope that helps,

Cheers

Oli :)

[2020-02-15 17:46] #2615 closed

[2020-02-15 17:52] olifolkerd commented on #2616
Hey @AlexanderPD

It is because you are trying to use a textarea formatter for your title formatter. This is not a valid combination and shouldnt be needed. If you take that out you will be all good,

Cheers

Oli :)

[2020-02-15 17:52] #2616 closed

[2020-02-15 17:54] olifolkerd commented on #2620
Hey @blankbadge

It would return multiple sorters if you had shift clicked on the columns applying multiple sorters simultaneously.

Clicking one sorter and then another simply replaces the previous column sort with the next.

Cheers

Oli :)

[2020-02-15 17:54] #2620 closed

[2020-02-16 16:45] olifolkerd commented on #2596
@britvik Thanks for the demo, This is because the select dropdown is appended directly to the body of the table.

It is expected behaviour.

Cheers

Oli :)

[2020-02-17 10:14] taniamm20022 commented on #346
h

Hi I am so sorry sorry for bothering you, but

foe example in my options I set
ajaxSorting: true,
then where should I sent the column names that should be sorted and if it should be asc or desc
I tried in my pagination data sent as I use  ajaxProgressiveLoad

paginationDataSent: {
page: 'page',
size: 'per_page', // change 'size' param to 'per_page'
columns: [
{
column: column,
field: "age",
dir

[2020-02-17 14:21] AlexanderPD commented on #2616
thank you @olifolkerd for your answer.. but removing that titleFormatter didn't help! I also tried setting it to html, plaintext and also rowSelection, but it cannot fix that problem

I also tried inside the jsfiddle i posted and it cannot work :(

[2020-02-17 14:43] taniamm20022 commented on #1901
Hey,

Sorry for bothering you can you share what kind of parameter you you use in you server side code
so you can get the column name and the order - desc or asc which you have clicked for ordering.  I mean when I set ajaxSort: true I see that it triggers a call to my api but I cannot get any other info So i can  sort the data on server side.

s

[2020-02-18 23:25] nrayburn-tech opened #2623 "Issue using updateColumnDefinition"
I looked at your roadmap just before submitting this and it looks like the updateColumnDefinition function got moved into "The Future" category.  If that is the case, then this can be closed.

**Describe the bug**
I am attempting to use the updateColumnDefinition to change a column.  When calling the function like `table.updateColumnDefinition('fieldName', {title: 'new title', width: 300})`, I don

[2020-02-19 08:34] AlexanderPD opened #2624 "Column width skyrocket outside any bound when resizing - 2° attempt"
**Describe the bug**
I'm opening again an issue since the old was closed with a solution that, sadly, don't fix the problem. It was suggested to remove textarea formatter from title formatter, but as you can see in the JSFiddle posted here, thats not the cause of the issue.
The problem is, with my configuration, resizing a column makes the next column endlessly enlarge its width

**Tabulator Info*

[2020-02-19 09:15] Portur commented on #2588
@olifolkerd Thanks for the answer on Stackoverflow. Changing the search criteria when resulting rows is 0 works.

However the ideal solution would be to have the dropdown filter its results based on the value in the headerFilter. Is this possible?

[2020-02-19 16:39] ecthelion07 opened #2625 "Tabulator performance"
**Describe the bug**
We are currently using Tabulator in one of our commercial products and might have found a performance issue whenever we define a table that has a decent quantity of rows and columns and the virtual DOM setting on.

Chrome seems to be showing performance warnings as a result of that as well, please see attached:

![image](https://user-images.githubusercontent.com/4159643/748530

[2020-02-19 17:32] rotht2 opened #2626 "Grouping headers are printed out after grouping has been removed from the table from xlsx download"
**Describe the bug**
With a set of ungrouped data, apply a grouping and export that table to xlsx.
Remove the grouping, and export the table to xlsx
Open the latter xlsx file and note that there are groupings in the file, yet they are not present in the table.

The underlying problem is that there is state that is set to true the first time you download to xlsx with groups. This state is never res

[2020-02-20 08:04] sri-lekha opened #2628 "Is it possible to put a nested accordion table with different columns in the child table in Tabulator."
Is it possible to put a nested accordion table with different columns in the child table in Tabulator.

I'm trying to put a child table with different columns when a row is expanded from a parent table having different columns.Is it possible.please let me know how can we achieve this

[2020-02-20 08:11] sri-lekha opened #2629 "How can we achieve designing this.Please suggest"
![image](https://user-images.githubusercontent.com/23474544/74913441-9af70c80-53fb-11ea-885e-cf181c9bd515.png)

[2020-02-21 03:39] 8483 commented on #2463
Hello @olifolkerd,

Can you please include a functional component example in the documentation?

I am trying to implement it, but I can't get it to work.

[code]

[2020-02-21 13:03] Lexiebkm commented on #1631
@jcramirez Thank you for mentioning the statement:
` window.moment = moment`
I use tabulator in my React app and need moment.js to provide date formatting in the grid. It solves the problem.

[2020-02-21 15:53] darkbdlz commented on #2409
I tried the code that paulcsf it did not work. Also, I am still confused about why Tabulator filters the table then reverts it on a keypress? I tried messing with the keypress function but it did not prevent the table from reverting.

[2020-02-21 16:17] darkbdlz opened #2630 "custom header filter does not appear if the column is disabled and reappeared"
**Describe the bug**
A clear and concise description of what the bug is.

**Tabulator Info**
- Which version of Tabulator are you using?

**Working Example**
YOU MUST include a link to a JS Fiddle or Codepen that demonstrates the problem, it is very hard to diagnose an issue from a simple description.

**To Reproduce**
A step by step guide to recreate the issue in your JS Fiddle or Codepen:
1. Go

[2020-02-21 16:18] #2630 closed

[2020-02-21 16:20] muneeb706 opened #2631 "Data Download Progress Indicator"
Download data / table functionality for large data ( >500000 ) takes time. Browser takes a lot of time to display the downloaded file for such table. There should be a mechanism to display download data progress. I have tried using downloadComplete callback for this purpose but, that callback gets triggered before the file is actually downloaded.

[2020-02-21 20:46] muneeb706 opened #2632 "Package Format Download"
If the data is larger than the threshold then data can be splitted into multiple files and all of these files can be packaged in zip file or anyother packaged format.

User can be given an option to set the threshold e-g 1M and split data accordingly.

[2020-02-22 05:05] schmidty1913 opened #2633 "Bootstrap 4 pagination buttons styling on Custom Pagination Control Element"
**Describe the bug**
The Bootstrap 4 theme for tabulator does not apply to a Custom Pagination Control Element

**Tabulator Info**
v4.5.3

**Working Example**
https://jsfiddle.net/ku3vL2zq/1/

**To Reproduce**
Look at pagination in top right corner

**Expected behavior**
Format like it would when it is on the footer

**Screenshots**
![image](https://user-images.githubusercontent.com/24723142/75086

[2020-02-22 07:32] olifolkerd commented on #2633
Tabulator does not have pagination controls in the top right.

If you have manually added those then you would need to style them appropriately.

Tabulator is not responsible for styling any elements outside of the table div

Cheers

Oli :)

[2020-02-22 07:32] #2633 closed

[2020-02-22 07:37] olifolkerd commented on #2632
Hey,

Thanks for the suggestion.

I'm not sure I see any benefit in this. All files are processed in the browser so there is not actual transfer time included in the download, it is just the browser processing time.

You can also only trigger the download of one file at a time so the experience could be a bit jaring.

I also don't see any particular use case where this would be useful regularly

T

[2020-02-22 07:37] #2632 closed

[2020-02-22 13:14] 8483 opened #2634 "React Router Link component inside a Tabulator custom formatter"
I am trying to inject a Link component inside a [Tabulator table](http://tabulator.info/) cell via a [custom formatter](http://tabulator.info/docs/4.5/format#format-custom).

Nothing is shown in the cell, as seen in [the codesandbox](https://codesandbox.io/s/sad-dust-yvbu7).

Why can't the JSX be returned from a function? **How can I achieve this?**

[code]

This approach works, but it defeats the

[2020-02-24 10:36] mikeymckay opened #2635 "Typos on validation documentation"
**Website Page**
http://tabulator.info/docs/4.5/validate

**Describe the issue**
1. Applying multiple validators section has a typo: requred -> required
2. Custom validator section needs indentation tidying.

Keep up the great work!

[2020-02-24 18:07] roxuss opened #2636 "blocked setData(AJAX) doesnt showLoader() when completing request"
consecutive AJAX setData() (without waiting for the prior call to finish), within :

`
Ajax.prototype.sendRequest(silent)
`
will call console.warn("Ajax Response Blocked...").
When the prior AJAX setData() finishes, it calls hideLoader().
But when the queue'd AJAX setData() is called, it doesnt call showLoader();

Tabulator version 4.5.3
Linux Raspbian/Debian 10.0
Chrome Version 74.0.3729.157 (Off

[2020-02-24 22:13] billcava opened #2637 "DOM elements added using rowFormatter destroyed on create"
**Describe the bug**
Elements added to DOM using rowFormatter appear to be destroyed when redrawing/recreating the table

**Tabulator Info**
- 4.5.3

**Working Example**
A working JSFiddle showing the problem:
https://jsfiddle.net/black_ring_9a/5w9nhc18/

**To Reproduce**

Steps to reproduce:
1. Go to https://jsfiddle.net/black_ring_9a/1ezyp9bv/8/
2. Click on 'Expand All'
3. Notice the group summa

[2020-02-24 22:44] darkbdlz commented on #2409
@paulcsf I tried your solution but after hitting the enter key the table did not filter. Does your fix solve the issue of the table filtering then unfaltering even if both the min and max have a  value?

[2020-02-25 14:51] darkbdlz opened #2638 ""Max Min Custom Header Filter" Filters then Reverts on a key-press"
**Tabulator Info**
I am using Tabulator version 4.5.3
<link href="https://unpkg.com/tabulator-tables@4.5.3/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.5.3/dist/js/tabulator.min.js"></script>

**Working Example**
Normally I would include a JS Fiddle but if you can easily reproduce the issue on custom header filter in the exa

[2020-02-25 14:55] smiheev opened #2639 "Changing reactive data does not move focus to the next editable cell"
Hello!

**Describe the bug**
For example, editing a cell causes other reactive data to change, but the focus does not move to the next editable cell by pressing Tab key or Enter key. Moreover after changing the cell and pressing the ArrowDown key an exception occurs.

**Tabulator Info**
4.5.3

**Working Example**
A working JSFiddle showing the problem:
https://jsfiddle.net/bLt69ncm/

**To Reproduc

[2020-02-25 14:58] minceheid opened #2640 "Link formatter - no link?"
The link formatter is a great way of presenting a configurable hyperlink, and I'm using a function to customise that link according to the cell contents. However - in some circumstances, it may be useful for a link to explicitly *not* be provided (in my case, only certain values can be associated with a link).

This suggestion is that if the link formatter function returns a null/empty value that

[2020-02-25 16:55] roxuss opened #2641 "findTable() can return Array.length == 1"
[code]
Documentation says :

So code doesnt match documentation. Which should it be tho ? Docs change, or code change ?

Tabulator 4.5.3

[2020-02-25 17:05] texperts commented on #12
Its very nice but if we option to style, then it would be more comfortable.

[2020-02-25 19:54] roxuss opened #2642 "movableColumns with a select in a customer headerFilter"
I created a customer headerFilter that has a &lt;select> in it. When using the &lt;select> on a moveableColumn, unless I stay perfectly still for the 500ms (iirc) timer in the mouseDown event in the column header captured for moving the column, the colmun header will want to move.

https://jsfiddle.net/hsvyc1a8/

You will notice in the code I have commented out a mousedown evebnt handler on the <s

[2020-02-25 23:23] olifolkerd commented on #12
They are built in browser tool tips. There is no styling option for this.

If you want a more.custom experience with tooltips then I would suggest using a custom formatter function and use one of the many high quality tooltip libraries that are out there.

Cheers

Oli 🙂

[2020-02-26 05:22] 805bluebell opened #2643 "Grand total for Nested tables"
I have created a tabulator table like this (refer this [fiddle](https://jsfiddle.net/opankajkumar/yjzktq4w/))
I have already used `bottomCalc` option in the column properties. Now I have to add a Grand Total as well. No option for that.
My table is made like this
[code]
And my data is something like this
[code]

[2020-02-27 13:16] srankgit opened #2644 "issue with fitdata when in use with bulma."
**Describe the bug**
When using tabulator in conjunction with Bulma,   for some reason the  layout "fitdata" is not fully respected and part of the header ( line ) expand to fit parent.

I am afraid i am newby in bulma and tabulator. so maybe i am missing an obvious point. Sorry if it is the case.

kr.

**Tabulator Info**
4.5.3
( was in 4.3.5 with same problem)

**Working Example**
https://codepen

[2020-02-28 04:42] dcanning commented on #2628
You should ask questions on stack overflow: https://stackoverflow.com/questions/tagged/tabulator, use the "tabulator" tag, github issues are for _issues_, you'll get better response for questions on stackoverflow

[2020-02-28 04:42] dcanning commented on #2629
You should ask questions on stack overflow: https://stackoverflow.com/questions/tagged/tabulator, use the "tabulator" tag, github issues are for issues, you'll get better response for questions on stackoverflow

[2020-02-28 04:46] dcanning commented on #2631
You can do this with progressive load: http://tabulator.info/docs/4.5/data#ajax-progressive

[2020-02-28 04:50] dcanning commented on #2625
I see the issue with all chromium based browsers that I tried (chrome, brave, edge, opera).  I do not see the issue in firefox, appears to be a browser related issue.

[2020-02-28 05:04] dcanning commented on #2624
work around if you can use it is to set a width on the 2nd column, you can still resize either, but with the width on the 2nd it doesn't expand to infinity when resizing them.

[2020-02-28 05:15] dcanning commented on #2617
http://tabulator.info/docs/4.5/select#manage
`table.selectRow("visible"); //select all rows currently visible in the table viewport`
`table.selectRow(1); //select row with id of 1`
`table.selectRow(); //select all rows`

[2020-02-28 07:31] sri-lekha commented on #2629
I asked already no reply from anyone :(

[2020-02-28 07:31] sri-lekha commented on #2628
I asked already no reply from anyone :(

[2020-02-28 07:43] AlexanderPD commented on #2624
Thank you for your reply! Sadly i cannot use that work around because i need the second column to take all the free space and extend until the next column, my JSFiddle was just a (very) simplified version of the table i actually need to use (it has 15 columns with lot of customizations)

[2020-02-28 07:43] olifolkerd commented on #2625
It is just a warning triggered by the render being interrupted by the scroll. It is nothing to be concerned about.

Cheers

Oli :)

[2020-02-28 07:43] #2617 closed

[2020-02-28 10:01] ecthelion07 commented on #2625
Hi Oli / dcanning,

Unfortunately, it's not just about the warnings. Tabulator seems to have a perfomance issue under these conditions, as it seems to be quite "laggy".

Please have a look yourself in the fiddle I provided: https://jsfiddle.net/16wcLbeh/

Thank you very much!

[2020-02-28 13:47] 8483 opened #2645 "How can I create a custom link formatter in React?"
Alright, I am aware that [react-tabulator](https://github.com/ngduc/react-tabulator/issues/135) exists, I asked a question there, with no answer.

Here is a [codesandbox with the example](https://github.com/ngduc/react-tabulator/issues/135).

I wanted to ask here, as the code should work in theory. I can create a regular link (second column), but **I don't know why the React Link component is not

[2020-02-28 14:21] ricardogffcouto commented on #2617
I don't think you understood the feature request or maybe I didn't explain myself well. It was not a question, as I solved my problem, it was a suggested feature, as I can't find anything in the docs that allow me to do what I described: allow the **rowSelection header** to select only active rows. @dcanning as you describe I can't understand how to integrate the code you shown into rowSelection.

[2020-02-28 19:20] muneeb706 commented on #2631
Thanks a lot for the response,  I was able to achieve this functionality by dividing the data into chunks and then used  progressive ajax load for displaying additional data when needed.

[2020-02-28 19:20] #2631 closed

[2020-03-02 04:12] Gajendrasinh opened #2646 "Datepicker in header filter option"
I am using tabulator table in angular 8,

How can i used datepicker in header filter , want to use this package https://valor-software.com/ngx-bootstrap/#/datepicker

[2020-03-02 07:23] kkc-yuki opened #2647 "An error occurs on polyfills.js in IE11 when using with core-js library"
**Describe the bug**
When I try to use this Tabulator with core-js (https://github.com/zloirock/core-js),
the following error code appear on IE11 browser's console.

Same issue is here.
https://github.com/zloirock/core-js/issues/746

If I delete the code in ```src/js/polyfills.js```, or ```dist/js/tabulator.js``` from 20 to 177,
it works fine.

**Tabulator Info**
4.5.3

**Working Example**
Please

[2020-03-02 07:45] kkc-yuki commented on #2647
As the example code was wrong, I edited the issue.

[2020-03-03 11:52] britvik commented on #1835
@olifolkerd Hey Oli, sorry to bother you, but when could we expect version 4.6? Really need this fix. It's annoying when page gets scrolled to top on every group expand or even when adding a row :(.

[2020-03-03 13:43] olifolkerd commented on #1835
Hey.

Sorry for the delay on the 4.6 release. I've had a full on couple of weeks at work.

I will definitely have it out by the end of this month at the latest.

Cheers

Oli

[2020-03-04 18:59] rotht2 opened #2648 "Support excel formulas with SheetJS on xlsx download"
*Is your feature request related to a problem? Please describe.**
My current problem is that after exporting to xlsx i would like to allow users to change cell values and see the total update automatically with excel formulas.

**Describe the solution you'd like**
Provide a formatter that allows SheetJS to parse the value of a cell into a formula. (SheetJS does this already if the cell object valu

[2020-03-05 10:27] giplusplus opened #2649 "Tabulator and ContextMenu.js compatibility bug"
**Describe the bug**
Creating on-the-fly ContextMenu.js context menu on headerContext callback, needs double right click on the header for the menu to be displayed

**Tabulator Info**
Tabulator version 4.5.3

**Working Example**
https://codepen.io/giplusplus/pen/mdJrjqw

**To Reproduce**
1. Right Click on "Name" column header (callback function is called but no context menu is displayed)
2. Right

[2020-03-06 17:01] drivera-armedia commented on #1801
Hi! I realize this is over a year old, but I have the same problem.

This is the JavaScript snippet that I'm trying to make work:

[code]
What I'm missing is what the "clean" way would be to actually trigger the AJAX fetch for the given URL (the hash would be appended at the end of the URL, as this is for a Spring REST endpoint).

Thoughts?

I'd also have to add code to ensure that no double-fetch

[2020-03-06 18:24] drivera-armedia commented on #1801
I seem to have spoken too soon... the `row.update()` invocation causes the expansion to fail. If I remove that, the row is expanded correctly with the placeholder data from the base template.

I also tried `row.getTable().updateRow(row.getIndex(), newData)`

I also tried adding a row.reformat() invocation to the update promise...no dice...

The reason this is necessary is because we know that the

[2020-03-06 23:06] emarti20 opened #2650 "Persistence of Columns with Dynamic Values"
**Describe the bug**
In 4.4 I was using cookies for persistence storage of columns.  Today I switched to v4.5 and found that cookie storage isn't currently working as expected (#2598).  I'm populating a select for a column that pulls the values into the variable via an ajax call using the tableBuilding callback.  This issue also exists using a static list as well which is used in the example.  Aft

[2020-03-07 08:59] exetico commented on #2545
Hi @olifolkerd

I've tried to find a release-plan, or so - so i would just like to here, if we're close to the 4.6 release? I'm sorry for spending your time on non-dev things, but i'll just like to here, if it will be in this month, or so.

And oh; **Again thanks for a great solution!** I've used Tabulator for a few other projects now. And.. It's still brilliant :-)

From time to time, i found it

[2020-03-08 08:51] michaelongithub opened #2651 "Child rows API for update / insert / delete"
*Is your feature request related to a problem? Please describe.**
According to doc and a number of issues this is not the case.  Leads to clumsy workarounds and not clear if these work in all situations needed

**Describe the solution you'd like**
 extend Row Component API to extend for child rows or provide Child Row component with API for insert / update / delete.

**Describe alternatives you've

[2020-03-08 09:27] olifolkerd opened #2652 "Version 4.6 Released"
Hi Everyone,

Ive had a few people recently chasing up when the version 4.6 release will be available so I thought I would stick one post here rather than answering the same question several times.

4.6 was originally scheduled for a January 2020 release. Sadly I lost my father at the end of 2019 which left me rather unfocused for the first couple of months of 2020. and has resulted in the release

[2020-03-08 11:44] olifolkerd commented on #1946
I have just pushed this update to the 4.6 branch which will be released later this month.

[code]

Cheers

Oli :)

[2020-03-08 11:44] #1946 closed

[2020-03-08 11:50] olifolkerd commented on #1879
Having had a think about this further i think i am going to not include a toggle editor in Tabulator by default.

It doesn't really fit the current editor paradigm where editors are only made visible when the cell has focus as it would want to be always visible.

In that case it should be a formatter, but none of the formatters built in to Tabulator have editor functionality so i feel it may be in

[2020-03-08 11:50] #1879 closed

[2020-03-09 11:24] gavbaa commented on #2424
I faced exactly the issue as described in this ticket (my count and pagination properties are returned as headers from my REST API), and while I will be doing the manual workaround specified, am adding a data point for headers in the response function.

[2020-03-09 14:36] AEK-BKF opened #2653 "Option/Question : Download Only selected rows"
Hi,
Thank you so much for this great package,
I tried to find out how to export only selected rows but I think there isn't an option for that.
If so, it's useful to add this option for download feature.

Thanks.

[2020-03-10 15:18] jmeberst opened #2654 "Height required for dataTree, local pagination, and rowselection"
**Describe the bug**
When using dataTree, local pagination, and row selection height is a required field like it was in 3.3

**Tabulator Info**
- Which version of Tabulator are you using?
4.5.3

**Working Example**
YOU MUST include a link to a JS Fiddle or Codepen that demonstrates the problem, it is very hard to diagnose an issue from a simple description.
https://codesandbox.io/s/tabulator-table

[2020-03-10 17:43] tkim90 commented on #1918
Hi @nrietsch, I'm trying to do the same thing - would you mind sharing how you got it working?

Seems like you can only control if something is "editable" at the column level, not row level. So if I use the editable callback, it ends up unlocking all the rows for editing, rather than only the selected one(s).

[2020-03-11 00:48] aklaver commented on #1918
See Oli's suggestion upstream(March 25, 2019).

[2020-03-13 01:59] dmahoney1213 commented on #2611
I ran into a very similar issue as this again. This time trying to make a search functionality outside of a header filter. I do not want to use header filters due because I want more customization of where they are at on the page, what they look like, etc.
The crux of the issue again is that I cannot call setFilter as it wipes all previous filters set. Below is what I have now, which works until y

[2020-03-13 11:13] fzorin opened #2655 "Columns grouping issue"
**Describe the bug**
There is issue with column alignment if there are more than 2 level of grouped columns

**Tabulator Info**
4.5.3

**Working Example**
https://jsfiddle.net/0v9qtxen/1/

**To Reproduce**
Run snippet and check columns alignments

**Expected behavior**
Align columns with accordance width of all nested levels. See screenshots

**Screenshots**
Now
![image](https://user-images.github

[2020-03-14 20:25] schmidty1913 opened #2656 "Pagination size is not properly calculated"
**Describe the bug**
Tabulator 4.2.7

When loading a table the pagination size is not properly calculated.
It seems like the issue is due to the tabulator_bootstrap4 css
I think the issue is in the formatting of the table using bootstrap It changes the height of the rows and that is not accounted for?

If I change tabulator line 19285
`(self.size = self.table.options.paginationSize || Math.floor(s

[2020-03-15 22:59] ayman-metwally-developer commented on #565
Greetings,

But I wonder how to dynamically get all defined tables from HTML. It seems that **getElementById** doesn't return the table also.

 I can't use the table variable directly as I add/remove table dynamically and will need to loop through all tables. (I'm using GridStack which a dynamic dashboard that can contain any type of components like charts, grids .. etc.)

Any suggestions?

[2020-03-16 13:30] ranjithphptech opened #2659 "Dynamically add rows"
How to add multiple rows from selected rows

[2020-03-17 10:26] pbothra commented on #1195
Hi Oli,

I am getting following error response always , when I am creating table with pagination using ajax call .

Please review my code and let me know if I made mistake .

Error :
--------

Ajax Load Error:  TypeError: Cannot read property 'call' of undefined
    at tabulator.js:11227
    at new ZoneAwarePromise (zone.js:910)
    at Ajax.defaultLoaderPromise (tabulator.js:11207)
    at tabulato

[2020-03-17 10:27] pbothra commented on #1195
Hi Oli,

I am getting following error response always , when I am creating table with pagination using ajax call .

Please review my code and let me know if I made mistake .

Error :
--------

Ajax Load Error:  TypeError: Cannot read property 'call' of undefined
    at tabulator.js:11227
    at new ZoneAwarePromise (zone.js:910)
    at Ajax.defaultLoaderPromise (tabulator.js:11207)
    at tabulato

[2020-03-17 10:30] pbothra opened #2660 "Tabulator Ajax response error"
Hi Oli,

I am getting following error response always , when I am creating table with pagination using ajax call .

Please review my code and let me know if I made mistake .

Error :
--------

Ajax Load Error:  TypeError: Cannot read property 'call' of undefined
    at tabulator.js:11227
    at new ZoneAwarePromise (zone.js:910)
    at Ajax.defaultLoaderPromise (tabulator.js:11207)
    at tabulato

[2020-03-17 14:06] dbauszus-glx opened #2661 "Forced reflow while executing javascript."
Whenever tabulator redraws there are forced reflow warnings in the Chrome developer performance tab.

I am not sure whether there is anything which can actually be done about this. I assume that rows are drawn one by one. But I also tried to create a tabulator object in a dom element which is not yet added to the document. Once the dom element is drawn I can see the forced reflow warnings.

I assu

[2020-03-18 09:57] Gajendrasinh opened #2662 "Selectable Rows With Tickbox ticked"
How to show checkbox checked on page load.

I am using this http://tabulator.info/examples/4.5#selectable-tick example.

![image](https://user-images.githubusercontent.com/10431380/76948218-c5c47a00-6941-11ea-998b-1623feb65ba4.png)

[2020-03-18 15:32] alistairalderson opened #2663 "Using international keyboards with a comma for a decimal point"
When using a keyboard set to a European country where a comma is used as a decimal point, decimals entered with the "decimal" validator show invalid due to the comma.  Is there a work around or fix for this.  Setting the locale appears only to affect the column titles.

Many thanks in advance.

[2020-03-18 17:59] kalallit opened #2665 "Possible bug scrollToRow lo last elements of data"
When I try to scroll for example to the last row of the data and I make an arrow up to the first row and back down with the arrow down, a navigation problem arises, the scroll does not follow the navigated row.
In this example:
- Press "enter to go last Row"
- Click for example on name last row,
- Arrow up to the first row
- Arrow down
- The problem appears
https://codepen.io/kalallit/pen/ExjRpde

[2020-03-18 20:52] fbengo commented on #1562
Same problem here. setFilter seems to be filtering parents, not childs...
Is this correct?

[2020-03-19 13:05] Nazar84 opened #2667 "Documentation typo"
on the page http://tabulator.info/docs/4.5/tree#structure you have the typo:

![_](https://user-images.githubusercontent.com/56727082/77070494-ffa18900-69f2-11ea-9578-64105476df92.jpg)

[2020-03-19 13:44] felmab commented on #1184
Looks like it works only when you define row handles (Firefox 74.0).

[2020-03-19 16:34] iursevla opened #2668 "Column width increases on resize handler double click"
**Describe the bug**
When a column is resizable, on double click on it's own resize handle the column will resize and increase it's width **by 1 pixel.**

**Tabulator Info**
- **v4.5.1**

**Working Example**
[Fiddle where this bug is shown](https://jsfiddle.net/p087a6xc/ ), although that fiddle isn't mine and it's on an older version (v4.1.2) we are able to replicate the bug.

**To Reproduce**
1.

[2020-03-20 04:13] KilledDebtor commented on #120
I'm think better if it will be an autoincrement value.

For example, if u create 3 rows and remove first, next row that u create is 3.
![изображение](https://user-images.githubusercontent.com/56230793/77134875-0b845e00-6a7a-11ea-954c-2e6fcb2f4ceb.png)

[2020-03-20 05:40] pbothra commented on #2660
Hi Oli,
Please check this way I have developed tabulator pagination using angular
 queryRealm(url, config, params){

      var self = this;

      console.log("params",params);

          return new Promise(function(resolve, reject){

          self.eventItemDetailsObservable = self.serverResultsService.getEventItemDetailsForPaging(+self.setTraceId,params.limit,params.page);
          self.eventIt

[2020-03-20 05:42] pbothra commented on #2660
queryRealm(url, config, params){

      var self = this;

      console.log("params",params);

          return new Promise(function(resolve, reject){

          self.eventItemDetailsObservable = self.serverResultsService.getEventItemDetailsForPaging(+self.setTraceId,params.limit,params.page);
          self.eventItemDetailsObservable.subscribe(
              data => {
                  self.lastP

[2020-03-20 05:42] #2660 closed

[2020-03-20 18:17] fbengo commented on #1562
I tried `callingsetFilter` function on my Tabulator tree structure, in order to filter out items. It seems to only filter out top parents. Any idea how to make this work for any level (any children or parents)? http://tabulator.info/docs/4.1/tree doesn't say much about how filtering works.

**Function**

`table.setFilter('id', '=', 214659) is not returning anything...`

**Tree structure**

[code]

[2020-03-22 11:03] olifolkerd commented on #1819
I have pushed this feature to the 4.6 branch that will be released next weekend.

You will be able to enable it by setting the ***dataTreeSelectPropagate*** option to ***true***

[code]

Thanks for the suggestion!

Oli :)

[2020-03-22 11:03] #1819 closed

[2020-03-22 11:16] olifolkerd commented on #2469
I have pushed an update to the 4.6 branch to handle vertical alignment in cells. It will be in the 4.6 release next weekend

[2020-03-22 16:06] olifolkerd commented on #2509
Hey @slowsquirrel69

I have just pushed some updates to the 4.6 branch to improve formatting in printing and other export scenarios.

Version 4.6 will be released next weekend.

Cheers

Oli :)

[2020-03-22 16:06] #2509 closed

[2020-03-22 18:10] olifolkerd commented on #2667
Hey @Nazar84

Thanks for the heads up,

I will include a fix in the website update for the 4.6 release next weekend.

Cheers

Oli :)

[2020-03-22 18:10] #2667 closed

[2020-03-22 18:13] olifolkerd commented on #2618
Hey @nirhu

Thanks for the information, it is because at the moment it is doing a truthy comparison. i will look into a fix for this in the next release.

Cheers

Oli :)

[2020-03-22 18:14] olifolkerd commented on #2621
Hey @jjech

Thanks for turning this into a feature request, i think that is certainly a good idea.

I will stick it on the roadmap for the 4.7 release.

Cheers

Oli :)

[2020-03-22 18:17] olifolkerd commented on #2622
Hey @vec2k4

Thanks for the information.

I will look into fixing that for the 4.6 release.

Cheers

Oli :)

[2020-03-22 18:20] olifolkerd commented on #2623
Hey @nrayburn-tech

Thanks for the headsup, that is definitely a bug,

I will get that resolved in the 4.6 release.

Cheers

Oli :)

[2020-03-22 18:23] olifolkerd commented on #2625
Hey @ecthelion07

That is because your table has a lot of columns. That warning is not the cause of the lag, it is simply the strain of trying to draw out that many columns in one go.

Tabulators virtual DOM currently only deals with rows not columns so tables with lots of columns suffer some performance lag.

It is on the roadmap to resolve this with an overhaul of the virtual DOM in the 5.0 rele

[2020-03-22 18:23] #2625 closed

[2020-03-22 18:26] olifolkerd commented on #2628
Have a look at the [Nested Tables Example](http://tabulator.info/examples/4.5#nested-tables)

[2020-03-22 18:26] #2628 closed

[2020-03-22 18:28] olifolkerd commented on #2629
Have a look at the [Row Formatter Example](http://tabulator.info/examples/4.5#row-formatter) and [Row Formatter Documentation](http://tabulator.info/docs/4.5/format#row).

You can use the formatter to append a div containing your custom content after the cell elements.

I hope that helps,

Cheers

Oli :)

[2020-03-22 18:28] #2629 closed

[2020-03-22 18:30] olifolkerd commented on #2634
Hey @8483

The HTML you are trying to add using the formatter will be added after react has parsed the DOM and will therefor not be considered as react code.

For working with react and Tabulator there is the [react-tabulator](https://www.npmjs.com/package/react-tabulator) package that provides access to native react functionality.

Cheers

Oli :)

[2020-03-22 18:30] #2634 closed

[2020-03-22 18:35] olifolkerd commented on #2635
Hey @mikeymckay

Thanks for the heads up.

I will make sure those are fixed in the 4.6 site update.

Cheers

Oli :)

[2020-03-22 18:35] #2635 closed

[2020-03-22 18:36] olifolkerd commented on #2636
Hey @roxuss,

It dosnt queue up the ajax requests, it makes them immediately upon the ***setData*** call, if they happen concurrently it will ignore the returned result of any of the early requests and only action the final request,

Cheers

Oli :)

[2020-03-22 18:43] olifolkerd commented on #2637
Hey @billcava

This is the correct behaviour, redrawing the row will invalidate the rows contents and cause the table to trash the previous contents and call the formatter again.

Because you are storing the setting outside of Tabulator your row formatter can not then cope with the change.

If you want to put an element at the top of a group then you should either look at a custom [Group Header](h

[2020-03-22 18:43] #2637 closed

[2020-03-22 18:48] olifolkerd commented on #2638
Hey @darkbdlz

Thanks for the headsup,

I will get the example fixed for the 4.6 documentation update.

Cheers

Oli :)

[2020-03-22 18:49] olifolkerd commented on #2639
Hey @smiheev

Thanks for the info, it looks like the data reactivity is blocking the editor transition,

I will have a look into that for the next release.

Cheers

Oli :)

[2020-03-22 18:50] olifolkerd commented on #2640
Hey @minceheid

Please create a JS Fiddle that outlines you usage case.

Cheers

Oli :)

[2020-03-22 18:50] #2640 closed

[2020-03-22 18:51] olifolkerd commented on #2641
Hey @roxuss

Thanks for the info. looks like the documentation is out of date.

I will update it for the 4.6 release.

Cheers

Oli :)

[2020-03-22 18:54] olifolkerd commented on #2642
Hey @roxuss

If you dont want to trigger the move when clicking on the select editor then the stopPropagation is the correct approach to take.

I deliberately don't check the origin because i have no idea what people are going to put in the header, if it is a purely decorative element then there is no reason it should block the move. it is entirely down to you to define the user experience this wa

[2020-03-22 18:54] #2642 closed

[2020-03-22 18:56] olifolkerd commented on #2643
Hey @805bluebell

You can already do this, by setting the ***columnCalcs*** option to ***"both"*** it will also display a bottom calc for the whole table based on all rows.

[code]
I hope that helps,

Cheers

Oli :)

[2020-03-22 18:56] #2643 closed

[2020-03-22 18:58] olifolkerd commented on #2644
Hey @srankgit

The table is a block level element, so it is width is set to 100% of the containing element. The fitData layout mode only affects the columns not the table itself.

Cheers

Oli :)

[2020-03-22 18:58] #2644 closed

[2020-03-22 18:59] #2646 closed

[2020-03-22 19:01] olifolkerd commented on #2647
Hey @kkc-yuki

That is likely because the two libraries are attempting to apply the same polyfills in different ways. if you are using core.js you probably dont need polyfill.js as it does much more than the Tabulator polyfill file.

Cheers

Oli :)

[2020-03-22 19:01] #2647 closed

[2020-03-22 19:03] olifolkerd commented on #2649
Hey @giplusplus

Built in context menus will be coming in the 4.6 release next weekend :)

Cheers

Oli :)

[2020-03-22 19:03] #2649 closed

[2020-03-22 19:05] olifolkerd commented on #2651
Hey @michaelongithub

Great suggestion, i will add this to the roadmap for the 4.7 release.

Cheers

Oli :)

[2020-03-22 19:05] srankgit commented on #2644
hello, Thanks for answering. still I dont understand with the header line expand to the full width  and not stay on compact width.  (and why only this header line and not all row lines for ex) is there any way to prevent it ?

[2020-03-22 19:06] olifolkerd commented on #2653
This feature is coming in the 4.6 release later this month,

Cheers

Oli :)

[2020-03-22 19:06] olifolkerd commented on #2654
This should be resolved in the updates with the 4.6 release later this month :)

[2020-03-22 19:06] #2654 closed

[2020-03-22 19:07] olifolkerd commented on #2655
Hey @fzorin

Are you proposing that you have a fix for this? if so please submit a PR,

Cheers

Oli :)

[2020-03-22 19:09] olifolkerd commented on #2656
Hey @schmidty1913

Thanks for the info, that definitly looks like a bug, it shouldnt be using a fixed number to work out page size.

Cheers

Oli :)

[2020-03-22 19:09] #2659 closed

[2020-03-22 19:10] olifolkerd commented on #2661
On the whole these warnings are not a problem and should only occur from time to time if the table redraw is triggered repeatedly in a short period.

If you are seeing these often could you create a JS Fiddle that demonstrates the table configuration you are using so i can look into it further.

Cheers

Oli :)

[2020-03-22 19:10] #2661 closed

[2020-03-22 19:12] olifolkerd commented on #2662
Hey @Gajendrasinh

Please ask questions on Stack Overflow, this issues list is for bug reports and feature requests only.

I would suggest you have a look at the ***dataLoaded*** callback, you could use that to trigger a selection on the rows that you want to select.

Cheers

Oli :)

[2020-03-22 19:12] #2662 closed

[2020-03-22 19:13] fzorin commented on #2655
Hi @olifolkerd,
No,I don't have a fix. On screenshot there is just expectation.

[2020-03-22 19:14] olifolkerd commented on #2663
Hey @alistairalderson

For the moment the best option would be to use a [Custom Validator](http://tabulator.info/docs/4.5/validate#func-custom)

But you make a very valid point there, i will add it to the 4.7 release to make that validator more globally useful.

Cheers

Oli :)

[2020-03-22 19:17] olifolkerd commented on #2665
Hey @kalallit

Im unsure of your issue. there is no way for row 35 in your example to scroll to the top of the table, tabulator dosnt allow for empty space below a row in the table, so it can only scroll that row to the bottom edge of the table.

Cheers

Oli :)

[2020-03-22 19:17] #2665 closed

[2020-03-22 19:19] olifolkerd commented on #2668
Hey @iursevla

Thanks for getting in touch, I will have a look into fixing that for the next release.

Cheers

Oli :)

[2020-03-22 19:21] olifolkerd commented on #2644
It isnt the header line, it is the entitre table.

It is just that in this theme the header only has an underline so it looks a bit odd.

If you set a fixed width on the table to the width of the data it will resolve this.

Cheers

Oli :)

[2020-03-22 19:23] olifolkerd commented on #2655
Hey @fzorin

I am a bit confused, in your example you appear to be using nested groups but with only one column in, why is this?

I will have a look into this for the next release.

Cheers

Oli :)

[2020-03-22 19:34] kalallit commented on #2665
I think you didn't understand the problem well. I'm sorry maybe I didn't explain myself in the best way. So, when we click on the first line and press enter we go to the last line. We click on the last line to have the focus and we return through the up arrow to the first line, if we go down with the arrow we will lose the focus of the line. can you try these in my example? Thanks
https://drive.go

[2020-03-22 20:11] 8483 commented on #2634
The reason I asked here is because this doesn't work there.

[I've made the developer aware of it.](https://github.com/ngduc/react-tabulator/issues/135)

So I guess I should just drop it.

[2020-03-23 05:15] fzorin commented on #2655
@olifolkerd ,
It was the first case which I faced with this issue. But it reproducible with more than one column in nested group.

https://jsfiddle.net/q19cwz70/
![image](https://user-images.githubusercontent.com/47669551/77283847-61594000-6cde-11ea-8e0d-6fc3b5cde835.png)

Best regards

[2020-03-23 08:06] kkc-yuki commented on #2647
Hi @olifolkerd ,

Thanks for replying!

Did you mean that I do not have to use Tabulator's polyfill file?
If that case, are you going to think about releasing the version without polyfill?
Or should I just eliminate the Tabulator's polyfill file and build them by myself?

Many thanks,

kkc-yuki

[2020-03-23 08:12] olifolkerd commented on #2647
The pollyfill.js file is just there to make up for missing functions in the IE browsers and is optionally included by developers to make Tabulator work on a site that is used on IE.

If you are including core.js then that is already replacing the missing browser functionality so there is no need to include the polyfill.

It has nothing to do with the Tabulator build or the release. In your useage

[2020-03-23 09:41] alistairalderson commented on #2663
Many thanks @olifolkerd

That would be great as Tabulator is a great piece of work.

I have added an ugly Regex to a Custom Validator to get it working as I have European users testing data input and they do not like moving away from the numeric pad.

function successFunc() {
            // Filter out the EU decimal (comma) and replace with a conventional decimal point
            var v  = editor.

[2020-03-23 10:34] iursevla commented on #2668
Hi @olifolkerd,

Thanks for the quick reply.

Relative to the following:

Do you think I should create a **Feature request** about the possibility of the double click on the resize handle to have some callback?

[2020-03-23 14:13] mishagin-tim opened #2669 "Uncaught ReferenceError: tableData is not defined"
**Website Page**
http://tabulator.info/docs/4.5/columns

**Description**
In the example of "Automatic Column Generation" there is a 'tabledata' variable is initialized but where the code of **table** generation is written there is a 'table**D**ata' is used (with capital D), so this error is being thrown.

**Possible Solution**
Replace  'tabledata' with 'tableData'
**Or**
Replace 'tableData' with '

[2020-03-23 15:09] roxuss commented on #2636
On 3/22/2020 11:37 AM, Oli Folkerd wrote:

OK, thanks
Yes, I am calling them concurrently.
But hideLoader() is being called too early still. Possibly when the
first setData does return, I havent traced it down that far yet.

[2020-03-23 15:59] darkbdlz commented on #2638
@olifolkerd Thanks for fixing the documentation.
My ticket used the documentation as an example but my issue is with the keypresses not working correctly.

Is the code behaving as intended where a keypress filters the rows then un-filters the tables right afterward?

Also, I added some more details in the  **Additional context** section of the ticket. Could you please answer my questions listed in

[2020-03-23 23:19] olifolkerd commented on #2636
Ahh, I am with you now. I will look into that and see if I can fix it for the 4.6 release

[2020-03-25 08:15] exetico opened #2670 "Placeholder-height problem, if height:"auto" is in use, with no elements"
**Describe the bug**
There not space for the placeholder to be shown, if i'm using `height:"auto"` at the same time.

The `tabulator-tableHolder` is cutting the `tabulator-placeholder` element.

If i add a fixed height, it's works as expected.

**Tabulator Info**
I'm running the latest version (4.5.3), but i've tried old versions, too.

**Example**
https://codepen.io/exetico/pen/ZEGqwrV

**To Repr

[2020-03-25 12:33] Rodbjartson commented on #2652
Hey Oli, sad to hear about your loss, my deepest condolances to you <3
There are more important things in life that tabulator, programming, work.
Family, friends, health and life, before anything else.

I know that I speak behalf on the whole tabulator community:
Thank you.
Thank you for your tireless work, for your amazing project, that helps so many people out every day, not only in personal pro

[2020-03-26 06:23] GigaJunky opened #2671 "Custom Cell Formater seems to be broken"
I got to work with 4.1.5 but nothing after that.

[2020-03-26 07:00] olifolkerd commented on #2671
It is hard to offer you advice without seeing what code you are using.

Please post a link to a code fiddle that demonstrates your issue.

Can you also provide a more detailed explanation of the problem you are facing. Vague posts make it impossible to offer advice. Do you see a console error, is anything being displayed in the cell?

There is an issue template for bug reporting that I suggest you

[2020-03-26 13:59] Phalanxare opened #2672 "Format bug in calc row when closing group"
**Describe the bug**
When I close a group, the topCalc row format just break, it goes back to  normal when I use the scroll

**Tabulator Info**
- 4.5

**Screenshots**
![Capture1](https://user-images.githubusercontent.com/34352458/77655052-2cfdb200-6f72-11ea-8e7a-ef94267538af.PNG)
![unnamed](https://user-images.githubusercontent.com/34352458/77655047-2c651b80-6f72-11ea-8673-39dca44ba884.png)

**Des

[2020-03-26 15:46] 8483 commented on #2652
Damn, sorry for your loss... I was a particular pain in the ass in that period. Thank you so much for doing all of this, Tabulator is, without a doubt, the best grid in the game. The documentation should be a case study for all libraries. Much respect!

[2020-03-26 19:09] GigaJunky commented on #2671
ok, sorry.. I got it to work 4.1.5 so I knew my code was working, but need some of the newer features also.  First time fiddle.. Hope I did it right.  Looks like there is a problem with the Sum on the bottom calc also which works in 1.5 also.
https://jsfiddle.net/L04jhcro/

[2020-03-26 20:23] GigaJunky commented on #2671
Found it!  It seems to be  autoColumns: true and also had defined columns.

[2020-03-27 00:26] 8483 opened #2673 "Can Tabulator be used with Functional Programming?"
I searched the documentation but couldn't find an example.

The idea is Tabulator to return the nodes, rather than attach to a node, if I'm making sense.  In other words, how can the table generation be a function that returns nodes.

Here's an [example for functional code](https://codesandbox.io/s/pedantic-varahamihira-gjwww)...

Now, how can I use Tabulator here?

The pattern for the app is simi

[2020-03-27 06:11] VanDerLars opened #2674 "min/max in Header filter on progressbar column removes all rows"
**Describe the bug**
_Scenario:_
- you have table with header-filter
- one column is a progressbar
- this column has a min- max- filter header

_Bug:_
- if you klick in to a filter textfield and leave it with no changes
- then all rows are filtered and hidden
- there's no way to bring them back

**Tabulator Info**
latest

**Working Example**
Your own example-page:
http://tabulator.info/examples/4.

[2020-03-27 10:35] olifolkerd commented on #2623
Hey @nrayburn-tech

I have pushed a fix for this to the 4.6 branch which will be released later this weekend.

Cheers

Oli :)

[2020-03-27 10:35] #2623 closed

[2020-03-27 10:45] olifolkerd commented on #2622
Hey @vec2k4

I have pushed a fix for this to the 4.6 branch that will be released later this weekend.

Cheers

Oli :)

[2020-03-27 10:45] #2622 closed

[2020-03-27 10:52] olifolkerd commented on #2618
Hey @nirhu

I have pushed a fix to the 4.6 branch for this, it will be released later this weekend.

Cheers

Oli :)

[2020-03-27 10:52] #2618 closed

[2020-03-27 11:14] olifolkerd commented on #2606
Hey @KES777

I have pushed a fix for this to the 4.6 branch that will be released later this weekend.

Cheers

Oli :)

[2020-03-27 11:14] #2606 closed

[2020-03-27 11:20] olifolkerd commented on #2602
Hey @britvik

I have pushed a fix for this to the 4.6 branch, which will be released later this weekend.

Cheers

Oli :)

[2020-03-27 11:20] #2602 closed

[2020-03-27 11:44] olifolkerd commented on #2650
Hey @emarti20

Im afraid i dont follow you there, the persistence in your example is behaving as expected.

I would also say that your example does not use cookie storage, given the setup of that table it is using localStorage instead which is the default behaviour and definitely the recommended practice.

I think you may have misunderstood the column persistence functionality. It is only there to

[2020-03-27 11:44] #2650 closed

[2020-03-27 11:47] KES777 commented on #2606
Thank you Oli

[comit](https://github.com/olifolkerd/tabulator/commit/84c15c8a7a0d825fae0993598cbcbec706876dbe)

[2020-03-27 11:52] olifolkerd commented on #2650
Having looked into this further, when cookie  mode is enabled there is an error, i have pushed a fix for this to the 4.6 branch which will be released later this weekend.

Cheers

Oli :)

[2020-03-27 11:53] olifolkerd commented on #2598
Hey @gitjocke

I have pushed a fix for this to the 4.6 branch, which will be released later this weekend.

Cheers

Oli :)

[2020-03-27 11:53] #2598 closed

[2020-03-27 13:56] olifolkerd commented on #2574
Hey @daschws

I have pushed a fix for this to the 4.6 branch, which will be released later this weekend.

Cheers

Oli :)

[2020-03-27 13:56] #2574 closed

[2020-03-27 14:42] olifolkerd commented on #2672
Hey @Phalanxare

It is important that you post a link to a JS Fiddle or Code Pen that demonstrates the issue, without it we have no way of knowing how your table is setup so no way to offer advice.

Initial testing my end seems to work correctly, but without knowing your table config i could not offer more help.

Please have a quick read of the [Bug Submission Guide](http://tabulator.info/communit

[2020-03-27 14:42] #2672 closed

[2020-03-27 14:50] olifolkerd commented on #2507
This has been resolved in the 4.6 release coming out later this weekend.

Cheers

Oli :)

[2020-03-27 14:50] #2507 closed

[2020-03-27 15:12] olifolkerd commented on #2510
Hey @dahfazz

Looking to this further it isnt so much an issue with the filter, more that the select editor when used as a header filter allows you to type in the input which is not the indented function for the editor, for that the autocomplete should be used.

It actually should remain read only, and provide an empty option in the dropdown list to allow the filter to be cleared.

I will have a l

[2020-03-27 15:33] olifolkerd commented on #2524
Hey @britvik

I have pushed a fix for this to the 4.6 branch, which will be released later this weekend.

Cheers

Oli :)

[2020-03-27 15:33] #2524 closed

[2020-03-27 16:09] olifolkerd commented on #2461
Hey @

I have just pushed a fix for this to the 4.6 branch, which will be released later this weekend.

Cheers

Oli :)

[2020-03-27 16:09] #2461 closed

[2020-03-27 16:12] olifolkerd commented on #2412
Hey @DimasAda

This has now been resolved in the 4.6 branch, which will be released later this weekend.

Cheers

Oli :)

[2020-03-27 16:12] #2412 closed

[2020-03-27 17:07] olifolkerd commented on #2668
Hey @iursevla

This is not actually an issue any more, that is only present because the demo is running on very old code. If you update to version 4.5.3 then the issue isnt present any longer.

Cheers

Oli :)

[2020-03-27 17:07] #2668 closed

[2020-03-27 17:10] olifolkerd commented on #2566
Hey @YendorMc

You will be happy to hear that this has been resolved on the 4.6 branch which will be released later this weekend.

Cheers

Oli :)

[2020-03-27 17:10] #2566 closed

[2020-03-27 17:30] olifolkerd commented on #2655
Hey @fzorin

Thanks for the information. I had actually fixed this issue for single level grouping, but forgot to check that the fix propagated up for nested groups.

I have pushed a fix for this to the 4.6 branch which will be released later this weekend.

Cheers

Oli :)

[2020-03-27 17:30] #2655 closed

[2020-03-27 17:32] JamesMotown commented on #2441
Just curious if this is planned for 4.6? We've found tabEndNewRow does not work in all browsers consistently.

[2020-03-27 18:09] olifolkerd commented on #2482
Hey @blankbadge

I have pushed a fix for this to the 4.6 branch, which will be released later this weekend.

Cheers

Oli :)

[2020-03-27 18:09] #2482 closed

[2020-03-27 21:28] dragmecom commented on #2652
Happy to jump on and have a chat at any time if you need to decompress!

Hands down this library has reduced days worth of dev time for me, so happy to chat it up and perk up your spirits to pay back some of the time you have saved me!

[2020-03-27 21:44] dragmecom opened #2675 "Add History & Callbacks For Columns"
*Is your feature request related to a problem? Please describe.**
Upon adding in redo/undo buttons, I noticed that the history module seems incomplete without the option to undo/redo column header edits, column order changes, etc.

I also thought it would be pretty great to extend the history to height/width resizes on both columns and rows, as this would effectively complete the history module to

[2020-03-28 00:52] dragmecom opened #2676 "History Does Not Undo All Row Deletes"
**Describe the bug**
When you select and delete more than 5 rows at a time, the history module will not restore all deleted rows

**Tabulator Info**
Latest

**Working Example**
https://jsfiddle.net/pkue7nL2/4/

**To Reproduce**
1. Select Multiple Rows (make sure to skip one row then select it later - ex : 1,2,3,5,4)
2. Click Delete Rows (this just iterates over with a basic for loop and deletes al

[2020-03-28 03:58] #2671 closed

[2020-03-28 04:48] dragmecom commented on #2676
I also noticed this happens with the copy feature as well... I think this comes down to the select algorithm, when selecting any non-sequential items it fails to properly copy or undo/redo etc.

[2020-03-28 13:41] Vanitas886 opened #2677 "Add JSON data to a dropdown menu in every cell of the table"
Hello, I'm kinda new to tabulator.js but so far, it's great but I have an issue.
I have a JSON file containing some clients.
Here is the data :
 `{
  "clients": [
    {
      "city": "Brussels",
      "email": "benoit@gmail.com",
      "firstName": "Benoit",
      "idClient": 1,
      "lastName": "Dupont",
      "mailBox": "6",
      "phoneNumber": "0465237956",
      "postCode": "1200",
      "st

[2020-03-28 13:48] olifolkerd commented on #2441
Hey All,

I have pushed a fix for this to the 4.6 branch, which will be released later this weekend.

Cheers

Oli :)

[2020-03-28 13:48] #2441 closed

[2020-03-28 13:49] olifolkerd commented on #2677
Hey @Vanitas886

Please ask questions on Stack Overflow, this issues list is reserved for Bug Reports and Feature Requests Only.

Cheers

Oli :)

[2020-03-28 13:49] #2677 closed

[2020-03-28 14:14] olifolkerd commented on #2431
Hey @fingers10

I have pushed a fix for this to the 4.6 branch, which should be released later this weekend.

Cheers

Oli :)

[2020-03-28 14:14] #2431 closed

[2020-03-28 14:25] olifolkerd commented on #2603
Hey @maximp68

I have pushed a fix for this to the 4.6 branch that will be released later this weekend.

Cheers

Oli :)

[2020-03-28 14:25] #2603 closed

[2020-03-28 14:35] olifolkerd commented on #2639
Hey @smiheev

Looking into this more i would say this isn't a Tabulator issue as such it is more your approach is conflicting with the way tabulator works.

The issue is arising because in your customCellEdited function you are replacing row two, so the moment you have pushed tab, Tabluator moves focus to that row, then by replacing it in the array by splicing it, you remove the row that currently

[2020-03-28 14:35] #2639 closed

[2020-03-28 15:02] olifolkerd commented on #2518
Hey @vabene1111

Thanks for reporting this, definitely a bug.

I have pushed a fix to the 4.6 branch which will be released later this weekend.

Cheers

Oli :)

[2020-03-28 15:02] #2518 closed

[2020-03-28 15:04] olifolkerd commented on #2604
Hey

[2020-03-28 15:04] #2604 closed

[2020-03-28 15:09] olifolkerd commented on #2624
Hey @AlexanderPD

Sorry for the delay in getting back to you.

Looking into this further, the issue is not with Tabulator but that you have put the table inside a ***td*** element. Tabulator is setup in a div, so it takes up 100% of the width available to it, when it starts it is at the minimum width the dom will allow which is the fixed width of the first column and the min width of the second.

[2020-03-28 15:09] #2624 closed

[2020-03-28 15:13] olifolkerd commented on #2645
Hey @8483

Thanks for your kind words, it is always great to hear that Tabulator is appreciated.

Im afraid i cant offer any framework specific guidance as im not a React Developer myself, though there is a react wrapper for Tabulator which i can see you have been looking at.

They would be the best people to ask on this matter, it will be down to the way the React framework works, it will likely

[2020-03-28 15:13] #2645 closed

[2020-03-28 16:07] olifolkerd commented on #2670
Hey @exetico

I have pushed a fix for this to the 4.6 branch, which will be released later this weekend.

Cheers

Oli :)

[2020-03-28 16:07] #2670 closed

[2020-03-28 16:30] Vanitas886 commented on #2677
Sorry, it's just that on stack overflow, people don't generally help with tabulator.js related questions and I am desperate

[2020-03-28 16:58] olifolkerd commented on #2676
Hey All,

Looking into it, the issue was actually to do with the order that the deletes/selects happened. The undo action was trying to reference row components that now longer existed to add the rows back into the table at the right point.

I have pushed a fix for this to the 4.6 branch, which should be released later this weekend.

Cheers

Oli :)

[2020-03-28 16:58] #2676 closed

[2020-03-28 17:03] olifolkerd commented on #2673
If you just want to get an html equivalent of the table then the ***getHTML*** table will already do this for you.

If you want the DOM node for the table itself, then you just have to define the table slightly differently:

[code]

I hope that helps,

Cheers

Oli :)

[2020-03-28 17:03] #2673 closed

[2020-03-28 17:06] olifolkerd commented on #2675
Hey @dragmecom

I would certainly be happy to add additional options to the history module. Could you post a bullet point list of exactly the features you are after.

I would also be happy to receive a PR for this change if you fancy making it. In the *history.js* module there are undoers and redoers objects where each of the available actions is stored.

Cheers

Oli :)

[2020-03-28 17:09] olifolkerd commented on #2669
Hey @mishagin-tim

Thanks for the headsup, i will fix that in the 4.6 site update later this weekend.

Cheers

Oli :)

[2020-03-28 17:09] #2669 closed

[2020-03-28 17:16] olifolkerd commented on #2636
Hey @roxuss

I have pushed a fix for this to the 4.6 branch which will be released later this weekend.

Cheers

Oli :)

[2020-03-28 17:16] #2636 closed

[2020-03-28 17:18] olifolkerd commented on #2493
Hey @BillMeyerRSA

Vertical alignment will be coming in the 4.6 release later this weekend.

Cheers

Oli :)

[2020-03-28 17:18] #2493 closed

[2020-03-28 17:21] olifolkerd commented on #2457
Hey @ybitso

You could easily add this functionality in yourself by using the ***dataFiltered*** callback to store the header filter values in localStorage and then on page load use the ***setHeaderFilterValue*** function to restore the header filter value.

I hope that helps

Cheers

Oli :)

[2020-03-28 17:21] #2457 closed

[2020-03-28 17:33] Vanitas886 opened #2678 "Add JSON data to a dropdown menu in every cell of the table"
PLEASE WAIT BEFORE CLOSING THIS ISSUE,I'M BEGGING YOU : I know that i'm not supposed to ask questions here.
It's just that on Stack Overflow, people don't generally help with Tabulator.js related questions and I am a very desperate student. I already asked my question over there and no one has answered.
I've tried to contact you by other means of communication bu it seems like I can't reach you. C

[2020-03-28 17:40] olifolkerd commented on #2450
Hey @rhagstrand

I have pushed a fix for this to the 4.6 branch, which will be released later this weekend.

Cheers

Oli :)

[2020-03-28 17:40] #2450 closed

[2020-03-28 20:04] exetico commented on #2670
Great - and even better 👏

Thanks!

[2020-03-28 20:12] exetico commented on #2678
Maybe you should consider to make a live example or so, so it's easier to help you (_codepen.io, or something like that_).

I also found it very hard, to understand the request itself, cause the close is formatted in three different ways. I guess you could improve that part, just a bit 😁

[2020-03-28 22:19] olifolkerd commented on #1808
The 4.6 upgrade, coming later this weekend includes an overhaul to the autocomplete editor which should help with this.

Cheers

Oli :)

[2020-03-28 22:19] #1808 closed

[2020-03-28 22:26] Vanitas886 commented on #2678
Thank you so much for your response and your willingness to help me. It's very much appreciated. It's gonna be hard to show this example on codepen.io because the data is directly from a database that I am using and there's a whole back-end code to this. I'm going to try and explain the problem again in a clearer and more precise way.

Basically in the first screenshot of my website, there's a tab

[2020-03-29 03:26] dragmecom commented on #2675
- [ ] - Undo/Redo Column Sizing
- [ ] - Undo/Redo Row Sizing
- [ ] - Undo/Redo Header Value Edit (Already exists for rows)
- [ ] - Undo/Redo Column Order Change (Already exists for rows)
- [ ] - Callbacks for all of the above

I think that would make it virtually identical to an excel doc at that point.

If you are making a public release this weekend, I won't be able to do it by then, am in the C

[2020-03-29 05:13] dragmecom opened #2679 "Editable Column Title Callback Does Not Return As Expected"
**Describe the bug**
The callback for the editable column title does not return the documented variables, last two come back undefined (copy pasted from documentation)

**Tabulator Info**
Latest

**Working Example**
https://jsfiddle.net/zcqj2p1a/

**To Reproduce**
A step by step guide to recreate the issue in your JS Fiddle or Codepen:
1. Open Console
2. Edit Any Header Title
3. See Output
4. See

[2020-03-29 06:03] nrayburn-tech commented on #2678
So just to make sure I understand correctly, you want the client column to be a dropdown list that stores the client id, but displays the full name.
You want to get the values from some async api call.

Is that all correct?

[2020-03-29 06:19] dragmecom opened #2680 "TitleEditor/TitleEditorParams? Documentation Expansion"
*Is your feature request related to a problem? Please describe.**

Goal : Add a "maxlength:10" to the TitleEditor which by default is "plaintext" _as set per the code if I understand correctly_.

_Perhaps this just my personal confusion (forgive me been on a long coding binge)_,
but based on the [documentation](http://tabulator.info/docs/4.5/format) :
`{title:5, field:"rating", titleFormatter:"sta

[2020-03-29 07:23] dragmecom commented on #2679
Ah! It's also a documentation error

[This is what I was going off of...](http://tabulator.info/docs/4.5/columns#edit-titles) but if you [look here it is documented how it actually responds (not how it is supposed to) ](http://tabulator.info/docs/4.5/callbacks#column), although likely still bug since I bet you wanted it to **return the new value, column changed, and full column array**.

[2020-03-29 07:47] dragmecom opened #2681 "[Minor] Inaccurate HTML Conversion Warning On editableTitle"
**Describe the bug**
Creating a Tabulator table from HTML shows a warning in console erroneously when you set data-editableTitle due to case sensitivity.

**Tabulator Info**
Latest

**Working Example**
https://jsfiddle.net/0ucs7arw/

**To Reproduce**
A step by step guide to recreate the issue in your JS Fiddle or Codepen:
1. Click Link
2. Open Developer Console
3. See error

**Expected behavior**

[2020-03-29 08:13] dragmecom opened #2682 "Export / Download Does Not Include New Column Nor Column Edited Titles"
**Describe the bug**

This is 2 bugs in one report, I don't want to make a bunch of these reports....

1. Edited Title is not saved upon export (json - didn't check others)
2. Added Columns (and their row values) are not saved upon export (json - didn't check others)

**Tabulator Info**
Latest

**Working Example**
https://jsfiddle.net/0ucs7arw/6/

**To Reproduce**
A step by step guide to recreate

[2020-03-29 08:26] Vanitas886 commented on #2678
Yes exactly !
But is it possible to click on a full name in the dropdown list and have the full name be displayed and the client id be saved implicitly, so that the client doesn't see the id? If that's not possible then your version is totally fine by me.

Thank you very much !

[2020-03-29 08:49] olifolkerd commented on #2287
Hey @Zmimmy

In your usage case i would suggest that you just want to use a more detailed persistence configuration to exclude the column width.

If you have a look at the [v4.5 persistence documentation](http://tabulator.info/docs/4.5/persist) you will see that the persistence module has had an overhaul to give you far more control over what is persisted.

Cheers

Oli :)

[2020-03-29 08:49] #2287 closed

[2020-03-29 08:52] olifolkerd commented on #2289
Hey @ryhill

This no longer seems to be a problem in the 4.6 release. Have a check when it comes out later today and let me know.

Cheers

Oli :)

[2020-03-29 08:52] #2289 closed

[2020-03-29 08:52] olifolkerd commented on #2335
Hey @timothymarois

This has been resolved on the 4.6 branch, which will be released later today.

Cheers

Oli :)

[2020-03-29 08:52] #2335 closed

[2020-03-29 09:06] olifolkerd commented on #2626
When you have updated you PR to removed the fix for the second issue i will approve it and close this off

Cheers

Oli :)

[2020-03-29 09:11] nrayburn-tech commented on #2678
You need to use the `lookup` formatter for displaying the id value as a name instead.
You need to use the `select` editor for creating a dropdown.
Use the related `editorParams` and `formatterParams`, so that your list contains what you need.

The most difficult part is how you can link the api call with the params, so here are two examples that should be useful.
Example where the api call is comp

[2020-03-29 09:17] olifolkerd commented on #2674
Hey @VanDerLars

Thanks for the headsup, this was just an error with the custom filter function in the example.

I will update the documentation for the 4.6 release update

Cheers

Oli :)

[2020-03-29 09:17] #2674 closed

[2020-03-29 09:26] olifolkerd commented on #2679
Hey @dragmecom

Thanks for the headsup. i will update the docs in todays release update

This is a documentation issue only. The only thing that needs to be passed into the function is the column component, you can retrieve all other information from the component.

Cheers

Oli :)

[2020-03-29 09:26] #2679 closed

[2020-03-29 09:40] olifolkerd commented on #2681
Hey @dragmecom

Good spot, but it is actually more serious than that. case is ignored in HTML attribute properties (they are converted to lowercase by the browser) so they could never actually work.

They would need to be used as kebab case options and parsed to camel case.

This is deffo a bug, i will resolve it for today's release.

Cheers

Oli :)

[2020-03-29 09:57] olifolkerd commented on #2681
Hey @dragmecom

Thanks for the headsup, there was a bit of legacy code left over from an old version that was mapping the lowercase properties onto the column definitions.

I have pushed a fix for this to the 4,6 branch which will be released later today,

Cheers

Oli :)

[2020-03-29 09:57] #2681 closed

[2020-03-29 10:06] olifolkerd commented on #2682
Hey @dragmecom

There is no issue with the json output. it dosnt include the column title at any point. the JSON output uses the column ***field*** property as the key not the title, therefore it is unaffected by title changes.

If you add a column to the table then its value will only appear in JSON output once a value has been set for it on that row, otherwise it is undefined and thus not includ

[2020-03-29 10:06] #2682 closed

[2020-03-29 10:14] #2641 closed

[2020-03-29 10:16] olifolkerd commented on #2638
This was due to the custom filter function returning false instead of true when one of the filters was empty.

I have updated the docs and will push these live this evening with the 4.6 release.

Cheers

Oli :)

[2020-03-29 10:16] #2638 closed

[2020-03-29 10:18] #2600 closed

[2020-03-29 10:19] olifolkerd commented on #2595
This will be fixed in this evenings update.

Cheers

Oli :)

[2020-03-29 10:19] #2595 closed

[2020-03-29 10:21] olifolkerd commented on #2586
Hey @BillMeyerRSA

Thanks for the info, that will be fixed in this evenings site update.

Cheers

Oli :)

[2020-03-29 10:21] #2586 closed

[2020-03-29 10:22] #2419 closed

[2020-03-29 11:08] olifolkerd commented on #1381
Hey Guys,

You will be happy to hear that a fix for this has gong into the 4.6 branch, which will be released later today.

Cheers

Oli :)

[2020-03-29 11:08] #1381 closed

[2020-03-29 11:09] #1867 closed

[2020-03-29 11:11] olifolkerd commented on #2044
Hey @scott-oliver

At the moment i feel adding this functionality directly would cause more problems than it solves. There is no guarantee that child id's are unique from the parent row id's.

If you have the row component you can call the ***select*** function directly on that. otherwise you would need to iterate down from the parent to find the child rows.

Cheers

Oli :)

[2020-03-29 11:11] #2044 closed

[2020-03-29 12:27] #2097 closed

[2020-03-29 12:28] olifolkerd commented on #2112
Hey all,

When the 4.6 branch is released later today you will be able to return any values you like from the ***searchFunc*** so you will be able to handle this scenario that way.

Cheers

Oli :)

[2020-03-29 12:28] #2112 closed

[2020-03-29 12:30] olifolkerd commented on #2193
Hey @hrstoyanov

[2020-03-29 12:32] #2208 closed

[2020-03-29 12:41] #2594 closed

[2020-03-29 12:43] olifolkerd commented on #2648
This could be a great addition, but the system still needs to be able to handle arrays being passed into the excel spreadsheet that arn't intended to be interpreted as formulas

If you can come up with a solution that allows both options i would be happy to accept a PR.

Cheers

Oli :)

[2020-03-29 12:44] olifolkerd commented on #2552
I will look into this as part of the 4.7 release

Cheers

Oli :)

[2020-03-29 12:47] olifolkerd commented on #2579
Hey @sohrabi2050

Thanks for getting in touch. At this point this would not be something i would be looking to add to the tabulator core library, but feel free to include it in your own fork.

You could manage a similar effect yourself by using a custom footer and carrying out some calculations on the data in the table

Cheers

Oli :)

[2020-03-29 12:47] #2579 closed

[2020-03-29 12:49] olifolkerd commented on #2588
Hey @Portur

Thanks for the suggestion, however i feel that this is only really useful in a few edge cases, at which point i would prefer that users use the custom filter functions to tailor the table functionality to their unique needs.

Cheers

Oli :)

[2020-03-29 12:49] #2588 closed

[2020-03-29 14:35] olifolkerd commented on #2675
Hey @dragmecom

Thanks for the details there,

No chance i will get it in this weekend, the roadmap for 4.6 had already been defined, but i can review it for a later release.

Cheers

Oli :)

[2020-03-29 14:45] olifolkerd commented on #2652
Hey All,

Thank you all for your kind words! It means the world to me to hear how much you are enjoying using Tabulator :)

One thing that would really help me out is if members of the community could spend a little time on [StackOverflow](https://stackoverflow.com/questions/tagged/tabulator) every once in a while and answer some of the tabulator tagged questions. It takes so much time just to con

[2020-03-29 16:41] AEK-BKF commented on #2653
Any news ?

[2020-03-29 17:07] Jojoshua commented on #2652
Great release. I will work on updating the typescript definitions.

[2020-03-29 17:08] olifolkerd commented on #2653
Hey @AEK-BKF

Sorry, i had totally got muddled with what you had asked for there, that feature is available on the print and clipboard exports, but not on the downloaders.

I will add that to the roadmap for the 4,7 release.

Sorry for the mixup there.

Cheers

Oli :)

[2020-03-29 17:58] dragmecom opened #2683 "4.6 [NEW] updateTitle Removes Column Values / JSON Output Bug"
**Describe the bug**
1. When you add a column, add values in that column, and rename it, it deletes all column values
2. When you then output the JSON it will have both the prior column and new column

**Tabulator Info**
4.6 [Latest]

**Working Example**
https://jsfiddle.net/2uz85rek/

**To Reproduce**
A step by step guide to recreate the issue in your JS Fiddle or Codepen:
1. Add Column ( PS : Th

[2020-03-29 18:04] dragmecom opened #2684 "Deleted Rows (While You Get Them Back - No Longer In Position)"
**Describe the bug**
When deleting rows out of sequence (related to the selection bug you fixed), it does restore all rows now, however not to the original place.

For example, deleting 1,3,2 and undo-ing it will result in 1 and 3 being in their proper order but 2 will get added to the bottom of the table not below one.

**Tabulator Info**
4.6

**Working Example**
https://jsfiddle.net/2uz85rek/

*

[2020-03-29 18:41] fingers10 commented on #2431
@olifolkerd Thanks. This is fixed. Tested and Confirmed.

[2020-03-29 19:04] Jojoshua commented on #2652
http://tabulator.info/docs/4.6/release#menu

Question regarding Column Cell Context Menus. The code snippet has the property named as contextMenu. Is that a typo? I would have thought it would be something like cellContextMenu.

[2020-03-29 20:11] olifolkerd commented on #2652
Nope the documentation is correct. The only column definition properties that start with cell are events. It's not cellEditor or cellFormatter so it isn't cellContextMenu

[2020-03-29 23:11] Jojoshua commented on #2652
"If you want to set the horizontal alignment on a column by column basis, you can use the renamed hozAlign property"

What was the name of the property that was renamed to hozAlign?

[2020-03-30 04:35] Jojoshua commented on #2652
http://tabulator.info/docs/4.6/release#clipboard -> Cell Formatters

Is this snippet
`function clipboardFormatter(cell, formatterParams, onRendered){
    return cell.getValue() ? "YES" : "NO";
}`

Supposed to be this?

`function printFormatter(cell, formatterClipboardParams , onRendered){
    return cell.getValue() ? "YES" : "NO";
}`

[2020-03-30 04:41] takuy commented on #2652
@Jojoshua See the Upgrade Guide for this information: http://tabulator.info/docs/4.6/upgrade#align

[2020-03-30 09:36] Bhagyagali commented on #594
e.stopPropagation(); - this is not working for me in React js :( Anybody knows why it is not working

[2020-03-30 09:39] Bhagyagali commented on #594
I have a radio button in the first column and on click of the row I am redirecting to another page. I have tried e.stopPropagation(); but still redirection is happening.

[2020-03-30 13:35] Prica25 opened #2685 "Focus is lost wen navigating vertically through the tables when holding down arrow keys"
This bug report was already reported here #2665 , but i think that you don't understand well the problem, or maybe not correctly explained.
The problem was not in scrollToRow fail, if you change the given example in the issue from `table.scrollToRow(35, 'top', false)` to `table.scrollToRow(27, 'top', false)`, there is a way to go and yes, it goes. The problem happens next:

Click on line 27, click

[2020-03-30 14:26] Jojoshua commented on #2652
http://tabulator.info/docs/4.6/upgrade#clipboard

"The copy function now takes a Row Range Lookup value instead of the previous values of "table", "active" and "selected"."

The code snippet looks like there is a "copy" function off the table object.
`table.copy("table")`

I have no record of a "copy" function off the table object though. Was this snippet supposed to be
`table.copyToClipboard('tab

[2020-03-30 18:17] Jojoshua commented on #2652
http://tabulator.info/docs/4.6/release#filter

"You get the current header filter value of a column by calling the getHeaderFilterValue function, This function takes any of the standard column component look up options as its first parameter, **with the value for the header filter as the second option**"

var filterValue = table.getHeaderFilterValue("name");

The example doesn't show a 2nd paramet

[2020-03-30 22:27] Vanitas886 commented on #2678
Wow, the second link is really what I'm looking for ! I've tried it and it almost worked. The data that i get from the database is an array of objects
`{ "clients": [ { "city": "Brussels", "email": "benoit@gmail.com", "firstName": "Benoit", "idClient": 1, "lastName": "Dupont", "mailBox": "6", "phoneNumber": "0465237956", "postCode": "1200", "street": "Clos Chapelle-aux-Champs", "streetNumber": "43

[2020-03-30 22:28] Vanitas886 commented on #2678
I tried this but it didn't formatter but it didn't work
  `
    clients = response.clients;
    let clientsV2="{";
    for (let i = 0; i < clients.length; i++) {
        if (i === 0) {
            clientsV2 = clientsV2 + +clients[i].idClient + ":\"" + clients[i].firstName + " " + clients[i].lastName + "\"";
        } else {
            clientsV2 = clientsV2 + "," + clients[i].idClient + ":\"" + cl

[2020-03-30 22:48] nrayburn-tech commented on #2678
Here is an updated version.  I removed the extra data from your clients object to keep it short.
https://jsfiddle.net/0mwL72ga/

You will receive a warning in the console that there is not a display value because the async call may not be completed before the table is drawn.  This should not be an issue because the table.redraw() will update the label.

[2020-03-31 02:08] schmidty1913 commented on #1496
@olifolkerd I think this issue is happening again in version 4.5.3 and 4.6.0

I can only move 1 direction not bi-directional

[2020-03-31 08:45] Vanitas886 commented on #2678
OMG YES!!!!! THIS IS PERFECT!! IT WORKS!!!!!!
I am so grateful for your patience, your time and your willingness to help.
I can't thank you enough. I've learned a lot.
Thank you

[2020-03-31 13:16] rotht2 commented on #2648
This solution would pass the responsibility to turn arrays into strings up to the users formatter. So if a user would want an array passed to excel they would have to convert it to a string themselves instead of relying on tabulator to do it.

Outside of that my other thought was that we would need to create some kind of formula interpreter that we would need to run all strings through to see if t

[2020-03-31 13:18] rotht2 commented on #2626
Thanks Oli. I will get this updated within the next few days.

[2020-04-01 01:19] schmidty1913 opened #2686 "Moving Rows Between Tables Bidirectionally"
**Describe the bug**
Only able to move a row from 2nd Table to First Table not visa versa

It depends on which Table is loaded first.
Table A created
Table B created
Can move row from Table B to Table A

Table B created
Table A created
Can move row from Table A to Table B

**Tabulator Info**
4.6.0 and tried on 4.5.

**Working Example**
https://jsfiddle.net/g9w3o6ns/

**To Reproduce**
Try to drag a

[2020-04-01 20:27] amchconsult opened #2687 "Using autocomplete error"
Describe the bug
When try to update a value and click somewhere else it delete the value to undefined

For example, column 1 and 2

Tabulator Info
4.6

Working Example
https://jsfiddle.net/alecode13/ruahpk13/

To Reproduce
A step by step guide to recreate the issue in your JS Fiddle:

click on any row in column 1 or 3
then click somewhere else

Desktop (please complete the following information):

[2020-04-02 11:19] westoncraig opened #2688 "Export Module with "All" does not work as expected in 4.6"
Tabulator is fantastic...keep up the good work!

Whether copying to clipboard using table.copyToClipboard('all') or using table.getHtml('all') the child rows in the data Trees are not included in the output.
![All - CopyRowRange ](https://user-images.githubusercontent.com/8791713/78242225-879a8f00-74d9-11ea-83bf-3a792fd15f25.jpg)

However if the 'active' CopyRowRange is selected then expanded data

[2020-04-02 17:44] BirukTes commented on #1415
Dear future reader,

Here is my working solution,

`//display message to user on empty table, but only at the beginning as of now, there is a delay between empty table and data displayed. Changed on datachange below...
                    placeholder: 'Loading Data... <span class="fa-3x"><i class="fas fa-spinner fa-pulse"></i></i></span>',`

Contains FontAwesome stuff, can remove it...

To change

[2020-04-02 21:46] rbevans-ugh opened #2689 "Unable to expand grouping unless the arrow is clicked."
**Describe the bug**
Unable to expand grouping unless the header arrow is clicked.

**Tabulator Info**
4.6

**Working Example**
https://jsfiddle.net/c8j5eL0t/

**To Reproduce**
A step by step guide to recreate the issue in your JS Fiddle or Codepen:
1. Group table by a selected field
2. Attempt to expand group by clicking group header

**Expected behavior**
Group will expand when clicking the head

[2020-04-03 01:04] takuy commented on #2689
Doesn't look you defined the group header as the toggle element. See http://tabulator.info/docs/4.6/group#setup-toggle

[2020-04-03 09:06] olifolkerd commented on #2689
As @takuy says, this is normal function you just need to configure your table.

Oli :)

[2020-04-03 09:06] #2689 closed

[2020-04-03 09:09] olifolkerd commented on #2688
Hey @westoncraig

Thanks for getting in touch.

This isnt a bug, more a limitation of the current system. because of the way data trees are generated in the row management pipeline they are only available on active table data and not available on "all" data. the same goes for row groups.

This will be comming in the future but is not currently available.

Cheers

Oli :)

[2020-04-03 09:09] #2688 closed

[2020-04-03 09:16] olifolkerd commented on #2685
@Prica25

To clarify this has absolutely nothing to do with the ***scrollToRow*** function.

You are saying that if you navigate up and down the table by holding down the arrow keys then occasionally the table looses focus?

If that is the case it is because the table is shifting focus faster than the table is generating new rows so it runs out of rows.

I can look into fixing that if you can conf

[2020-04-03 09:35] Prica25 commented on #2685
Yes, that's it!
Its loses the focus faster using scrollToRow to last rows of the table, but it happens without scroll first too.
You are rigth for sure its not a problem with scrollToRow, its just a pattern to find and explain the bug fast.

Cheers,
Prica

[2020-04-03 10:28] westoncraig commented on #2688
Thanks Oli for getting back to me.

I did find yesterday that I got the same functionality as 'active' when
actually I set the following:

table.copyToClipboard('table') rather than table.copyToClipboard('all'). I
believe that this is because I am using the @types/tabulator-tables from
jojoshua and this is slightly out of step (v4.5.x) rather than v4.6 which I
see he is working on.

2 quick questi

[2020-04-03 14:29] rbevans-ugh commented on #2689
Thanks all and apologizes!

[2020-04-03 15:18] gd2331 opened #2692 "enable programatically to get/set column width"
*Is your feature request related to a problem? Please describe.**
I have 2 or more tables with related information in the same columns. On resize of the column in 1 table, the other table columns are misaligned.

**Describe the solution you'd like**
Keep columns in sync by using the columnResized callback :
   table2.getColumns(column.field).setWidth( column.getWidth() );

**Describe alternatives

[2020-04-03 18:10] KES777 opened #2693 "4.2.2 -> 4.6.0: table.element.parentNode is null"
[package.html.txt](https://github.com/olifolkerd/tabulator/files/4429168/package.html.txt)

**Describe the bug**

A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/799021/78391354-e1d94400-75ee-11ea-893c-4c7fae303eeb.png)

[code]
see attached file for full code

This happen when I use tabulator inside another row of tabulator:
![image](https://u

[2020-04-04 03:49] annenkovvadim opened #2694 "Cell Formatter"
Dear Sir/Madam,

Is it possible to combine the **link** formatter with **textarea** formatter? I mean to have the **labelField** to be multi-line formatted. I think it is useful to be able to put an information  into the link name text.

Best wishes,
Vadim

[2020-04-04 08:47] KES777 opened #2695 "showList is not called for 'autocomplete' editor"
**Describe the bug**
In 4.2.2 tabulator version the `showList` function was called when I click cell with 'autocomplete' editor:
![image](https://user-images.githubusercontent.com/799021/78422607-328d8300-7669-11ea-8139-c919c93d9461.png)

I put a break point in 4.6.0, but function from `searchFunc` property is called before `showList`:
![image](https://user-images.githubusercontent.com/799021/7842

[2020-04-04 08:59] KES777 opened #2696 "Parameter is not used"
4.6.0

![image](https://user-images.githubusercontent.com/799021/78422950-acbf0700-766b-11ea-9ff0-4203b9466cff.png)

[2020-04-04 09:56] KES777 commented on #1630
Please describe the format of an `item`

http://tabulator.info/docs/4.6/edit#edit-builtin

![image](https://user-images.githubusercontent.com/799021/78424059-974ddb00-7673-11ea-8e52-7a3b3df90d2d.png)

[2020-04-04 10:08] KES777 opened #2698 "Regression: 4.5 -> 4.6"
![image](https://user-images.githubusercontent.com/799021/78424276-0d9f0d00-7675-11ea-9bcb-2d22755752d8.png)

That was nice when tabulator guarantee the format of `values` passed into `searchFunc`.
Relaying on that guarantee  I can reuse one `searchFunc` everywhere.
Now I should copy/paste tabulators `parseItems` into my code...

Why this is done?

[2020-04-04 10:18] KES777 commented on #2698
possible related:
![image](https://user-images.githubusercontent.com/799021/78424447-396ec280-7676-11ea-85fb-f039f3ec7123.png)

and [this](https://github.com/olifolkerd/tabulator/issues/1630#issuecomment-609005324) also related.

Actually `listItemFormatter` is not required at all if `searchFunc` already returns correctly formatted `match` list.

Also, please, do not break old code which returns a

[2020-04-04 10:22] olifolkerd commented on #2652
Hey @Jojoshua

Thanks for pointing out the documentation issues, i have now updated them.

If you have found specific documentation issues i would prefer it if you could create a separate issue to list them rather than crowding out a general discussion thread about the release.

It would also make it easier for me to track progress on resolving the issue.

Cheers

Oli :)

[2020-04-04 10:33] olifolkerd commented on #2680
Hey @dragmecom

You have definitely got confused there.

It is very simple, the title Formatter works exactly the same as the cell formatted using the same formatters or custom formatter functions, as such the maxlength is meaningless as they are formatters not editors.

There is no such thing as a title editor at this point, the ***editableTitle*** adds a simple input for editing of titles, it do

[2020-04-04 10:33] #2680 closed

[2020-04-04 10:39] olifolkerd commented on #2683
Hey @dragmecom

There is a bug in your code. When the column title is changed you are changeing the field name for the column. This dosnt change the row data, it simply changes which field in the row data the column is looking at, which is why it the column empties, the data is still there set on the field of the original column.

If you want to move the data as well as change the field name you w

[2020-04-04 10:39] #2683 closed

[2020-04-04 10:39] olifolkerd commented on #2683
On a slightly separate note, would you mind clearing out your fiddle a bit, you seem to be including code from old example fiddles which is starting to make it hard to isolate the basic setup in your examples.

Cheers

Oli :)

[2020-04-04 10:40] olifolkerd commented on #2684
Hey @dragmecom

It is not always possible to put them back in the right order, but i can certinly see if i can improve it a bit.

Cheers

Oli :)

[2020-04-04 10:42] olifolkerd commented on #2685
Hey @Prica25

Thanks for clarifying, i will look into fixing that in a later release, in the mean time if you look at increasing the size of the [Virtual DOM Render buffer](http://tabulator.info/docs/4.6/layout#virtual-dom-buffer) that should mitigate the issue for you in the short term.

Cheers

Oli :)

[2020-04-04 10:44] olifolkerd commented on #2692
Hey @gd2331

That would be an easy adition, i will add it to the roadmap.

Cheers

Oli :)

[2020-04-04 10:50] olifolkerd commented on #2693
Hey @KES777

Thanks for getting in touch.

 As per the [Community Guidelines](http://tabulator.info/community#bug) please can you create a JS Fiddle or Code Pen that outlines your issue. Posting large blocks of code into an issue make them hard to read and extract information. And unfortunately with the large volume of users Tabulator has, i simply don't have the time to be able to setup hosted ex

[2020-04-04 10:53] olifolkerd commented on #2694
Hey @annenkovvadim

Please ask questions on Stack overflow.

It is not possible to combine formatters in Tabulator, but you could built your own [Custom Formatter](http://tabulator.info/docs/4.6/format#format-custom) to do the job.

Because formatters can return HTML or DOM nodes, there is not a sensible way to chain them together internally withing Tabulator.

Cheers

Oli :)

[2020-04-04 10:53] #2694 closed

[2020-04-04 10:55] olifolkerd commented on #2696
Hey @KES777

Thanks for the headsup,

That is a handover from the old code base, i wouldn't consider it a bug as it dosnt break any functionality, but i will push a commit now to remove it as you are correct it is no longer needed.

Cheers

Oli :)

[2020-04-04 10:55] #2696 closed

[2020-04-04 11:02] KES777 commented on #2693
I outline the problem: `Previous tabulator does not require that parent element should be attached to DOM.`

probably, by mistake in your code you do assumption that tabulator instance is attached to DOM:

![image](https://user-images.githubusercontent.com/799021/78425197-f57ebc00-767b-11ea-9430-9ff2c72b1534.png)

Here I create element, but do not attach is to DOM
[code]

https://jsfiddle.net/KES7

[2020-04-04 11:05] KES777 commented on #2696
Yes, this is not a bug, but not a feature request too =)

Thank you, Oli

[2020-04-04 11:06] olifolkerd commented on #2698
Hey @KES777

This isn't a regression, this is intended functionality. It was needed to enable the use of async ajax callbacks, because these would retrieve data not passed into the values list for the function, therefore the list would have to be built in the function

Passing in the arbitrary search object was clunky. for most uses receiving the list of values originally passed into the params wa

[2020-04-04 11:06] #2698 closed

[2020-04-04 11:15] KES777 commented on #2698
I do not argue that is required thing,
but this is not documented how to use that. Probably link to an example or so

[2020-04-04 11:22] #2695 closed

[2020-04-04 11:26] KES777 opened #2699 "Filter is flushed when focus is changed"
no fiddle, as there is no CDN for latest version of tabulator
![image](https://user-images.githubusercontent.com/799021/78446117-164a1000-7682-11ea-9dcc-2f08ba4223fa.png)

**How to reproduce:**
Filter table:
![_2](https://user-images.githubusercontent.com/799021/78438445-e00b9100-767f-11ea-9b66-df4200e7db78.jpg)

Click the cell with `640`:
![_](https://user-images.githubusercontent.com/799021/7843

[2020-04-04 11:26] olifolkerd commented on #2698
I should add that if you want to continue the old functionality, that is not a problem at all, simply create a custom editor using the old code :)

[2020-04-04 11:29] olifolkerd commented on #2698
The [Upgrade guide](http://tabulator.info/docs/4.6/upgrade#autocomp) explains that it is the values property passed directly into the ***searchFunc*** there is no need to explain what the ***item*** argument is in the forEach is as it is arbitrary, depending on the type of the values argument, in the  case of the example it is an array

[2020-04-04 11:43] olifolkerd commented on #2699
Hey @KES777

We moved to unpkg as the CDN about a year ago, it pull directly from NPM so there is no delay in availability of new versions.

You can find the links in the [Install Documentation](http://tabulator.info/docs/4.6/install#sources-cdn)

Cheers

Oli :)

[2020-04-04 11:44] KES777 commented on #2698
but `matches` requires particular format, right?
This too implicit how `matches` relates to `listItemFormatter`.
And another question is not clear from doc: does item from matches just goes to `listItemFormatter` as `value` or as `title`

[2020-04-04 11:47] KES777 commented on #2699
Thank you. I will try that.

[2020-04-04 11:53] KES777 commented on #2699
https://jsfiddle.net/KES777/hqnvtg0y/2/

Click header filter in first column, then click any cell:

![image](https://user-images.githubusercontent.com/799021/78449999-11865b80-7684-11ea-9c85-7b991653d2a6.png)

[2020-04-04 12:58] KES777 commented on #2693
temporary work around

If you pass `element` into Tabulator. You should attach it to DOM first.

Notice: here I create parent element.
attach there tabulator table element
then create tabulator inside that table element

![image](https://user-images.githubusercontent.com/799021/78451233-08e65300-768d-11ea-928c-44866ee2c1ee.png)

[2020-04-04 13:35] olifolkerd commented on #2693
@KES777

Now that you know about the new CDN would you mind creating the JS Fiddle as the nested tables example works fine on the website so it is likely a result of a quirk specific setup.

Cheers

Oli :)

[2020-04-04 13:48] KES777 commented on #2693
https://jsfiddle.net/KES777/z3b9wcu8/9/

comment line 38 and uncoment line 23 to get workaround

![image](https://user-images.githubusercontent.com/799021/78452481-13f0b180-7694-11ea-874f-bc9a3c5aea37.png)

[2020-04-04 14:03] olifolkerd commented on #2693
Hey @KES777

Thanks for that, i can certainly make it so the system can handle tables being created on detached elements.

A word of warning though, you shouldnt be manipulating the row DOM like that, when a row is invalidated and redrawn (calling row updates, table force redrawing etc) then it will not contain the table you have appended.

It would be better to use a row formatter based on a hidd

[2020-04-04 14:15] olifolkerd commented on #2687
Hey @amchconsult

Thanks for the information, that definitly looks like a bug,

I will get that fixed in the next patch release.

Cheers

Oli :)

[2020-04-04 14:16] olifolkerd commented on #2699
Hey @KES777

Thanks for that, it was very helpful. This looks like it is the same bug as #2687 it is just the editor being used as a filter.

I will track the issue on #2687 as that was opened first, and will have a fix out in the next patch release.

Cheers

Oli :)

[2020-04-04 14:16] #2699 closed

[2020-04-04 14:23] olifolkerd commented on #2698
Hey @KES777

It no longer has any format, all you have to do is return a valid set of values, that matches the list of allowed types for the values property.

All it does now is takes the values from the values property and filters them and passes them out again.

Cheers

Oli :)

[2020-04-04 15:28] #2678 closed

[2020-04-05 10:48] olifolkerd commented on #2693
Hey @KES777

I have pushed a fix for this to the master branch. it will prevent an error in the event that a table is instantiated when the node is not attached to the DOM.

This does have a knock on issue though, at initialisation the table binds a resize observer to its parent element to enable the table to get bigger if the parent changes size. this may under cirtain circumstances no longer hap

[2020-04-05 10:48] #2693 closed

[2020-04-05 10:59] olifolkerd commented on #2687
I have pushed a fix for this to the master branch and will include it in the 4.6.1 release later today.

Cheers

Oli :)

[2020-04-05 10:59] #2687 closed

[2020-04-05 11:15] olifolkerd commented on #2684
Hey @dragmecom

Looking into this further, this is not a bug, but is down to the order that your code is deleting the rows. I will explain in more detail:

The ***getSelectedRows*** function returns the rows in the order they were selected, it we track this by using row ids and say that you selected the last 5 rows of the table starting at row 5 so [5,6,7,8,9,10]

the rows are then deleted in that

[2020-04-05 11:15] #2684 closed

[2020-04-05 11:30] olifolkerd commented on #2684
I have pushed an update to the master branch for the ***deleteRow** function to make it delete the rows in the order the appear in the table to make the undo more predictable.

I will include it in the patch release today.

Cheers

Oli :)

[2020-04-05 11:31] #2626 closed

[2020-04-05 11:45] olifolkerd commented on #2686
Hey @schmidty1913

Thanks for the fiddle, Just a quick note for the next fiddle you do, you can use the "resources" menu option to pull in the tabulator source from a CDN rather than including it directly in your fiddle. sticking so much code in the fiddle has  slowed it down and makes it really hard to find your code.

Im afraid this is not a bug with Tabulator, this is an issue with your code. I

[2020-04-05 11:45] #2686 closed

[2020-04-05 13:33] schmidty1913 commented on #2686
Oli thanks.

I read the documentation and it said.

That's why I used the js variable.

[2020-04-05 13:42] olifolkerd commented on #2686
Hey @schmidty1913

Yes, but the way you have used the variable is not the way that JavaScript works.

It will pass through the value of the variable at the point it is assigned to the property. at the point you assign it, it is undefined, which is why that dosnt work.

Assigning a value to that variable does not retrospectively change the value of it in functions it has been passed to.

If you pas

[2020-04-05 13:54] schmidty1913 commented on #2686
Hello @olifolkerd
Thanks for the information. I assumed the the JS variables were pointers to the table. My strong suite is not JS... I'm much better in C C++ and goLang.

As for Tabulator I am using it in a personal project of mine, and it is amazing! I am basically using it for everything. I would love to assist in making it better. DM me if you would like some help. I've spent the last 2 months

[2020-04-05 21:37] olifolkerd commented on #2686
Ahh. I moved to using unpkg as the CDN last year. It pulls directly from npm so is always up to date.

Check out the install docs for the links

Cheers

Oli :)

[2020-04-05 21:40] olifolkerd commented on #2686
Full calendar is a great library, I use it a lot, but it certainly isn't mine. That is just a fork I was using for my own project work.

It would definitely be worth using the original source for full calendar, they have put in some fantastic new features since I forked it.

[2020-04-06 02:10] dragmecom commented on #2684
Great job :) looks like you fixed it! All rows go back in their original order now.

The one thing I did notice is that history wise, it seems that the history length is longer than rows deleted after being restored. So if you delete 4 rows, and restore (undo) it isn't properly calculating history length.

[2020-04-06 08:05] britvik commented on #2524
Heya @olifolkerd thanks for the new release :).

I tested this issue in new version at https://codepen.io/britvia/pen/ExaKYqG and it seems the nested objects don't get created anymore. But the fields still do.

Original data inserted into table:
`{}`
Result data in v4.5.1:
`{ name: undefined, brother: { name: undefined }, favourite: { movie: { name: undefined } } }`
Result data in v4.6.1:
`{ name:

[2020-04-06 16:26] exetico opened #2700 "editor > autocomplete: "Auto fill value""
Hi,

I love the autocomplete-editor. Great job!

I've a feature-request for it.

The "verticalNavigation" makes totally sense, however, I would like to have a hybrid, where arrow up/down, will set the selected in the input-field, but with the result of the first result, as Selected Range, while keeping the rest of the search results, untill the users uses arrow left or right.

The list should be r

[2020-04-06 20:30] mats001 opened #2701 "Confirmation message in cell editable function"
When confirmation prompt is used before editing the cell in the it does not let you edit if the return is true.
I am able to replicate the same with the latest version 4.6.1 on Js Fiddle.
https://jsfiddle.net/anilmathew001/zq1xLc9d/4/
I have tried it on both Chrome and Firefox

[code]

[2020-04-06 22:58] harbulot opened #2702 "Wrong sorterParams used in some cases"
**Describe the bug**

`_sortItem` uses `sorterParams` from wrong column when going back through previous searches.

**Tabulator Info**
Version 4.6

**Working Example**
https://jsfiddle.net/dx80am19/

**To Reproduce**
- Create two columns (e.g. `category1` and `category2`) with custom `sorter`s that will rely on different `sorterParams`.
- Set up an `initialSort` using those two columns.
- Add data

[2020-04-07 13:51] MichaelC77 opened #2703 "View session history of table"
I'm currently setting up some admin tables for a project I'm working on and I want to the ability to make several changes to a table before clicking a save button to process those changes and commit them to a database.

After reading through the documentation and the History module code I noticed that the history does exist as an array already there is just no functionality to access that array.

[2020-04-07 16:00] nrayburn-tech opened #2704 "CDN Link in readme is incorrect"
Uses `@10` as the link instead of `@4.6.1`

The link on tabulator.info is correct.

[2020-04-07 16:13] nrayburn-tech opened #2705 "Cell Context Menu Placement Incorrect (Sometimes)"
**Describe the bug**
Using the cell contextMenu option, the context menu does not always appear at the click location.  It appears somewhere towards the bottom of the screen in the fiddle.

**Tabulator Info**
4.6.1

**Working Example**
https://jsfiddle.net/d8gr3uby/

**To Reproduce**
A step by step guide to recreate the issue in your JS Fiddle or Codepen:
1. Open Fiddle
2. Right click the age colu

[2020-04-07 17:22] olifolkerd commented on #2703
Hey @MichaelC77

The history data is not exposed because there is no meaningful way to present the user with the "details" of what has happened in the history, it tracks a lot more that just editing and not all of it is easy to represent in a format that would be useful to anyone outside of the tables internal functionality.

Each [Cell Component](http://tabulator.info/docs/4.6/components#componen

[2020-04-07 17:22] #2703 closed

[2020-04-07 17:24] #2704 closed

[2020-04-07 17:25] olifolkerd commented on #2705
Hey @nrayburn-tech

Thanks for the headsup, i will have a look into it this week and get a fix in the weekend patch release.

Cheers

Oli :)

[2020-04-08 13:43] nrayburn-tech commented on #2705
I am not sure how related the menus are, but I also have this issue with the rowContextMenu on the table.
The only difference is, it seems to apply regardless of which column I right click.

It is in a more complex app, so I don't have an example to share.

[2020-04-08 14:34] 8483 commented on #2202
@olifolkerd Anything on this issue? Can't use the enter key.

[2020-04-08 16:53] olifolkerd commented on #2705
The rowContextMenu will appear for all columns. It is bound to the row whole row. Not a special column

[2020-04-09 09:05] JeffLeFoll opened #2706 "Modern theme : Frozen columns displayed over not frozen columns even if there is enough space"
**Describe the bug**
With modern theme, frozen columns are displayed above not frozen columns even if there is enough space to display all columns .

**Tabulator Info**
- Tabulator 4.6.1

**Working Example**
Here is a working example with standard theme : https://jsfiddle.net/15n8gLzb/3/
We see that all columns are correctly displayed, if we reduce the view we see that name & age columns are froze

[2020-04-09 13:16] JeffLeFoll commented on #2706
What I've found so far, the modern theme has a nice colour offset in front of each row :

![image](https://user-images.githubusercontent.com/8336918/78898569-4f182980-7a74-11ea-9985-df31f58025d0.png)

This is done in the scss file by having `padding-left: $handleWidth !important;` in the `.tabulator-row{}` rule.

This conflict with the fact that, frozen columns have an absolute position that is ca

[2020-04-10 01:51] mallenswe opened #2707 "Remote Pagination Error: Missing Property with multiple tables"
**Describe the bug**
If you have multiple tabulator tables that use remote pagination on the same page, and they each have unique `paginationDataReceived.data` properties then you will receive a console warning:
`Remote Pagination Error - Server response missing 'lore' property`

The data can still load into the respective table if you force it during the ajaxResponse callback using:
`this.table.s

[2020-04-10 01:59] mallenswe commented on #2222
Hey Oli!

This sounds very similar to what I've made for my project, @ngduc has a similar format to what I'm using. I can transfer what I currently have to a boiler plate Angular project. The code has been suited for my use however if people like it and I can expand on the other features that I haven't used yet.

[2020-04-10 10:35] olifolkerd commented on #2222
Hey @mallenswe

That would be amazing, ideally it would be available on npm as ***angular-tabulator*** in a similar fashion to react-tabulator.

Once you have things up and running, if you could send over an example i can include on the [Frameworks Documentation](http://tabulator.info/docs/4.6/frameworks#angular) i would then be happy to include a link to the website for your wrapper.

Cheers

Oli

[2020-04-10 10:57] olifolkerd commented on #2701
The problem is that calling the confirm function causes focus to be taken away from the cell which then cancels the edit.

In this case you should set ***editable*** to `false` and then use the ***cellClick*** callback to trigger the confirmation. If the user then confirms, you can call the ***edit*** function on the [Cell Component](http://tabulator.info/docs/4.6/components#component-cell) to tri

[2020-04-10 10:57] #2701 closed

[2020-04-10 15:22] mats001 commented on #2701
Thank you for your response Oli.
The solution you have suggested above gives the same result.  The focus seems to change from the cell once the `cell.edit(true)` is triggered and hence the column cannot be edited.  However if you step in to the function using the debugger it lets you do the edit.

[2020-04-10 19:36] rbevans-ugh opened #2708 "Add button functionality to hide data"
*Is your feature request related to a problem? Please describe.**
There is no way to hide data on button select

**Describe the solution you'd like**
I'd like a button to be able to hide data on button select instead of using filtering.
For example, I would want to hide data from column B that equals Foo.

**Describe alternatives you've considered**
Multiple header filters

**Additional context**

[2020-04-11 12:34] olifolkerd commented on #2708
You can already achieve this using a [Custom Editor](http://tabulator.info/docs/4.6/edit#edit-custom)

Simply define an editor that returns a button element and calls the ***success*** function when the button is pressed, passing in either the value you want to filter or an empty string.

Then set that editor on the ***headerFilter*** property in the column definition for the header you want to fi

[2020-04-11 12:34] #2708 closed

[2020-04-11 12:37] olifolkerd commented on #2700
Hey @exetico

Thanks for getting in touch, I think it is a nice idea, but right now i feel the effort to implement it outweights the benefit it would bring to the editor. and i have a lot more urgently needed features that i need to devote my efforts to, so i would not be looking to add this to the roadmap at present.

That being said, if it is something you would like to work on yourself i would

[2020-04-11 12:37] #2700 closed

[2020-04-11 12:41] olifolkerd commented on #2706
Hey @JeffLeFoll

Thanks for getting in touch.

You are correct in your diagnosis of the issue. At this point i am considering removing the modern theme from the standard theme set as it takes some liberties with the table layout and it is not worth trying to update the core library just to try and handle the eccentricities of this theme.

I will have a look into it further for the next release and

[2020-04-11 12:47] olifolkerd commented on #2707
Hey @mallenswe

Thanks for the headsup,

There is definitely an object isolation issue there when the page module is initialized.

I will get that fixed for the next patch release.

Cheers

Oli :)

[2020-04-11 13:17] olifolkerd commented on #2707
I have pushed a fix for this to the master branch and will include it in sundays patch release.

Cheers

Oli :)

[2020-04-11 13:17] #2707 closed

[2020-04-11 13:20] olifolkerd commented on #2702
Hey @harbulot

Thanks for bringing that to my attention, i will make sure it is fixed for the next patch release.

Cheers

Oli :)

[2020-04-11 14:12] olifolkerd commented on #2702
Hey @harbulot

I have pushed a fix for this to the master branch and will include it in this weekends patch release.

Cheers

Oli :)

[2020-04-11 14:15] #2702 closed

[2020-04-11 14:27] olifolkerd commented on #2705
Hey @nrayburn-tech

I have pushed a fix for this to master and will include it in sundays patch release.

The issue arose when the table was close to the bottom edge of the body element but when there was still space in the viewport. Tabulator wasn't taking into account both heights

Cheers

Oli :)

[2020-04-11 14:27] #2705 closed

[2020-04-11 14:54] olifolkerd commented on #2706
Hey @JeffLeFoll

Turns out it was a quick fix, i have pushed a fix to the master branch and will include it in Sundays patch release.

Cheers

Oli :)

[2020-04-11 14:54] #2706 closed

[2020-04-11 15:12] olifolkerd commented on #2608
Hey @britvik

I have just pushed a fix for this to the master branch and will include it in sundays patch release.

Cheers

Oli :)

[2020-04-11 15:12] #2608 closed

[2020-04-12 10:34] olifolkerd commented on #2656
Hey @schmidty1913

I have pushed a fix for this to the master branch and will include it in todays patch release.

Cheers

Oli :)

[2020-04-12 10:34] #2656 closed

[2020-04-12 14:20] olifolkerd commented on #2685
Hey @Prica25

I have pushed a fix for this to the master branch and will include it in today's patch release.

Cheers

Oli :)

[2020-04-12 14:20] #2685 closed

[2020-04-12 14:48] olifolkerd commented on #2555
Hey @tomotom

Looking into this further, this issues is arising because you are hitting the physical size limit of a div in chrome, which is 33554428px.

It actually has nothing to do with the variable size of the rows. if you set them all to have the same height as the thick rows then the issue is the same.

To ensure that the scroll bar accurately reflects the position of the elements in the tab

[2020-04-12 14:48] #2555 closed

[2020-04-12 14:53] olifolkerd commented on #1723
Hey @Arnaud92BlR

Are you still seeing the issue in the latest version of Tabulator?

Cheers

Oli :)

[2020-04-12 16:01] Prica25 commented on #2685
Thanks very much!

Prica

[2020-04-13 00:28] jdaniels0 opened #2709 "Editing left-most column of table with dateTree=true results in loss of tree control elements."
**Describe the bug**
Editing left-most column of table with `dateTree=true` results in loss of tree control elements.

**Tabulator Info**
- Which version of Tabulator are you using?
4.6.2

**Working Example**
[https://jsfiddle.net/36cvLpke/1/](url)

**To Reproduce**
0. Starting state:
<img width="206" alt="Initial" src="https://user-images.githubusercontent.com/63565314/79082546-b5eb4c00-7cdb-11ea

[2020-04-13 08:11] olifolkerd commented on #2709
Hey @jdaniels0

Thanks for the detailed bug report, it was very helpful.

I have pushed a fix for this to the master branch and will include it in next weekends patch release.

Cheers

Oli :)

[2020-04-13 08:11] #2709 closed

[2020-04-13 09:12] #2607 closed

[2020-04-13 09:19] olifolkerd commented on #1908
This appears to be resolved as of 4.6

[2020-04-13 09:19] #1908 closed

[2020-04-13 09:22] olifolkerd commented on #2193
Hey @hrstoyanov

I hope all is well with you. I was just wondering if this is something you are still persuing or weather i should close this off?

Cheers

Oli :)

[2020-04-13 10:50] olifolkerd commented on #2692
Hey @gd2331

You will be happy to hear i have just pushed a commit to the 4.7 branch to add this functionality. This should be released later in May.

You will be able to get the column width in pixels using:
[code]

You will be able to set the column width in pixels using:
[code]

And you will be able to resize the column to fit its contents using:
[code]

Cheers

Oli :)

[2020-04-13 10:50] #2692 closed

[2020-04-13 14:22] sarmad99 opened #2710 "Blank space generated in the table while scrolling"
Hi this error happens rarely and it genrateds this error in the console page:
tabulator.min.js:3 Uncaught TypeError: Cannot read property 'removeChild' of null
    at n._removeTopRow (tabulator.min.js:3)
    at n._removeTopRow (tabulator.min.js:3)
    at n._removeTopRow (tabulator.min.js:3)
    at n._removeTopRow (tabulator.min.js:3)
    at n._removeTopRow (tabulator.min.js:3)
    at n._removeTopR

[2020-04-13 14:42] olifolkerd commented on #2564
Hey @akohring

As part of the 4.6 build i had a rethink about how to make the export module more customisable and reusable in a broader sense across Tabulator.

As a result of this rethink u have restructure the module to allow specific callbacks for each export task, print, clipboard and html *(download coming soon)*

I have just pushed a commit to the 4.7 branch to add the new ***groupHeaderPrin

[2020-04-13 14:42] #2564 closed

[2020-04-13 14:48] olifolkerd commented on #2710
Hey @sarmad99

Im afraid it is very hard to help you if you just post large blocks of code into an issue.

Please read through the [Reporting a Bug Guidelines](http://tabulator.info/community#bug) and use the [Bug Issue Template](https://github.com/olifolkerd/tabulator/issues/new?assignees=&labels=Possible+Bug&template=bug_report.md&title=) to resubmit this bug report.

We need to know a lot more

[2020-04-13 14:48] #2710 closed

[2020-04-13 15:10] olifolkerd commented on #2570
Hey @benkim-saama

you will be happy to hear i have just pushed an update to the 4.7 branch with these features in. This branch should be released at some point in may.

You will then be able to filter as such:
[code]

Cheers

Oli :)

[2020-04-13 15:10] #2570 closed

[2020-04-13 15:42] olifolkerd commented on #2644
Hey @srankgit

You will be happy to hear i have just pushed an update to the 4.7 branch that adds a new layout mode that will allow the table to only take up the width of the columns it contains.

[code]

The 4.7 branch will be released some time in May.

Cheers

Oli :)

[2020-04-13 17:14] mallenswe commented on #2542
I've also had an ask to use this feature in my project. I've tried to Force an 'All' or data.length number into the dropdown but the functionality behind selecting that option isn't there.

[2020-04-13 20:33] olifolkerd commented on #2542
Hey All,

You will be happy to hear i have pushed a commit for this feature to the 4.7 branch that will be released at some point in May.

You will be able to achieve it by passing a boolean of ***true*** into the ***paginationSizeSelector*** array

[code]

Cheers

Oli :)

[2020-04-13 20:33] #2542 closed

[2020-04-13 20:51] #1437 closed

[2020-04-13 21:11] olifolkerd commented on #2593
Looking into this a bit more i will look at adding support through moments, timezone functionality:
https://momentjs.com/timezone/docs/

I will add a parameter to allow setting of the timezone on the sorter and formatter and it will be down to the developer to ensure the timezone library has been installed, which i will link to in the docs.

I will aim to get this in on the 4.7 release

Cheers

Ol

[2020-04-14 02:58] kkc-yuki opened #2711 "Undefined "self" on js/column.js#L621"
**Describe the bug**
When I run the test in my app using tabulator module in node package,
the following error appeared.

[code]

Then, I add the code `var self = this` in dist\js\tabulator..js:1939,
it works fine.

**Tabulator Info**
- 4.6.0

**Working Example**
I tried to simulate this problem with JSBin, but I could not.
But to show what my code looks like, I will put the link below.

https://j

[2020-04-14 07:12] olifolkerd commented on #2711
Hey @kkc-yuki

Thanks for the headsup,

I have pushed a fix for this to the matser branch and will include it in this weekends patch release.

Cheers

Oli :)

[2020-04-14 07:12] #2711 closed

[2020-04-14 15:23] JeffLeFoll commented on #2706
Great !! Thank you very much @olifolkerd

[2020-04-14 16:33] hrstoyanov commented on #2193
@olifolkerd not st thr moment, close it off

[2020-04-14 16:34] #2193 closed

[2020-04-14 16:35] olifolkerd commented on #2193
Roger

[2020-04-14 18:58] ashton721 opened #2712 "Frozen Columns lag on nested data"
**Describe the bug**
Frozen columns are lagging when scrolling. This appears to only happen when you don't define a height parameter in. And  it seems to only happen on nested child rows.

**Tabulator Info**
- 4.5.3

**Working Example**
https://codepen.io/ashton721/pen/GRppwXr

**To Reproduce**
A step by step guide to recreate the issue in your JS Fiddle or Codepen:
1. Go to https://codepen.io/ash

[2020-04-14 19:07] olifolkerd commented on #2712
Please try upgrading to the lastest version of Tabulator

On Tue, 14 Apr 2020, 19:58 ashton721, <notifications@github.com> wrote:

[2020-04-14 19:18] ashton721 commented on #2712
Thanks!

[2020-04-14 19:18] #2712 closed

[2020-04-14 23:30] G-IV commented on #428
I can't find this answered anywhere - if you want me to reopen this somewhere else I can.  In my case, when a cell is edited, I want to be able to add a class indicating to a user that that cell was edited.

I just can't find any way that I can do this - is there any chance you could help out with this?

[2020-04-15 08:49] michaelongithub opened #2713 "update GUI after modifying row data without redraw"
If bug: needs fix.
If by design: why?

If the current behaviour is desirable  by design. provide option in the different update mechanisms / methods above mentionend for updating GUI

[2020-04-15 08:52] olifolkerd commented on #2713
Hey @michaelongithub

Im afraid i dont understand what it is you are asking there, there isnt enough information to go on.

please provide more details of the specific case you are trying to describe, the outcome you would like to see and the reasons for the change.

Cheers

Oli :)

[2020-04-15 09:01] michaelongithub commented on #2713
Lets say I have something like:
tabulator.updateData([{ BRAND_FAMILY_INFO_ID: "4", BRAND_FAMILY_INFO: "GUGU" }]);
If I check
let updatedRow = tabulator.getRow("4");
console.log(updatedRow );
I see that it is updated.
But in GUI the old value is still displayed.
The display is updated only after table.redraw(true).

I would have expected featurewise the visible value to be updated also, without add

[2020-04-15 09:23] olifolkerd commented on #2713
it should return a promise that will resolve when the data has been updated.

Im afraid i dont follow you. update data should trigger table redraw.

maybe a JS Fiddle may help in this instance.

Cheers

Oli :)

[2020-04-15 11:47] michaelongithub commented on #2713
Hi Oli
On closer analysis it is reproducible if more than 1 col is bound to the same data field. In the following example only the value in the name2 column is visibly updated.
`daTabulator = undefined;

let tabledata = [
    { id: 1, name: "Billy Bob", age: 12, gender: "male", height: 95, col: "red", dob: "14/05/2010" },
    { id: 2, name: "Jenny Jane", age: 42, gender: "female", height: 142, col

[2020-04-15 11:51] olifolkerd commented on #2713
At that point that is totally understandable.

If you bind multiple columns to the same field then tabulator has no way to know which ones to update. it is designed to have one column per field.

In your scenario i would suggest using a mutator to created a mocked additional field and then using the cellEdited event to trigger an update in the additional field

Cheers

Oli :)

[2020-04-15 11:51] #2713 closed

[2020-04-15 11:54] michaelongithub commented on #2713
Thanks

[2020-04-16 11:25] exetico commented on #2700
That's fully understandable. I think i'll do it the ugly way. I can't live up to the same quality, i guess. But i'll consider to take a look at it, at some point, if i found time, to do so.

Maybe a "quick" solution could be to define, whether an selection in the dropdown, will result in jump to the next item in the row, OR, instead, stay in the input-field, and put the selector in the end of the

[2020-04-16 11:38] webseitz opened #2714 "autoColumns does not work if the column-name contains a period (.)"
**Describe the bug**
If the autoColumns feature is used and the column-name contains a period (.), like
`{id:4, "nam.e":"Brendon Philips", progress:100, gender:"male", rating:1, col:"orange" },`

then the data for the whole column does not show up. Happens also if the data is loaded via AJAX as a JSON-Object.

**Tabulator Info**
4.6.2

**Working Example**
https://jsfiddle.net/2puwe4z8/2/

**To Rep

[2020-04-16 12:48] Luismvst opened #2715 "Horozontal Scroll with ajax"
Hello Oli!

I am having trouble visualizing a huge table with multiple header (4 levels) of aprox 40.000 columns, with a nested data tree of 200 rows aprox.

It takes several hours to render a few json MB of data in javascript (data and columns data).

I know tables are not meant to be showed that way, but the situation requieres it.

I would like to ask if it is possible to include ajax to be abl

[2020-04-16 17:44] vec2k4 commented on #2622
Hey Oli,

works perfecly, thanks again!

[2020-04-16 19:08] olifolkerd commented on #2715
Hey @Luismvst

That is a lot of columns there, i would argue that it would be extremely bad User Interface design to have that many columns in the first place as there is no meaningful way that a user could interact with a table with that many columns. even Excel would struggle to manage that many columns.

So while i will be looking to virtualize columns in version 5 i see a very limited usage ca

[2020-04-16 19:08] #2715 closed

[2020-04-16 19:11] olifolkerd commented on #2714
Hey @webseitz

This is not actually bug, but a feature.

Dot notation is used for defining columns in nested data structures. have a look at the [Nested Data Documentation](http://tabulator.info/docs/4.6/columns#field-nesting) for more info.

You can change the default field separator symbol to prevent the issues you are experiencing by using the ***nestedFieldSeparator*** option. if you set it to

[2020-04-16 19:11] #2714 closed

[2020-04-16 21:15] Jojoshua commented on #2441
Hi Oli,

I am still experiencing this issue even using 4.6.2. https://jsfiddle.net/jojoshua/vjnkyma0/4/ shows the same example using the new version.

With Firefox, click inside the first cell, then keep tabbing through. You will eventually get the cursor to loose focus and then switch to the 2nd cell of 2nd column. It repeats this cycle for each row added.

Josh

[2020-04-16 21:34] olifolkerd commented on #2441
Hey @Jojoshua

Im afraid i cant replicate that, that fiddle works fine on firefox for me, maybe something is cached on your machine?

On a side note, there is no need for the `jQuery(function($) {` in your fiddle the js in there will be executed on ready anyway. I only mention it because it makes for a clearer minimal test case.

Cheers

Oli :)

[2020-04-16 21:42] olifolkerd commented on #2441
Hey @Jojoshua

I think i have managed to replicate what you are talking about, but as far as i can tell it only happens if you are really hammering the tab key. is that what you are experiencing?

Cheers

Oli :)

[2020-04-16 21:46] olifolkerd commented on #2441
On further investigation i can only seem to replicate this in your fiddle, when i copy your code into a blank html page the bug is not present and everything works as expected

[2020-04-16 22:16] Jojoshua commented on #2441
Yes it does seem related to timing a bit. I am also noticing that if I type in data into the fields and even slowly tab, it does not focus to the next row when I get to the 3rd row. Are you able to reproduce that?

I type a (tab) b(tab) c(tab) d(tab) then the next cell is not focused.

[2020-04-16 22:19] Jojoshua commented on #2441
Ok I still think it is related to the original issue somehow. Typically if you want to tab out of the last cell it is a fast operation so then you will start immediately typing to the next cell. Is there a settimeout somewhere?

[2020-04-17 07:51] olifolkerd commented on #2441
@Jojoshua I cant seem to replicate you a tab, b tab approach.

But looking into this further i think i can offer some explanation into what is going on here.

The reason the issue exists in the first place is due to a couple of quirks with Firefox. the first is that the browser calls some of its event handlers in a different order from other bowers. The second is that it seems to takes more time t

[2020-04-17 14:52] jmeberst opened #2716 "Custom Cell Editor and Multiple Selection, Prevents Editing Rows."
**Describe the bug**
When using Tabulator with selection: true and a custom editor on a column, After triggering a cell edit, some rows become un-editable and instead just get selected/deselected.

**Tabulator Info**
- Which version of Tabulator are you using?
4.6.2

**Working Example**
YOU MUST include a link to a JS Fiddle or Codepen that demonstrates the problem, it is very hard to diagnose an

[2020-04-17 16:59] Jojoshua commented on #2441
Hi @olifolkerd thanks for looking into this again. I appreciate you wanting Tabulator to work consistently across all supported browsers and well tested against production sites.

I believe that fixing an underlying issue could improve the virtual dom rendering which affects many more scenarios. Upon some further testing of my own it appears that the virtualDom rendering is part of the issue. When

[2020-04-17 17:04] olifolkerd commented on #2441
That isnt an underlying issue as such that is more that as of version 4.6 for your particular usage case it is advisable to turn off the virtual DOM because you are building a list that has no confined height.

As of version 4.6 the virtual DOM is enabled by default even without a height because users wanted to have it so that a table would be able to resize up till it hit the max height and then

[2020-04-17 17:27] mbulfair commented on #2652
Is this why I can't `import` it into a typescript component?

[2020-04-17 17:35] olifolkerd commented on #2652
@Jojoshua Should be able to offer some sage words of wisdom there as our resident TypeScript wizard

[2020-04-17 17:44] mbulfair commented on #2652
I added manually to the index.d.ts `export default Tabulator;` and that let's it be importable, I then ran into passing a ref of a html element with a tagName error. I might just give up this POC with this table.. So close..

[2020-04-17 17:49] Jojoshua commented on #2652
You can reference this as an example.

https://github.com/Jojoshua/TypedTabulator

[2020-04-17 17:51] olifolkerd commented on #2652
@Jojoshua would you mind if I included a reference to that on the Tabulator website?

[2020-04-17 17:54] mbulfair commented on #2652
I looked at that one, but that doesn't fix the fact on compile the import is missing for the references. That aside:

[code]

[2020-04-17 17:54] Jojoshua commented on #2652
Sure thing. I thought you already had it under language support though.

[2020-04-17 17:56] mbulfair commented on #2652
@Jojoshua I added to the node_module manually this line
![image](https://user-images.githubusercontent.com/5325543/79599246-2d8df200-80b3-11ea-9e84-2547ed9299e1.png)

so that
`import Tabulator from 'tabulator-tables';` would work

I'm using stenciljs to compile a data grid

[2020-04-17 17:59] Jojoshua commented on #2652
@mbulfair that doesn't look like a typescript issue or error. There is probably something else going on.

[2020-04-17 18:01] mbulfair commented on #2652
I doubt we should have this conversation in this issue, is there someplace better? I'm sure this is a simple fix, but without that, line added it compiles to:

![image](https://user-images.githubusercontent.com/5325543/79599650-e18f7d00-80b3-11ea-94aa-c49e5c7ec196.png)

[2020-04-17 18:03] Jojoshua commented on #2652
I remember some other discussion about this. Try reviewing comments here for possible solution. https://github.com/DefinitelyTyped/DefinitelyTyped/pull/34756

[2020-04-17 18:06] mbulfair commented on #2652
I ran into those as well. Doesn't seem to be a solution there either. Unless it's the types root

[2020-04-17 18:38] mbulfair commented on #2652
So I think the solution is to add `types` @Jojoshua however this breaks other things I have in my library, this is also a manual approach while just adding the export as I've seen in other answers would solve it so the default tsconfig. would automatically look in node_modules/@types I don't think this project will work for me if I have to add this and reconfigure other working components.

[2020-04-17 20:25] mbulfair commented on #2652
I got it to work, but I just manually placed the types to a local location where I would declare the module.  It's rendering the markup, but with:

![image](https://user-images.githubusercontent.com/5325543/79611174-01c93700-80c8-11ea-8f49-3366e7f943b9.png)

[2020-04-18 10:24] olifolkerd commented on #2593
Hey @nigels-com

I have just pushed an update to the 4.7 branch that will be released at some point next month.

You will be able to set a timezone for a column using the new ***timezone*** formatter param:

[code]

Cheers

Oli :)

[2020-04-18 10:24] #2593 closed

[2020-04-19 12:07] Joao-deOliveira opened #2717 "Adding Horizontal Column Alignment on 'generateColumnsFromRowData'"
Would like to have the Horizontal Alignment managed on the 'generateColumnsFromRowData' on the similar way that the 'sorter' is processed.

SOLUTION
[code]

[2020-04-19 15:32] Tudodesk commented on #2612
Hi Oli, You have been super helpful. We are struggling with a small issue.
In our app we allow the users to edit the column titles, we did this
ourselves rather than use the column edit feature. Is there a way we can
programatically set a column title? We were doing this on table init,
{"title": _CUSTOM_TITLE_ID} but since we switched to the new persistence
version, the table init uses the column

[2020-04-19 20:34] nrayburn-tech opened #2718 "Access to Column Default Option List"
I am attempting to validate user input that is used to create a Tabulator instance.  As they input the options, I want to provide feedback if it is an invalid table or column option.
I can access the Table options through `Tabulator.prototype.defaultOptions`.  I cannot find a way to access the `Column.defaultOptionList`, without creating a Tabulator instance. For example, I can get the list throug

[2020-04-20 12:23] mbulfair opened #2719 "Append menus to parent rather than document"
*Is your feature request related to a problem? Please describe.**
I'm trying to use this project in a web component, if that component has the shadow dom enabled, the css is not available to the rest of the project. Would it make more sense to bind all listeners to the parent element?

**Describe the solution you'd like**
Including the line `document.body.appendChild(this.menuEl);` to `this.table.

[2020-04-20 15:28] kapenzo opened #2720 "Only first page data in excel by default download"
Hello,
first of all, thank you for this framework!
Now to the problem.
I have a paginated table with more pages. In the previous version 4.4.1 when I used download module to generate excel, there were by default **all data included (from all pages)**. As I see, this logic is until **4.5.3.**

Now (**4.6.0-4.6.2**) I see that by default is the "active" option used. When I generate excel now, as res

[2020-04-20 15:59] kapenzo commented on #2720
I tested the option "all". It is obviously not possible because of the 1. bug/typo issue :D
I have all the time "display" option no matter what I will set.  So this is definitely a bug.

So for now only option for me to show all the pages is to use the 4.5.3 version.

[2020-04-20 17:28] Luismvst opened #2721 "Download as Excel Multiple Header"
Hello Oli!

I am dealing with a bug with the download to an xlsx file.

It happends when you try to download a multiple header table (3 levels or more) mixed with simple headers columns. In my case, we have 2 columns with one level headers at the begining of the table and columns with 3 levels next to them in the same table. The xlsx file tries to combine the cells corresponding to the multi-heade

[2020-04-21 11:14] Joao-deOliveira commented on #2717
here is the code I wrote to get it working

=======================================================
generateColumnsFromRowData = function (data)
	{
		var cols = [],
			keys,
			row,
			sorter,
			hzAlign;

		if ((typeof(data) === typeof(undefined) || data === null) || data.length == 0)
			return null;

		var RndPoint	= Math.floor((Math.random() * TabRows.length));
		row = data[RndPoint];

		for (v

[2020-04-21 14:32] jessp01 commented on #1011
Hi all,

The above examples certainly helped me on my way.
Thought I'd share mine. This uses  jquery-ui-timepicker-addon.js
[code]

Then, at the column definition:
[code]

In the hope that it helps somebody.

[2020-04-22 05:24] takuy opened #2722 "Bootstrap theme classes do not work properly"
**Describe the bug**
the Bootstrap theme's table-dark class does not work properly on table elements. The last version this worked was 4.2.5

**Tabulator Info**
Tabulator 4.6.2

**Working Example**
Version 4.2.5 with newest Bootstrap: https://codepen.io/tako1337/pen/ywaJQB
Version 4.6.2 with newest Bootstrap: https://codepen.io/tako1337/pen/eYpBjPd

**To Reproduce**
1. Add table-dark to table elem

[2020-04-22 05:38] takuy commented on #2722
Guess it was this commit to fix transparency that broke things like `table-dark`: https://github.com/olifolkerd/tabulator/commit/84e4a3f6399c4fd3734f57897e011ab213329dd5

[2020-04-22 06:09] guanicoe opened #2723 "addClass() is not a function - apparently"
https://jsfiddle.net/ehgydz81/

Hi, when I use the default example for using booststrap as a theme. I added the code you showed to my project and i get an error.
[code]

The error is:
`TypeError: row.getElement(...).addClass is not a functiondashboard:51:30`

**Tabulator Info**
tabulator-tables@4.6.2

**Working Example**
Even when I only copy and past the example from the website (without any of m

[2020-04-22 09:05] MyDino commented on #1539
Oli: you are the best. I love working with tabulator and I'm happy to help on smaller problems with dependencies. Of course I've already spend some funds on Patreon ;-)
**For all who are struggling with UTF-8** in Table-Headers, using tabulator and jsPDF with autoTable;
this solution works:
( I tried several fonts, good results are given with WorkSans from Google Fonts <br>https://fonts.google.com

[2020-04-22 09:49] ashasaji opened #2724 "footer total"
**Describe the bug**
A clear and concise description of what the bug is.

**Tabulator Info**
- Which version of Tabulator are you using?

**Working Example**
YOU MUST include a link to a JS Fiddle or Codepen that demonstrates the problem, it is very hard to diagnose an issue from a simple description.

**To Reproduce**
A step by step guide to recreate the issue in your JS Fiddle or Codepen:
1. Go

[2020-04-22 09:51] olifolkerd commented on #2724
You have not filled in any of the required parts of this issue, template. you have just written the word "footer template" as the title.

Please resubmit this with all the required details

Cheers

Oli :)

[2020-04-22 09:51] #2724 closed

[2020-04-22 09:52] FuchieSteph opened #2725 "Choose which columns to strech with fitDataStretch"
Hi,

It would be great to be able to chose which columns to strech with fitDataStrech layout. Then instead of stretching the last column, we would be able to choose the columns we want to strech and how to fill the remaining space.

I know that the "fitColumn" layout exists, but I find fitData layout more readable on small screens.

**Describe the solution you'd like**
We could use widthGrow prope

[2020-04-22 10:32] ashasaji opened #2726 "Pdf Download do not include Footer row added with bottomCalc."
Hello,
Am using latest version of Tabulator (4.6.2) in Angular 8.
My tabulator settings are :
  this.myTable = new Tabulator("#tabulator-div", {
      pagination:"local",
      height: "500px",
      layout: "fitColumns",
      groupBy: "SOC_NAME",
      tooltips: true,
      tooltipsHeader: true,
      resizableRows: true,
      columns: this.columnNames,
      columnCalcs:"both",
      placehold

[2020-04-22 20:38] edwinro opened #2727 "select editor: typing in first letter makes user jumps to value"
Hello Oli,

**Is your feature request related to a problem? Please describe.**
I'm using a Tabulator table that contains a select field with plenty (100+) options. Users need to scroll a lot to find the right value.

**Describe the solution you'd like**
Typing in the first letter on the keyboard makes the user go to the right dropdown value.

**Describe alternatives you've considered**
- Not using

[2020-04-23 16:19] SandeepBadawe opened #2728 "Setting value in group row cells"
I develop applications for data analysis and representation. I found Tabulator is a multi faceted tools that can be used for many purposes.

I want to use Tabulator as a Pivot table like app. I have data like [ Id, State, Location, Sales ]. I plan to group State and Location, plan to compute Sales Sum for Location and State group and put the value in respective group row in a cell representing col

[2020-04-23 18:25] Joao-deOliveira commented on #2675
Hi there,

could you implement upon Undo / Redo a 'cellEdited' event?  this because what's happening is exactly that ;-) ...

If that can be managed by the History Undo Callback, can you please illustrate how we can trigger that event?

Thanks a million :-)
cheers
João

[2020-04-25 18:16] vec2k4 opened #2729 "menu item generator function does not get the component object as 1st argument"
**Describe the bug**
The [documentation ](http://tabulator.info/docs/4.6/menu) says that when using a generator function for context menu items, the corresponding component object is passed to the function as the 1st argument:
[code]
This is not the case for any of the functions (`rowContextMenu`, `headerMenu`, `headerContextMenu`, `contextMenu`). The `component` argument is always `undefined`.

*