[2019-02-28 21:38] Jojoshua commented on #1829
Thanks @olifolkerd

I definitely plan on using the vanilla version but I am trying everything on the website to learn the ropes!

[2019-02-28 21:51] olifolkerd commented on #1840
Hey @waruyama

Thanks for your feedback, for the time being i'm avoiding going down the commercial licensing route because a lot of organisations (especially public sector) have policies that prevent their staff using software with restrictive licensing.

I see so many sites out there that either have terrible tables because of the restrictive licensing of other tables, or paying insane amounts of

[2019-02-28 22:17] morficus commented on #1832
Would it be possible to update the documentation to reflect this intention?

[2019-02-28 22:24] olifolkerd commented on #1832
Yup no problem, I will update it this weekend

[2019-02-28 22:38] taka2 opened #1845 "There is an error in the filters sample code"
http://tabulator.info/docs/4.2/filter#overview

Click "View Source"

There is an extra close bracket at the end of the line.

[2019-02-28 23:56] rspadim commented on #1785
when editing a select with a movable row, at the end of a big table (500 lines full page (height=100%) table), if you click the select cell it start movable function instead of start cell editing

[2019-02-28 23:58] rspadim opened #1846 "Moveable + Cell editing"
**Describe the bug**
moveable row start before cell editing

**Tabulator Info**
- Which version of Tabulator are you using?
4.2

**To Reproduce**
Setup a tabulator with a blank page (only tabulator)
100% height
1024x768
set column to select
set editable
set moveable rows

when you go to end of tabulator (500 lines +-) at bottom of page
if you click the select cell to edit, the tabulator start move

[2019-03-01 02:13] zixy99 opened #1847 "Vertical scroll via scroll bar very slow and jumpy"
Tabular version 4.0.5 on Windows 10 pro.
Table has 500 rows (or more) and many columns (>20).
Scrolling vertically via the scroll bar has the following problems:
In Chrome: Scrolling is very slow and jerky.
In Firefox: Scrolling is faster than in Chrome but is "blinking" i.e. get empty and then filled up.
Note that it is way slower than the same table just rendered directly with HTML.
I have tried

[2019-03-01 04:46] Jojoshua commented on #1840
@olifolkerd -- This would be a massive typescript definition. I'll give it a shot since I am trying to learn this library anyway. Would you expect the definition to be shipped with Tabulator or published to DefinitelyTyped?

[2019-03-01 07:06] z3rohour commented on #1437
Hi @olifolkerd

That was my first guess (yes, I'm the guy who usually reads documentation before posting something:)) that's why the first line in my Tabulator constructor call is
`height: "95%"`

[2019-03-01 07:18] olifolkerd commented on #1845
Hey @taka2

Thanks for the headsup, i will get that fixed this weekend.

Cheers

Oli :)

[2019-03-01 07:19] olifolkerd commented on #1785
Hey @rspadim

Please dont spam unrelated topics if you think you have found a bug please create a separate issue with the bug template

[2019-03-01 07:22] olifolkerd commented on #1847
Hey @zixy99

If you are asking a question you need to do so on Stack Overlfow, not here.

If you think you have found a genuine bug, then you need to use the bug template when creating an issue as it prompts you to enter all the information we need to fix the issue.

it is very hard to determine what is wrong with your table without seeing a working example, please create a JS Fiddle or Code Pen s

[2019-03-01 07:22] #1847 closed

[2019-03-01 07:23] olifolkerd commented on #1840
Hey @Jojoshua

Thanks for your kind offer of help, could i ask that if you have any questions about the typings that you ask them in issue #86 it will help me keep track of the whole issue in one place.

Cheers

Oli :)

[2019-03-01 07:25] olifolkerd commented on #1437
Hey @z3rohour

It is very hard to diagnose your issue without seing how your table is setup, please create a JS fiddle or Code Pen that demonstrates your issue.

Also if you have found a genuine bug, please create a new issue, this one is primarily for me to report improvements to the rendering system to users, so i dont want it crowded up with long conversations.

Cheers

Oli :)

[2019-03-01 07:32] olifolkerd commented on #1836
the correct code should have been:
[code]

I have made a fix for this on the website and will make it live later today.

Thanks for the feedback

Oli :)

[2019-03-01 07:32] #1836 closed

[2019-03-01 07:37] olifolkerd commented on #1829
The doucmentation changes will be live in the next hour.

Cheers

Oli :)

[2019-03-01 07:37] #1829 closed

[2019-03-01 07:40] #1820 closed

[2019-03-01 07:42] olifolkerd commented on #1845
fixed :)

[2019-03-01 07:42] #1845 closed

[2019-03-01 07:47] taka2 commented on #1845
Thank you!

[2019-03-01 08:06] olifolkerd commented on #1846
If you are using movable rows and editing i would suggest using row handles as shown in the [Movable Rows Example](http://tabulator.info/examples/4.2#movable)

It will lead to a cleaner experience for all users.

Cheers

Oli :)

[2019-03-01 08:06] #1846 closed

[2019-03-01 08:07] z3rohour opened #1848 "Small table freezes when using grouping feature"
**Describe the bug**
First issue I got : when all groups are expanded and I try to collapse one of them in the middle of the table webpage freezes for a few second and then automatically scrolls up. Selected group is being collapsed, but it's a bit inconvenient to scroll the webpage down again. The same happens when I try to expand group from the middle of the page

Second one : bulk collapsing/ex

[2019-03-01 08:16] z3rohour commented on #1437
Hey @olifolkerd

Sorry for messing the issue up :) I've created new issue with codepen link

Cheers!

[2019-03-01 08:59] Rodbjartson opened #1849 "Collapse all columns when using responsive collapse"
I might have overlooked this in the docs, but I cannot find a way to make my table either just show my table "normally" or to just collapse all. Rigth now I do not like how one row after the other is collapsed when I have set the ResponsiveLayout to collapse(not hide) rows.

I would like to have an option to set once the minWidth is exceeded, ALL rows are collapsed simultaneously, not one after th

[2019-03-01 09:21] rNianios commented on #1043
Hi Oli,

Thanks for taking the time to come back to me as this is I guess a hobby project.

I was thinking of an easier way through tabulator, to create nested table with the ability to show hide the nested table the same way as you have done it for the datatree structure.

Right now to achieve this I have a column with a formatter, with an icon, which I call two 3 functions. One to set the icon t

[2019-03-01 09:39] olifolkerd commented on #1043
Hey @rNianios

Thanks for the info, reading an array of data from a ***_nestedTable*** property of a row would certainly be a good way to go and i would be happy to look at that.

The issues arise that you also need to pass in a table constructor for the new table which will almost certainly be different from the parent table. some users even have multiple levels of nested table. i could look at a

[2019-03-01 10:11] Rodbjartson commented on #1849
If you have little time on your hands, and find implementing this a hassle, I might look into creating a pull request for this.

[2019-03-01 10:29] olifolkerd commented on #1849
Hey @Rodbjartson

Im not sure what you mean, all rows should collapse at the same time, there isnt a responsive collapse scenario that should affect one row over another?

Are you talkin about the toggleable collapse element, in that case there is the ***responsiveLayoutCollapseStartOpen*** option

[code]

i hope that helps,

Cheers

Oli :)

[2019-03-01 10:42] rNianios commented on #1043
Hi Oli,

Sounds like a good idea, somehow you will have to account for showing / hiding the nested table(s) and toggle the icon :)

Again, thanks for getting back to me :)

Kind Regards,
Romanos

[2019-03-01 10:52] pankaj2108 opened #1850 "How to fix Coluheader filter tab position"
below picture shows the issue . here I would like to fix the header filter tab position to fix at bottom of header name.
![image](https://user-images.githubusercontent.com/14398782/53633675-26511e00-3c3e-11e9-8c51-7628bd5fda5e.png)

[2019-03-01 11:08] harihsb commented on #686
Thanks Oli, I was aware of that anyway. This is just a kind suggestion.

[2019-03-01 11:25] Rodbjartson commented on #1849
![screeenshoot](https://user-images.githubusercontent.com/11444201/53635353-2260d400-3c1d-11e9-930c-a5039795bbf0.gif)

[2019-03-01 11:33] justingolden21 commented on #1839
Great, thank you

[2019-03-01 12:56] olifolkerd commented on #1839
@justingolden21  there is a search box at the top right of every page that lets you search all the documentation.

[2019-03-01 13:13] labidus commented on #1815
one way easy to replicate using EditableData  http://tabulator.info/examples/4.2#editable
just edit the date by using the button, it will end as soon you push the button

[
![image](https://user-images.githubusercontent.com/10580216/53640260-cb95d300-3bf9-11e9-969d-8d45e0415d3c.png)
](url)

I will check later for adding another one in fsfiddle with a textarea thank!!

[2019-03-01 14:35] adamxi opened #1851 "Tabulator 4.2.1 dist has no linebreaks."
Hey Oli,

It would be convenient for debugging purposes if the unminified tabulator.js 4.2.1 distribution had line breaks and proper human readable formatting ;)

[2019-03-01 14:54] adamxi opened #1852 "DataTree dataTreeStartExpanded always returns parent row"
Hey Oli,

Having a datatree and setting the dataTreeStartExpanded property to a function, the row object returned seems to always be the parent of the child row in the iteration.

**Tabulator Info**
- 4.2.1

[2019-03-01 18:22] zixy99 commented on #1847
Hi Oli,
Thanks for the input, I am still a bit newbie with both GitHub and Stack Overflow so apologies on getting them confused with each other. I shall transfer this question to Stack Overflow. BTW I have used "height: 100%" so am to enter a specific value to enable DOM?
I will look into JFiddle and see how to upload my files (it's an ajax load table and requires several files. Thanks.

[2019-03-02 00:57] scott-oliver opened #1853 "Bottom Rows Disappear"
Originally I had labelled this ticket as bottom rows disappear on fast scroll, but as you can see with my comment below I'm also experiencing the same issue when the window is much larger (without even scrolling).

When scrolling rather quickly, the bottom rows are disappearing/showing as white space.

I'm using the stock standard 4.2.1 template.

I have tried this with large and small data sets a

[2019-03-02 04:29] mahmad2504 commented on #139
Tabulator is amazing . I wish you had Visa pay option for donation.... Paypal does not work in my country :)

[2019-03-02 04:30] mahmad2504 commented on #139
I am using it in my Linux CVE Management tool and i have got every feature that i thought of. Amazing and so easy to use. I salute to your excellent programming skills.

[2019-03-02 08:50] scott-oliver commented on #1853
I've also noticed that when displaying my table in a larger window this also happens.

Please keep in mind, I'm not resizing my window after the table is loaded. As you can see, without even scrolling this same imaginary border is displayed limiting the number of rows being displayed.

I have modified the CSS slightly, the major items I have listed below, but I have also copied in file for further

[2019-03-02 14:05] KES777 commented on #1629
After updating to 4.2.1 issue in FF disappear

[2019-03-02 14:13] KES777 commented on #1635
works fine after upgrading to 4.2.1.
Thank you.

[2019-03-02 14:19] KES777 commented on #1657
with [4.2.1](https://jsfiddle.net/KES777/noy7qs3k/2/) version woks fine

[2019-03-02 14:37] KES777 commented on #1666
works fine with [4.2.1](https://jsfiddle.net/KES777/Lykuaq7j/2/) version

[2019-03-02 17:14] olifolkerd commented on #1851
Hey @adamxi

Thanks for the headsup, that was because the unminified dist file had become rather large so Babel had stopped formatting it.

I have updated the settings for the file generation on the master branch so line breaks will be restored to the unminified files in the patch release tommorow.

Cheers

Oli :)

[2019-03-02 17:14] #1851 closed

[2019-03-02 17:17] olifolkerd commented on #1831
I have resolved the performance issues with the horizontal scrolling that were introduced in 4.2, these have been pushed to the master branch and will be included in sundays patch release.

The frozen columns are still stuttery on IE, im afraid there is very little i can do about this, IE simply dosn't have a lot of processing power and can barely cope with a lot of Tabulators features. While tabu

[2019-03-02 17:17] #1831 closed

[2019-03-02 17:33] olifolkerd commented on #1818
Hey @waruyama

I have pushed a fix for this to the master branch and will include it in sundays patch release.

Cheers

Oli :)

[2019-03-02 17:33] #1818 closed

[2019-03-02 17:49] olifolkerd commented on #1827
Hey @haferje

I have pushed a fix to the master branch to prevent the expand element showing if the child field has a value of ***null*** . it will be included in tommorows patch release

i am going to leave in the ability to show the expanded element with an empty array for the time being as some people are using it to ajax load in the children.

In version 4.3 im going to add more support for co

[2019-03-02 17:49] #1827 closed

[2019-03-02 18:08] olifolkerd commented on #1852
Hey @adamxi

Thanks for the heads up, that was definitely a bug. i have pushed a fix to the master branch and will include it in tomorrows patch release.

Cheers

Oli :)

[2019-03-02 18:08] #1852 closed

[2019-03-02 18:13] olifolkerd commented on #1850
Hey @pankaj2108

Thanks for getting in touch, please can you ask Questions on Stack Overflow, this issues list is reserved for Bug Reports and Feature Requests.

You can use the ***columnVertAlign*** property to do this:
[code]

I hope that helps,

Cheers

Oli :)

[2019-03-02 18:13] #1850 closed

[2019-03-02 18:18] olifolkerd commented on #1853
Hey @scott-oliver

To start with i would recommend against trying to tie the table height to the `window.innerHeight` value, instead use CSS for this.

If you are seing white space it suggests that the table has been resized without redraw being called on the table so it dosnt know to expand the virtual DOM rendering window.

Can you create a JS Fiddle or Code Pen that can demonstrate the issue as

[2019-03-02 18:39] pythonBerg opened #1854 "Data tree plus positioning"
Suggestion...When using data tree, currently the expand icon is always assigned to column 1, whether or not it is visible. Would suggest it be assigned to first visible instead...

[2019-03-03 00:02] webdev23 commented on #1831
Thanks OP!

Meanwhile, I wrote my own table, this is 35 lines of javascript (including charting) + 25 lines of php. Logic is server side. Scrolling to feed, no more than 200 rows at a time. Sortable by type, etc. Very limited but absolutely enough for a table! _No time to publish as a plugin yet, sorry._

Excuse my arrogant tone, I am alive, yet I want to leave this message to motivate anyone want

[2019-03-03 09:37] Jahangiralom opened #1855 "Adding a new column doesn't preserve row/column sizes"
**Describe the bug**
Resizing a row/column and then adding a column, resets the rows/columns to their default size. More details in relevant stack overflow post https://stackoverflow.com/q/54865539/9516649

**Tabulator Info**
- Which version of Tabulator are you using? **Version 4.1**

**Expected behavior**
To add a column to the table whilst preserving the sizes of each row/column

**Desktop (ple

[2019-03-03 12:15] #1853 closed

[2019-03-03 12:20] olifolkerd commented on #936
I have pushed a fix for this to the master branch and will include it in this evenings patch release.

Cheers

Oli :)

[2019-03-03 12:20] #936 closed

[2019-03-03 12:29] olifolkerd commented on #1813
I have pushed a fix for this to the master branch and will include it in the patch release this evening

Cheers

Oli :)

[2019-03-03 12:29] #1813 closed

[2019-03-03 12:37] olifolkerd commented on #1848
Hey @z3rohour

The issue is in how you have setup your DOM.

by putting the element directly in the body, without setting a height on the body element you are allowing the table to expand to take up as much space as it needs to fit in all the rows, therefore it is taking up a huge amount of space, producing thousands of DOM elements which is what is slowing things down. You can tell this is the ca

[2019-03-03 12:37] #1848 closed

[2019-03-03 12:51] olifolkerd commented on #1828
I have pushed a fix for this to the master branch and will include it in this evenings patch release

Cheers

Oli :)

[2019-03-03 12:51] #1828 closed

[2019-03-03 13:09] olifolkerd commented on #1776
Hey @adamxi

I have pushed a fix for this to the master branch and will include it in this evenings patch release.

Cheers

Oli :)

[2019-03-03 13:09] #1776 closed

[2019-03-03 13:12] olifolkerd commented on #1844
I pushed a fix to the master branch earlier today to fix another issue, which also fixes this one. It will be included in this evenings patch release.

Cheers

Oli :)

[2019-03-03 13:12] #1844 closed

[2019-03-03 13:13] olifolkerd commented on #1795
Hey Guys,

You could use a mutator that references a global variable that increments with each new row.

More information can be found in the [Mutator Documentation](http://tabulator.info/docs/4.2/mutators#mutators)

I hope that helps,

Cheers

Oli :)

[2019-03-03 13:13] #1795 closed

[2019-03-03 13:14] olifolkerd commented on #1815
Hey @labidus

Thanks for the graphic, that was very helpful, that should be a quick fix, i will have a look into it later today.

Cheers

Oli :)

[2019-03-03 13:29] olifolkerd commented on #1815
Hey @labidus

I have updated the documentation for the date editor, the example had a change event in it, that it didnt need as you stated.

The textarea and autocomplete editors are working correctly for me in all browsers. if you feel yuo are having issues, please created a Code Pen or JS fiddle that demonstrate the issue as it may be related to a specific configuration of your table.

Cheers

O

[2019-03-03 13:29] #1815 closed

[2019-03-03 13:35] olifolkerd commented on #1854
Hey @pythonBerg

Great suggestion, i hadnt considered the possibility of the first column being invisible, i will include that in a patch release today.

On a side note, you can use the ***dataTreeElementColumn*** option to specify a specific column for the element if you are having issues.

Cheers

Oli :)

[2019-03-03 15:05] olifolkerd commented on #1855
Hey @Jahangiralom

Thanks for reporting this bug, i have pushed a fix for it to the master branch and will include it in this evenings patch release.

Cheers

Oli :)

[2019-03-03 15:05] #1855 closed

[2019-03-03 15:25] olifolkerd commented on #1854
Hey @pythonBerg

I have pushed a fix for this to the master branch and will include it in this evenings patch release.

Cheers

Oli :)

[2019-03-03 15:25] #1854 closed

[2019-03-03 15:44] olifolkerd commented on #1758
Hey @hhtab

I have pushed a fix for this to the master branch and will include it in this evenings patch release.

Cheers

Oli :)

[2019-03-03 15:44] #1758 closed

[2019-03-03 15:46] olifolkerd commented on #1849
Hey @Rodbjartson

Thanks for the clear example there, i now understand where you are coming from. At the moment there is nothing built in that would be able to do that for you.

I can certainly add something for that though, i will add it to the roadmap for a future release.

Cheers

Oli :)

[2019-03-03 16:25] pythonBerg commented on #1854
Great. Thanks

On Sun, Mar 3, 2019 at 10:26 AM Oli Folkerd <notifications@github.com>
wrote:

[2019-03-03 20:13] KES777 opened #1856 "Unimified version is minified"
**Describe the bug**
I upgrade to 4.2.1 but unminified version of tabulator now looks like minified:

![__](https://user-images.githubusercontent.com/799021/53701013-60b6e880-3e01-11e9-88b5-9ffd38b0919e.jpg)

**Tabulator Info**
- Which version of Tabulator are you using? 4.2.1

[2019-03-03 20:42] adamxi commented on #1856
Fixed in the next version: https://github.com/olifolkerd/tabulator/issues/1851

[2019-03-03 20:47] olifolkerd commented on #1856
as @adamxi says this was fixed in [v4.2.2](https://github.com/olifolkerd/tabulator/releases/tag/4.2.2) which was released just under two hours ago.

Cheers

Oli :)

[2019-03-03 20:47] #1856 closed

[2019-03-04 02:32] xXmrotsXx opened #1857 "Download Table Causes Table Refresh - Clearing Filters/Sorts etc"
**Describe the bug**
When exporting the table data to excel using `$("#example-table").tabulator("download", "xlsx", "data.xlsx");` the table is immediately refreshed - clearing previously set filters and sorts.

**Tabulator Info**
- 3.5.3

**To Reproduce**
Steps to reproduce the behavior:
1. set filters
2. download
3. table reloads in the background while the user is choosing download location

*

[2019-03-04 06:59] olifolkerd commented on #1857
Hey @xXmrotsXx

Thanks for getting in touch, it looks like you are running on an old version of Tabulator there, we are now on version 4.2.2 and this issue is not present in the newer versions.

Have a look at the [Upgrade Guide](http://tabulator.info/docs/4.0/upgrade) for more information of the process of upgrading

Cheers

Oli :)

[2019-03-04 06:59] #1857 closed

[2019-03-04 09:37] adamxi opened #1858 "Horizontal scroll performance 4.2.2"
Hey Oli,

First off, great work :) the scroll performance of 4.2.2 is a lot more smooth and the columns are not lagging along.
I normally wouldn't noticed this but since i am coming from 4.1.5, i noticed that the horizontal scrolling of 4.2.2 still have a lower framerate overall.

I traced the culprit down to the line saying:
**this.element.scrollLeft = left;**
in the **RowManager.prototype.scroll

[2019-03-04 10:06] shaulnaim opened #1860 "Rows on v4.2.2 on ie11 are missing and the scroll handle is jumping."
I am using the latest version 4.2.2 and on chrome all cool !!
but ie 11 wit fallbacks ... besides its poor performance on large data its also not rendering all the rows...
I gave  the tabulator fixed height
I
![capture](https://user-images.githubusercontent.com/2099185/53726067-e2e0f480-3e75-11e9-8b78-71e8cdf0fc91.PNG)
![capture2](https://user-images.githubusercontent.com/2099185/53726076-e70d1200

[2019-03-04 10:40] shaulnaim commented on #1833
@dcanning, @olifolkerd
 i am using tabulator on angular with rxjs and it is possible to work with it.
in order to update the tabulator on stream update, you need to  call tabulator constructor after the subscribe but only on the first time... after that, you should call setData or replaceData to update the grid content
`.subscribe(value => {
        if (!this.table) {
          this.buildTable();

[2019-03-04 11:13] waruyama opened #1861 "Broken layout in bottomCalc when using frozen columns"
**Describe the bug**
When using Tabulator with frozen columns, the x-offset of the cells in the bottom calculation row is wrong.

**Tabulator Info**
- Tabulator v4.2.2

**Working Example**
Here is a codepen that shows this behaviour:

https://codepen.io/anon/pen/WmxaZZ

**To Reproduce**
Steps to reproduce the behavior:
1. Open the Codepen at https://codepen.io/anon/pen/WmxaZZ
2. Scroll down the ta

[2019-03-04 12:19] labidus commented on #1815
ok I was not able to reproduce with jsfiddle the issue i was having, maybe 4.2.2 resolved the issue i will recheck, thanks

[2019-03-04 12:38] labidus commented on #1815
One thing, when you edit when you push HOME/END to move the cursor at the begining or end of the input it cancel the edition :)

[2019-03-04 12:50] labidus commented on #1815
Also one suggestion would be to select the text when you start editing text because you end up at the end of the text, when you edit number its hard a little bit, you end up push home with shft to select and get out of the selection :)

[2019-03-04 12:58] shaulnaim commented on #1819
https://www.ag-grid.com/best-angular-2-data-grid/tree-data.mp4
selecting a parent will select his children

[2019-03-04 13:25] yuvgin opened #1862 "Table Slicer functionality?"
Hi Oli,

Is there some way to hide/show rows/columns by button click activity? (Similar to a [slicer](https://support.office.com/en-us/article/use-slicers-to-filter-data-249f966b-a9d5-4b0f-b31a-12651785d29d) in Excel).
That is, linking a button to (completely) hide or show specific columns/rows based on cell value. This could be useful for selective viewing/column calculations.

Is this possible w

[2019-03-04 14:25] waruyama commented on #1862
You can implement this with a master data object, where each row or column can have an attribute that indicates if the row/column should be hidden on click. If the button is clicked, you create a copy of the master data object and omit the marked rows/columns. Then you set the new data object and call `replaceData()` on the table. This will keep the table's scroll position and display the new data

[2019-03-04 14:51] Rodbjartson commented on #1819
Seems like a handy feature!

[2019-03-04 14:54] Rodbjartson commented on #1862
[THIS](http://tabulator.info/docs/4.2/filter#func) is not what you want?

[2019-03-04 15:06] waruyama commented on #1862
@Rodbjartson's suggestion with filters is much better than mine. Please try filters first.

[2019-03-04 19:12] clurect commented on #1860
How many rows are you dealing with?

Are you setting the table data at the creation of the table? Or do you create the table and then set the data after with the `setData()` function on the Tabulator object?

I think I'm experiencing a similar problem, but I'm still trying to determine the reason behind it.

[2019-03-04 19:14] takuy opened #1863 "movableRowsReceiver: toRow is empty"
**Describe the bug**
When movableRowsReceiver is triggered on the receiving table, toRow is empty even if dropped properly onto a row.

**Tabulator Info**
- Version 4.2.2
- construct example included in codepen below

**Working Example**
https://codepen.io/tako1337/pen/ywaJQB

**To Reproduce**
Steps to reproduce the behavior:
1. drag row (from second table) onto another row (on first table)
2. att

[2019-03-04 19:41] shaulnaim commented on #1860
i am setting the data on creation but also i have polling every 2 minutes to refresh the data using th  replaceData method. its about 10k rows using the virtual scroll it shouldn't be a problem.... i think... but IE is hell....

[2019-03-04 22:06] yuvgin commented on #1862
Great. That does it 👍 :)
Thanks to you both!

[2019-03-04 22:26] #1862 closed

[2019-03-05 01:57] JKirtz422 commented on #1840
Hey I wanted to chime in and say thanks to Oli and everyone else that works on Tabulator, it really is an awesome library. I'm using it in GIS web development and it works great with very little headache. I think getting a way for corporate sponsorship with logos/links to websites would be a fantastic idea.

[2019-03-05 03:37] xXmrotsXx commented on #1857
I used the following function to avoid having to upgrade Tabulator post jQuery if anyone else needs it. It is still dependent on the same _ SheetJS Library_ that Tabulator uses...

`function exportTable(table) {
	var tableData = $(table).tabulator("getData", true); //true for filtered data only
	var workbook = XLSX.utils.book_new();
	var worksheet = XLSX.utils.json_to_sheet(tableData);
	var sheetn

[2019-03-05 10:39] shaulnaim commented on #1860
OMG, the missing few rows were on EDGE...
on iIE11 it's much worse... I can see only one row even if i set the data to only 100 rows....
![ie11](https://user-images.githubusercontent.com/2099185/53799725-bbf0f400-3f43-11e9-83b5-1d8c3bf97de2.PNG)
   /// please help I must support this bad stuff.....

[2019-03-05 15:33] KES777 commented on #1630
[here](http://tabulator.info/docs/4.2/release)

`You` should be capital

[2019-03-05 15:53] haferje commented on #1840
I've submitted a few issue reports that resulted in code fixes.  Many were ones I believe I could have submitted pull requests for, but have been very hesitant about it.  I don't want to submit code that doesn't fit the developer's coding styles or is incomplete because of my lack of knowledge for how all the small parts interact with each other.  How should I go about this?

If I submit a pull re

[2019-03-05 17:27] alainfrisch opened #1864 "ScrollToRow does not work for the last few rows"
**Describe the bug**

If passed one of the last rows, ScrollToRow fails to make it visible, be it with "center" or "bottom" position.

**Tabulator Info**
- Which version of Tabulator are you using: 4.2.2

**Working Example**
[code]

[code]

**Expected behavior**

When typing "98" in the field and click on "Scroll to row (bottom/center)", I would expect row 98 to become visible, but Tabulator does

[2019-03-05 17:42] KES777 opened #1865 "regression: searchFunc get hash instead of array"
**Describe the bug**
at version 4.1.3

![__](https://user-images.githubusercontent.com/799021/53825208-71d93400-3f7e-11e9-89dc-0233b479f2b1.jpg)

at version 4.2.2

![__2](https://user-images.githubusercontent.com/799021/53825349-c41a5500-3f7e-11e9-95ad-cac86b0cdb47.jpg)

probably introduced by commit #1c8615d0f2038a7618fdafc0881bda48c91b539b

[here](https://github.com/olifolkerd/tabulator/blob/mas

[2019-03-05 17:43] KES777 commented on #1865
how to delete issue?

[2019-03-05 17:43] #1865 closed

[2019-03-05 17:45] KES777 commented on #1808
Issue related to #1647

[2019-03-05 18:13] KES777 opened #1866 "Broken condition"
Hi, @olifolkerd

**Describe the bug**
[This](https://github.com/olifolkerd/tabulator/blob/master/dist/js/modules/edit.js#L600) condition is broken:

    (item.value === curentValue || !isNaN(parseFloat(item.value)) && !isNaN(parseFloat(item.value)) && parseFloat(item.value) === parseFloat(curentValue))

It is same as: `(A+B) B C` which can be optimized to [`B C`](http://tma.main.jp/logic/logic.php

[2019-03-05 18:17] KES777 commented on #1648
sorry, I just opened new issue #1866 . It seems related to this one.

[2019-03-05 18:46] KES777 opened #1867 "Allow to setup initial value for autocomplete editor"
When user tries to edit field with `autocomplete` editor
The initial value is selected by default:
![__](https://user-images.githubusercontent.com/799021/53828591-c54f8000-3f86-11e9-83b2-8ca82ccb1218.jpg)

This is not so handy for `autocomplete`, because forces user to clear the field to be able select new value:

![__2](https://user-images.githubusercontent.com/799021/53828685-08115800-3f87-11e9-

[2019-03-05 18:53] takuy commented on #1863
This seems to be an issue when ``movableRows`` is not set on both tables.

``MoveRows.prototype.initializeRow`` is not called on rows of a table without that property - so ``config.mouseup`` is never set.

[2019-03-05 18:57] haferje opened #1868 "Text columns with HeaderFilter will filter on null values as "null" string"
**Describe the bug**
I have table columns that are string/text types.  When I enable filtering, any cell with a null value will filter as if the value of the cell was the string "null".  In testing, I also found that this occurs for "undefined" values as well.

**Tabulator Info**
- Which version of Tabulator are you using?
v4.2.2

**Working Example**
https://jsfiddle.net/haferje/gj0kampx/2/

**To

[2019-03-05 21:52] olifolkerd commented on #1860
Hey @shaulnaim

This is almost certainly because the table is either initialized when it is hidden, or it is resized in someway without the  ***redraw*** function being called.

This dosnt happen on Chrome because Chrome implements the ES8 ***ResizeObserver*** so it always knows when it has changed size. on other browsers you need to tell it to redraw when it changes size.

Cheers

Oli :)

[2019-03-05 21:57] olifolkerd commented on #1840
@haferje

Im happy to work with you on pull requests, if a request dosnt fit in with Tabulators coding style, or dosnt use some of the internal functionality correctly, i will provide feedback and itemise the changes that need to be made for the pull request to be accepted.

The biggest issue i face with pull requests is when developers only consider their usage case when submitting a pull request

[2019-03-05 21:59] olifolkerd commented on #1864
Hey @alainfrisch

At the moment the way the virtual DOM is constructed dosnt permit scrolling beyond the last row in the table.

there is a note in the documentation specifically about this:

In time this may change, but it isnt on the roadmap for active development yet.

Thanks for your feedback

Cheers

Oli :)

[2019-03-05 22:03] olifolkerd commented on #1808
@KES777

As i described above this is not a bug, the fact that the original function exposed internal variables from inside Tabulator was very much a bug and this was a simple fix.

As i mentioned in my comment (and have tag as an enhancement) i will be looking to improve this option in the 4.3 release to give a much wider range of access to information in the function, but this will be done in a

[2019-03-05 22:07] olifolkerd commented on #1867
Hey @KES777

Thanks for the feedback, i will look at adding a series of options for customising the opening behaviour in the 4,3 release.

Cheers

Oli :)

[2019-03-05 22:11] olifolkerd commented on #1868
Hey @haferje

Thanks for the demo there that is very helpful, i think you have found one of the last stragglers for the jQuery remove.

I will add that to the list for the next patch release.

Cheers

Oli :)

[2019-03-05 22:15] pynog opened #1869 "Use of editorParams for input"
I am currently working with Tabulator and I find the library very well designed and easy to use! Nevertheless I have a question regarding the input editor. Why do not you use the parameter editorParams to set some input HTML attributes by adding by default something like:

  for (var k in editorParams){input.setAttribute(k, editorParams[k])};

This might help on remonve the default spellcheck.

In

[2019-03-05 23:14] olifolkerd commented on #1869
Hey @pynog

Thanks for getting in touch, I think that is a great idea, i would look at adding an ***elementProps*** property to the ***editorParams*** object that you can pass these into rather than on the editorParams property itself as that cointains a lot of internal functionality that should not be assigned to a DOM element.

I will look at getting that in the next 4.3 release.

In the mean ti

[2019-03-05 23:20] alainfrisch commented on #1864
I know, but this is not what this report is about.  When typing "98" and clicking "Scroll to row (bottom)" (or "center"), I would expect row 98 to become visible (it's not even the last row of the table).

This is exactly what I'd expect, but this is not what I observe.

I really believe this is a bug, and that this ticket should be reopened.

[2019-03-05 23:22] pynog commented on #1869
Hi,

Thanks for your quick answer and I am absolutely happy with your proposal. Indeed for the time being I have overridden the editor.

Thanks,
Olivier

[2019-03-06 06:50] KES777 commented on #1808
Now I understand you. The bug was with this: ![__](https://user-images.githubusercontent.com/799021/53825208-71d93400-3f7e-11e9-89dc-0233b479f2b1.jpg)

And after fixing it you will fix an example that @Jaise pointed

[2019-03-06 09:04] olifolkerd commented on #1864
Hey @alainfrisch

Could you create a JS Fiddle or Code Pen that demonstrates the issue?

Cheers

Oli :)

[2019-03-06 09:14] gillez commented on #1864
I have also seen this bug.  I fixed it in my local Tabulator fork and submitted a pull request.
https://github.com/olifolkerd/tabulator/pull/1697

Oli, you asked me for more details on this bug in that pull request, which I didn't get a chance to provide.  The problem is caused by not having enough rows left in the table *including the offscreen-rows at the bottom* to set the scrollTop position.

[2019-03-06 09:59] alainfrisch commented on #1864
Here you go:  https://codepen.io/anon/pen/aMpzXw

I've traced a bit, and my interpretation is the following:

  1. scrollToRow first calls _virtualRenderFill, which attempts to put the row at the top.
  2. But _virtualRenderFill will cap the scroll offset, because of the actual height of the holder element (not blank can be displayed at the bottom).
  3. Then scrollToRow adjusts the scrollTop to a

[2019-03-06 10:09] alainfrisch commented on #1864
I can confirm  #1697 fixes my issue.

[2019-03-06 12:40] Jojoshua commented on #86
@olifolkerd can you reopen this issue. I've been working on this.

[2019-03-06 14:09] andreivanea commented on #86
I'm still interested in this but my spare time has been dramatically reduced lately. I'd be more than happy to take a look if someone starts implementing it. I'm assuming it will be valid for v4.

[2019-03-06 15:59] mohshraim opened #1870 "FR: Reactive Data for remote data"
**Is your feature request related to a problem? Please describe.**
As mentioned in  documentation that Reactive Data works with Local Data Only...
We are loading a huge number of records partially using `( ajaxRequestFunc:'',  ajaxProgressiveLoad: 'scroll') `, end user click on record to show a popup to update record data... at this point we can't reflect the changes to table without reload the en

[2019-03-06 23:33] vasiliyaltunin opened #1871 "How set table heoght to fit current screen"
I need to fit table to browser window height, so it takes all free height space that left on screen.

[2019-03-07 01:36] Jojoshua commented on #86
@olifolkerd  I've completed the first revision of the declarations!
These need to be on DefinitelyTyped since Tabulator is not built in Typescript. Please review the index.d.ts file from my pending PR https://github.com/DefinitelyTyped/DefinitelyTyped/pull/33652. I think you will find the way I typed this maps pretty well to the overall design/architecture of the working software but having your r

[2019-03-07 09:09] Rodbjartson commented on #1871
Examples? Pics? What framework are you using?

[2019-03-07 12:17] naushrambo commented on #1480
Tell me how, i need to use this

[2019-03-07 12:54] angeliski opened #1872 "internal function call broken - Reactive data"
**Describe the bug**
A clear and concise description of what the bug is.
The reactive module broken on use row delete method.

**Tabulator Info**
- Which version of Tabulator are you using?
Latest - 4.2.2
**Working Example**
Please include a JS Fiddle or Code Pen that demonstrates the problem, it is very hard to diagnose an issue from a simple description
I use in Vue, but I believe is a JS error:

[2019-03-07 16:53] mrslayer01 opened #1873 "validator not working"
I'm currently working with an input field that only accepts numbers and i want to limit the field to a max of nine numbers, but as soon as i add a validator it fails no matter what i put in.

` var Clickable = function (cell, formatterParams) {
     cell.getElement().classList.add("pointer");
     return cell.getValue();
        };`

`{ title: "SSO", field: "Sso", editor: "input", formatter: Click

[2019-03-07 19:20] akki-jat opened #1874 "TickCross filter showing wrong filtered data on Alt / Alt + Tab key press"
**Describe the bug**
When using tickCross filter if we move to another window (press alt + tab) and come back or press alt key when focus is on tickCross filter then tabulator is showing wrong data until clicked outside (anywhere)

**Tabulator Info**
- Version: 4.2.2

**Working Example**
Same behaviour can be seen on tabulator website. [Link - Tabulator Filter Header](http://tabulator.info/example

[2019-03-07 19:32] akki-jat commented on #1874
Hi @olifolkerd, for fix this issue I have added check for tickCross to disable live update ( I think there is no need for live update on tickCross but you are the man behind Tabulator so, you would know better and also it would be if you share your thoughts ).

So, take a look at PR #1875.

Thanks,

Akshay Jat  (@akki-jat )

[2019-03-07 21:02] dota2Pro opened #1876 "Unable to download table as Excel"
Getting error in console
Uncaught ReferenceError: i is not defined
    at tabulator.min.js:6

**Tabulator Info**
- 4.2 latest
I am just using the website http://tabulator.info documentation

**Working Example**
http://tabulator.info/docs/4.2/download#xlsx

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://tabulator.info/docs/4.2/download#xlsx'
2. Click on 'Download XLSX'
3.. See e

[2019-03-07 22:55] dasoares8 opened #1877 "Question: getting Reference Error on Tabulator 4.2"
Hi likely a dumb q as I am new to js but when I try to run the 4.2 quickstart I get the following:

.../tabulatorExample/node_modules/tabulator-tables/dist/js/tabulator.js:7246
		if (element instanceof HTMLElement) {
		                       ^

ReferenceError: HTMLElement is not defined
    at Tabulator.initializeElement (.../tabulatorExample/node_modules/tabulator-tables/dist/js/tabulator.js:7246

[2019-03-07 22:55] dasoares8 opened #1878 "Question: getting Reference Error on Tabulator 4.2"
Hi likely a dumb q as I am new to js but when I try to run the 4.2 quickstart I get the following:

.../tabulatorExample/node_modules/tabulator-tables/dist/js/tabulator.js:7246
		if (element instanceof HTMLElement) {
		                       ^

ReferenceError: HTMLElement is not defined
    at Tabulator.initializeElement (.../tabulatorExample/node_modules/tabulator-tables/dist/js/tabulator.js:7246

[2019-03-07 22:56] dasoares8 commented on #1878
Sorry the caret in the error is pointing to HTMLElement, not the beginning of the line.

[2019-03-07 23:13] dasoares8 commented on #1878
I think it is due to using the http module, not http-server - closing

[2019-03-07 23:13] #1878 closed

[2019-03-08 02:45] Jojoshua opened #1879 "Feature Request - Slider Toggle"
Create an editor that can take boolean or tri-state values similar to the tick. Something like https://github.com/kevinchappell/kcToggle

[2019-03-08 07:10] olifolkerd commented on #1864
Hey All,

Thanks for the additional info, i will investigate this further on the weekend.

Cheers

Oli :)

[2019-03-08 07:12] olifolkerd commented on #1870
Hey @mohshraim

Reactive data can only work on local data because with remote data there is no array to watch. if you wat progressive scroll loading then you cannot use it at the same time as reactive data.

But i dont think that is your issue.

You can easily update the data in the table without reloading it all, if the update happens as the result of a user editing data in a modal after a row cl

[2019-03-08 07:12] #1870 closed

[2019-03-08 07:14] olifolkerd commented on #1871
Hey @vasiliyaltunin

as long as your sites HTML and BODY elements are set to 100% you can set the table height to 100% and it should work just fine.

Can you please ask questions on Stack Overflow next time,  this issues list is reserved for Bug Reports and Feature Requests only now.

Cheers

Oli :)

[2019-03-08 07:14] #1871 closed

[2019-03-08 07:16] olifolkerd commented on #1872
Hey @angeliski

Thanks for the heads up, that is definitely a bug, i will get that resolved for the next patch release.

Cheers

Oli :)

[2019-03-08 07:17] olifolkerd commented on #1873
Hey @mrslayer01

Please confirm what version of Tabulator you are using, there was a bug in validation in the 4.0 release, please make sure you are running on the latest version.

Cheers

Oli :)

[2019-03-08 07:17] #1873 closed

[2019-03-08 07:21] olifolkerd commented on #1874
Hi @akki-jat

Im afraid i don't understand what your issue is, i cant seem to replicate any bad behaviour, the header filter is working exactly as i would expect and i cant make it do anything to match your demo, using alt or alt tab has no effect on it at all for me.

Cheers

Oli :)

[2019-03-08 07:23] olifolkerd commented on #1876
Hey @dota2Pro

That is due to a bug introduced in the 4.2.2 release, that will be resolved in this weekends 4..2.3 release.

there is pull request for it here #1859

Cheers

Oli :)

[2019-03-08 07:28] olifolkerd commented on #1877
Hey @dasoares8

Thanks for getting in touch,

Which browser are you using?

Cheers

Oli :)

[2019-03-08 07:29] olifolkerd commented on #1879
Hey @Jojoshua

Great idea, and as it happens i have already built slider toggles before, i will add one in 4.3

Cheers

Oli :)

[2019-03-08 07:34] olifolkerd commented on #86
Hey @Jojoshua

Thanks for your hard work in putting this together!

As im not a TypeScript user myself, would you mind taking me through the difference of storing the Typings in the Tabulator repo vs putting them in  DefinitelyTyped?

The Tabulator API changes a little bit each release, what would be the update process for the typings?

Cheers

Oli :)

[2019-03-08 07:45] akki-jat commented on #1874
@olifolkerd make sure focus is on tickCross filter checkbox when you press alt or alt + tab.

[2019-03-08 10:13] angeliski commented on #86
I believe is better and more simple put the typings together with Tabulator just to faster release and installation.
But I don't know advantages in use DefinitelyTyped...

Great Job @Jojoshua !

[2019-03-08 10:32] porkydenny opened #1880 "Export xlsx doesn't work"
Tryng to create an export in xlsx of a table it return:
Uncaught ReferenceError: i is not defined
    at tabulator.min.js:6
    at Array.forEach (<anonymous>)
    at c (tabulator.min.js:6)
    at tabulator.min.js:6
    at Array.forEach (<anonymous>)
    at a (tabulator.min.js:6)
    at r (tabulator.min.js:6)
    at w.xlsx (tabulator.min.js:6)
    at w.download (tabulator.min.js:6)
    at t.d.downl

[2019-03-08 10:44] olifolkerd commented on #86
@angeliski I would feel a bit more comfortable that way to as it means i have a bit of control over updating then when i do a new version release, so there is less risk of things becoming out of sync.

But i am willing to hear other points of views.

Cheers

Oli :)

[2019-03-08 12:42] Jojoshua commented on #86
@olifolkerd I've taken the guidance from the typescript docs here https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

Basically it is the defacto central location that all typescript users can go to find typings; there are thousands of libraries there. If the project itself was written in typescript it can ship the index.d.ts and there is a way in the tsconfig to automa

[2019-03-08 12:56] andreivanea commented on #86
@olifolkerd DefinitelyTyped is where I first looked for the types before coming and asking here. It's basically where it all starts (simple and naive exageration). Another advantage of DefinitelyType is that you can u[se *npm* to add the types to your project](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html#publish-to-types).

[2019-03-08 14:18] gravjean commented on #1880
The function parseRow use a variable i.

But this variable dont exist. I think the variable to use is value event if i dont understand why the value cant be date.

[
rowData.push(!(**i** instanceof Date) && (typeof value === 'undefined' ? 'undefined' : _typeof(value)) === "object" ? JSON.stringify(value) : value);
}
To
[
rowData.push(!(**value** instanceof Date) && (typeof value === 'undefined' ?

[2019-03-08 15:18] mohshraim commented on #1870
Hey Oli,

First would like to thank for great component..
I opened this as feature request as already read the documentation...
I have tried many work around but failed...
following my table setup using ajax Func

`

            tableSpaceList = new Tabulator("#tableSpaceList", {
             height: '300px',
            ayout: 'fitColumns',

        reactiveData:true,
        ajaxURL: 'space',

[2019-03-08 15:38] porkydenny commented on #1880
Hi gravjean,

modifing in that way the export work correctly.
Awesome!!!

Thank you for support!

[2019-03-08 15:38] #1880 closed

[2019-03-08 16:45] Jojoshua commented on #1879
Great. If possible it would be nice to have text/color association and a formatter for read only mode. Not sure how a tri-state would work with it... Maybe it could be as simple as text on the left and a pill-like shape to the right of the text which upon click cycles through an array of pre-determined text/color array.

[2019-03-08 19:00] mohshraim commented on #1870
Hey @olifolkerd ,

About your suggestion `row.update({"name":"steve"}); `
I don't know if this a bug but i found the source of problem that we have nested object that used in column `[{title: "Title", field: "doc.title"}, {title: "Name", field: "doc.name"}, ...]`
when u trace the `row.update` function i found that does update as following

          //update affected cells only
			for (var attrnam

[2019-03-08 20:21] Jojoshua commented on #86
Yep. Speaking of which it just got merged and published. Here it is to test out. https://www.npmjs.com/package/@types/tabulator-tables

[2019-03-08 20:51] Jojoshua commented on #86
@olifolkerd I didn't see your last question. You can mention that there is typescript support but it's not necessarily to explain how to use it. You can add a badge if you want http://definitelytyped.org/pages/badges.html

Anyone doing typescript knows to just pull the definitions. Check the test file I made along side the definition file. I basically took your code from the website to validate it

[2019-03-09 00:43] mohshraim commented on #1870
Hello @olifolkerd

I did a work around function to solve the nested objects for update case...

     const updateTableRow = function (row) {
        const rowData = row.getData();
        const cells = row._row.cells;

    getNestedData = function (fieldStructure) {
        var dataObj = rowData,
            structure = fieldStructure,
            length = structure.length,
            output;

[2019-03-09 13:36] dasoares8 commented on #1877
Hi Oli, thanks for responding. It is my work computer, I was using Firefox, probably latest version.
David

    On Friday, March 8, 2019, 2:28:34 AM EST, Oli Folkerd <notifications@github.com> wrote:

Hey @dasoares8

Thanks for getting in touch,

Which browser are you using?

Cheers

Oli :)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mu

[2019-03-09 15:03] Jojoshua opened #1883 "Feature Request - Automatically add new Row after tabbing on the last cell"
In some cases I would want to present an empty table(or table with 1 empty row) which the user will fill out. Instead of creating an explicit button to add a new row, I would like to have an option which automatically adds a new empty row when the user presses the Tab key (only when they are in the last row & cell). This is a type of function that is standard behavior in Excel-like tables.

**Desc

[2019-03-09 16:16] jobele opened #1884 "CellEdited Callback event fires multiple times for other cells"
I have been evaluating Tablator for some time now. This is a wonderful JS table UI. I have question in how to control or deal with multiple events callback behavior.

I wanted to use cellEdited callback to update backend database with the changes made on each cell using Ajax post .

What happens is that the first cell edit callback will work. Subsequently cell edit will fire back the previously co

[2019-03-09 18:42] Jojoshua opened #1885 "Feature Request/Question - Built in UI Configurator"
**Describe the solution you'd like**
An optional user interface geared towards developers or power users(with instructions) to generate a Tabulator table instance. It would configure basic table options and the ability to add columns with a basic definition. For example you could add a column specifying the name, type of editor along with some editor options, and validators.

Then the entire table

[2019-03-10 09:07] #1874 closed

[2019-03-10 09:26] olifolkerd commented on #1872
Hey @angeliski

I have pushed a fix for this to the master branch and will include it in todays patch release.

Cheers

Oli :)

[2019-03-10 09:26] #1872 closed

[2019-03-10 09:29] olifolkerd commented on #1885
Hey @Jojoshua

Thanks for getting in touch,

You are not the first person to make this request, and i certainly think it has merit.

My biggest concern is that there are 1000's of options for configuring Tabulator and it would be tricky to get all of those in one configuration.

If this is something you would be interested in putting together i would be happy to include it in the website.

If you

[2019-03-10 13:40] Jojoshua commented on #1885
Thanks for the info @olifolkerd

I actually was thinking this would be a new code base. It would be a layer on top of the tabulator API, a "Puppeteer" of sorts so it could be reused in different parts of anapplication. It would also create/load this JSON output in order to make revisions to the table definition. It might look like..

let tabulatorUI = new TabulatorUI(targetElement) //Generate all

[2019-03-10 17:56] olifolkerd commented on #1885
Hey @Jojoshua,

That seems a bit counter intuitive for using on a live website, i can certainly see how it would be useful in generating the initial constructor, but after that point that object could then be reused ad infinitum without the configuration being used again (IE at the moment you can already store a tabulator config as a JSON object and pass it back in again, which exactly what happen

[2019-03-10 18:17] Jojoshua commented on #1885
Agreed @olifolkerd. My particular use case is quite specific and this kind of UI would never please everyone due to all the options and advanced scenarios like custom callbacks. I was hoping to start small and only use some of the most basic functionality akin to what an Excel user would be comfortable with.

I'll see what I can come up with.  I don't know what this will end up looking like yet bu

[2019-03-11 08:27] akki-jat commented on #1874
@olifolkerd still facing the same problem in version 4.2.3.
And unable to find changes for this bug fix.

[2019-03-11 09:05] hack7621 opened #1887 "edit cell validator Maximum call stack size exceeded"
**To Reproduce**
The price does not allow less than 0, click Edit Price if you enter the <0 number, then click on the other cells to edit the error  "Maximum Call stack size exceeded."

[code]
In addition, can you provide version 4.2 of the API documentation to GitHub, easy to use offline viewing

**Describe the bug**
Uncaught RangeError: Maximum call stack size exceeded.
    at Edit.focusCellNoEv

[2019-03-11 09:28] hack7621 commented on #1887
In the case of validation failure, there is no problem with the first click outside the editor, the second click will appear error, this will not happen in firefox58.0.2

[2019-03-11 10:38] shaulnaim opened #1888 "add Persist option for data tree expansion"
can we have a persistExpantion option on setup for data tree?

what is the easiest way for doing it right now?

thanks, Oli for the great Tabulator!

[2019-03-11 14:02] CerDennis opened #1889 "Create filter on input keyup based on all row"
I've just created for my self a filter that on keyup of 'filtervalue' input return the rows witch have this string at least in one tabledata. It would be awesome if you can include this type of filter.
At the bottom you can find the code that i wrote if can help with the development( i'm a junior dev maybe what i wrote is simple trash ).

[code]

[2019-03-11 16:21] dcanning commented on #1833
@olifolkerd sure, I'd love to.  I like this page for summarizing: https://rxjs.dev/guide/observable
I'll try to take a look at making this work with tabulator, but I don't know how much time I'll have.

[2019-03-11 16:24] dcanning commented on #1833
@shaulnaim I like that, I'll take a look at using set or replace data.  Not sure how that will work with user experience as far as sorting/pagination, etc, but if the underlying data is changing anyway resetting those is probably ok.

[2019-03-11 18:31] boumboum opened #1890 "Feature request - Pivot table feature"
It would be nice to implement a pivot table feature based on the already available grid data where the user could define groups by selecting the rows and columns with the mouse

[2019-03-11 21:22] takuy opened #1891 "Combobox (input with select list) for headerFilter"
**Is your feature request related to a problem? Please describe.**
I'd like for the ability to have an input field (``headerFilter:"input"``) while also populating a list of matching elements that are valid inputs (``headerFilter:"select", headerFilterParams:{values:true}``).

``headerFilter:"select", headerFilterParams:{values:true}`` gets close to this, but doesn't allow you to type, or clear on

[2019-03-12 06:11] fingers10 opened #1892 "hearder filter search values in table.getAjaxUrl()"
Hi,

 I need a help on how to get current header search values in `getAjaxUrl()`.

I'm generating custom url with `ajaxUrlGenerator()`.

[code]

I need the url with search filters so that I can pass that to server for generating report. But this `getAjaxUrl()` gives only url as per docs. Please could you assist ?

[2019-03-12 08:55] denniswennen commented on #1876
Hi @olifolkerd, thanks for this great plugin.

I am still getting an error, even after updating to 4.2.3, is that possible?

`xlsx.min.js:14 Uncaught TypeError: ke is not a constructor
    at om (xlsx.min.js:14)
    at km (xlsx.min.js:14)
    at Object.xm [as write] (xlsx.min.js:14)
    at y.xlsx (tabulator.min.js:6)
    at y.download (tabulator.min.js:6)
    at t.u.download (tabulator.min.js:5)

[2019-03-12 15:36] hr-gith opened #1893 "How to link two columns in Tabulator to one field, while each of them modifies part of the field?"
Sorry for asking this question here, but I had no choice because stack overflow did not let me post it.
I have two columns "Date" and "Time", which both refer to a UTC datetime field of my data. The problem is as soon as I change any of them, entire datetime value changes.

Example:
The current datetime value: “06Dec2018 10:00”
And Today is 11March2019
By changing Time to 15:25 in Tabulator, datet

[2019-03-12 19:51] aklaver commented on #1893
Can you show the definition for the Tabulator table?
Also how the 'Date' and 'Time' fields are split out/combined when coming from/going to the data source?

[2019-03-12 19:58] aklaver commented on #1892
Why not use ajaxFiltering?:
http://tabulator.info/docs/4.2/data#ajax-url

Have you checked what shows up on the server?

[2019-03-12 20:02] hr-gith commented on #1893
This is partial code of table definition:
![tabul-datetime1](https://user-images.githubusercontent.com/25551725/54231949-f3c9df80-44df-11e9-89c7-b8b978625ec0.jpg)

This is when I send data to server:
![tabul-datetime2](https://user-images.githubusercontent.com/25551725/54231955-f7f5fd00-44df-11e9-803d-87732f81c91e.jpg)

[2019-03-12 21:16] aklaver commented on #1893
Well the first thing that stands out is using the same field( field: "ForecastDate") for two different columns. Especially when the data conversion uses data.ForecastDate. Not sure which column it is actually using. Then there is using the datetime formatter. Have not tested this, but my suspicion is that the formatter/moment.js will fill in missing datetime information using the current date.

[2019-03-12 21:52] dcanning opened #1894 "Autocomplete editor doesn't work when specifying label/values and custom search function"
**Is your feature request related to a problem? Please describe.**
Autocomplete editor does not work when specifying display labels that are different than the value you want to store, i.e.
[code]
and specifying a custom searchFunc:
[code]

**Describe the solution you'd like**
When using both searchFunc and the object key/value pair for different label values, I would like to be able to return the

[2019-03-13 02:23] Jojoshua opened #1895 "Text Area buggy with table height 100%"
**Describe the bug**
The text area editor looses focus when start typing in the editor. Multi line is not working either. This only happens with height:100%

**Tabulator Info**
- 4.2

  var tableConfig = {
    data: [
      { id: 1, name: "Oli Bob", location: "United Kingdom", gender: "male", rating: 1, col: "red" },
      { id: 2, name: "Mary May", location: "Germany", gender: "female", rating: 2

[2019-03-13 03:00] Jojoshua commented on #1895
After adding the formatter: "textarea" as well, this works full height. I thought that because the editor was textarea that also meant it should be shown as a text area.

[2019-03-13 03:00] #1895 closed

[2019-03-13 10:38] rs199483 opened #1896 "Move between tables in IE11"
**Describe the bug**
When I select a row to drag on the sender table, instead of showing the draggable row under my mouse, it is appearing in the upper left hand corner of the browser.

**Tabulator Info**
- Which version of Tabulator are you using? 4.2.3
It is set up exactly like the demo in the documentation. See fiddle below.

**Working Example**
Please include a JS Fiddle or Code Pen that demon

[2019-03-13 17:37] fingers10 commented on #1892
@aklaver As per tabulator docs,

`var url = table.getAjaxUrl();`

But I'm looking for an option in tabulator to return my custom generated url within `ajaxURLGenerator`

Any possibilities?

[2019-03-13 19:19] daniel1596 opened #1897 "Make editable column values changeable on AJAX load"
Hey Oli-
First of all, great work on Tabulator - I have been using it for a while and really enjoying it.

I thought of a feature that - as far as I know of - does not exist on Tabulator yet, but might be really useful.

I have some columns in my table that I can make editable, but I would like the user to select between a few pre-set values (with a "select" editor). However - I would like those v

[2019-03-13 19:30] aklaver commented on #1892
I am not understanding. In your original post you are concerned with what shows up on the server, so why not check the request on the server?

If not maybe?:
http://tabulator.info/docs/4.2/callbacks#ajax
`ajaxRequesting:function(url, params){
    //url - the URL of the request
    //params - the parameters passed with the request
    },`

[2019-03-14 05:37] fingers10 commented on #1892
Let me make it clear. I'm generating a custom url with the search parameters in the URL as per my need. And that works fine and filters are applied in server and results are returned and displayed in tabulator.

My question - is it possible to retrieve the custom url which gets generated dynamically based on the my header search values? Tabulator anywhere storing this custom url?

I have url set i

[2019-03-14 11:20] funkindy commented on #632
Hi! Exactly the same issue is appeared with 4.2.3. When using ajaxSorting the sorting icon doesnt change on click and the sorter data in request always has dir: asc.

[2019-03-14 14:01] cemmons opened #1898 "Ajax Load Error - Server return Error 500 v4.2 vs Status OK 200 v3.5"
**Describe the bug**
I branched my project to upgrade tabulator to version 4.2 from 3.5 using the upgrade guide 3.5 to 4.0 I'm having a problem loading data in version 4.2.

In v3.5 it is working like this:

![image](https://user-images.githubusercontent.com/5125512/54362513-d1eb6c80-4647-11e9-921c-145a64a5c4a0.png)

When I upgrade to 4.2 the same data gives me error:

![image](https://user-images

[2019-03-14 14:10] rob196 commented on #1898
@cemmons check your ajaxConfig

This works for me (note the use of method not type in the below):
ajaxConfig:{
            method: "post",
            headers: {
                "Content-type": 'application/json; charset=utf-8', //set specific content type
            },
        },

[2019-03-14 14:42] cemmons commented on #1898
This is my ajaxConfig.

[code]

[2019-03-14 14:59] rob196 commented on #1898
And if you add ajaxConentType

`
var table = new Tabulator("#example-table", {
    ajaxURL:"http://www.getmydata.com/now", //ajax URL
    ajaxConfig:ajaxConfig
    ajaxContentType:"json", // send parameters to the server as a JSON encoded string
});
`

[2019-03-14 15:12] aklaver commented on #1892
Not from getAjaxUrl as far as I know. The only place I can  find is this:

http://tabulator.info/docs/4.2/callbacks#ajax
Ajax Request

The ajaxRequesting callback is triggered when ever an ajax request is made.
`
var table = new Tabulator("#example-table", {
    ajaxRequesting:function(url, params){
    //url - the URL of the request
    //params - the parameters passed with the request
    },
});

[2019-03-14 16:47] cemmons commented on #1898
Excellent, that ContentType worked.

Thank you very much!!

[2019-03-14 16:47] #1898 closed

[2019-03-14 18:17] jakefinamore commented on #1847
I am also experiencing choppy scroll.

[2019-03-14 20:05] HitandRun opened #1899 "Tabulator table works slower and slower"
The tabulator producttable functions well at first, but gets slower and slower after each brand lookup ("Merk/Leverancier" lookup).

I am using the latest version of Tabulator (4.2)

Webpage where the producttable can be found :
...

I think it's a memory issue (F12 : see screen shot). There are a lot of Detached HTMLInputElement,
Detached InternalNode, Detached EventListener, Detached V8EventList

[2019-03-14 20:38] tentus opened #1900 "rowClick firing on Chrome 73 when editing"
**Describe the bug**
The expected behavior for clicking an editable cell is that `rowClick` should not be fired. As far as I can tell, there's been a change somewhere in Chrome that makes this no longer the case.

**Tabulator Info**
- 4.2 and also 4.1

**Working Example**
Js Fiddle: https://jsfiddle.net/dnzwp06y/7/

**Steps To Reproduce**
1. Click on an editable cell
2. See the effects of the `row

[2019-03-15 06:00] funkindy opened #1901 "AJAX sorting direction always "asc" with autoColumns"
In Tabulator 4.2.3, when using AJAX table with `ajaxSorting: true`, the sorting direction is always sent as "asc" and header pic doesnt change. This only appears with `autoColumns: true` feature.

Similar issues: #632, #720

Setup:
 - Tabulator 4.2.3
 - Windows 10
 - Google Chrome
 - Version: 72

[2019-03-15 08:31] Rodbjartson commented on #1899
Please post your tabulator constructor(object)

[2019-03-15 08:36] Rodbjartson commented on #1900
It is not being triggered here for me, I am using:
OS: Windows 10
Browser: Chrome
Version: 72

[2019-03-15 08:39] Rodbjartson commented on #1897
[link](http://tabulator.info/docs/4.2/release#edit)

There is already an inbuilt select/autocomplete, does this help you?

[2019-03-15 10:44] Rodbjartson commented on #1901
Tabulator constructor object please

[2019-03-15 10:47] funkindy commented on #1901
[code]
Cant JSfiddle this as no ajax available.

[2019-03-15 10:51] Roman9961 opened #1902 "headerFilter multiple select"
Please explaine how I can provide multiple select that would work. Now I trying provide it throu custom editable function but its not work correctly when I choose more then one options only first go to result

Cheers

Oli :)

[2019-03-15 12:28] tentus commented on #1900
Correct, this starts specifically with Chrome 73.

[2019-03-15 12:40] Rodbjartson commented on #1900
Haha, now that is funny

[2019-03-15 12:42] Rodbjartson commented on #1901
Have you read [this](http://tabulator.info/docs/4.2/sort#ajax-sort)

[2019-03-15 13:08] funkindy commented on #1901
Of course. To be honest i dont see anything under the link except the way ajax sorting works. And it works great if columns are explicitly defined, but the issue is related to `autoColumns: true` option.

[2019-03-15 13:25] rs199483 opened #1903 "Moving First Item in Grouped Table Leaves a Blank"
**Describe the bug**
When moving an item from a grouped table into a receiver table, the sender row is left and is blanked out instead of removed completed

**Tabulator Info**
4.2.3

**Working Example**
https://jsfiddle.net/9f5x7ek0/

**To Reproduce**
Steps to reproduce the behavior:
1. Move a row from any group to the receiver table
2. The receiver table will accept the row
3. Look at the send ta

[2019-03-15 13:31] daniel1596 commented on #1897
@Rodbjartson  Well, I was wanting to use a select, but instead of using it with values: true, or with a hardcoded list of values, I was wanting to use it with a list of values that I wouldn't know until runtime and would want to get from a back-end API.

But I hadn't seen the autocomplete editor - that could definitely help my UI so I appreciate that!

[2019-03-15 13:40] Rodbjartson commented on #1897
Not sure if this can help you out;

If you want to generate the options when the select editor is triggered, then you can pass a function into the editorParams, that must return the option list in one of the two formats outlined above

[code]

[2019-03-15 13:46] rs199483 opened #1904 "Expanding/Collapsing Groups Becomes Less Responsive Over Time"
**Describe the bug**
The more you expand/collapse groups, it becomes less responsive to clicks

**Tabulator Info**
4.2.1

**Working Example**
https://jsfiddle.net/9f5x7ek0/

**To Reproduce**
Steps to reproduce the behavior:
1. Expand and collapse the different headers multiple times
2. After a short while it will take 2, 3 or more clicks to expand and collapse
3. Sometimes the group will not expan

[2019-03-15 14:19] daniel1596 commented on #1897
@Rodbjartson Oh! I had missed that when scrolling through the "select" docs. That was exactly what I was looking for.

That solves my problem. Thanks so much!

[2019-03-15 14:19] #1897 closed

[2019-03-15 16:56] HitandRun commented on #1899
Constructor of productstable :

             productstable = new Tabulator('#products-table', {

                           langs:{"nl-be":{"pagination":{"first":"Eerste", "first_title":"Eerste Pag.", "last":"Laatste", "last_title":"Laatste Pagina", "prev":"Vorige", "prev_title":"Vorige Pagina", "next":"Volgende", "next_title":"Volgende Pagina"}}},

                           locale:"nl-be",

[2019-03-15 19:49] tentus commented on #1904
I can somewhat corroborate the issue on Chrome 73 and Firefox on Mac, though what I'm seeing doesn't seem to have a time component, but rather a the issue has to do with the jumping back and forth between groups. You can toggle a single group as expected without issue, but if you try to collapse them all and then open them all you'll have to click multiple times.

[2019-03-15 20:38] rs199483 commented on #1904
Thanks tentus, I agree it's a bit tricky to repro, but there is definitely something going on.

[2019-03-16 02:54] rkarlberg commented on #1612
Well, thanks for trying, but it still doesn't work.  I've spent hours googling and reading docs, but still get errors such as "Access to fetch at 'https://www.mta-data.com/api/v1/fum/getview/annual/NONE' from origin 'null' has been blocked by CORS policy: Request header field access-control-allow-origin is not allowed by Access-Control-Allow-Headers in preflight response."

I guess I'll have to fi

[2019-03-16 08:25] opiums9 opened #1905 "Group Date after saving to json"
Good day! After exporting Group Date to json, I get corrupted data that does not open in my table later. How can I fix this?
Before:
[code]
After:
[code]
![screenshot](https://files.opiums.eu/pub/2019-03-16_152224.png)
[For test](https://jsfiddle.net/opiums/54mjdL98/)

[2019-03-16 22:03] aklaver commented on #1905
Per the docs here:
http://tabulator.info/docs/4.2/data#local
"Data Format
The data must be stored as a valid json string matching the the structure of an array of objects as defined in the Load Data from Array section."

One way to do that is to use the example here:
http://tabulator.info/docs/4.2/download#advanced-config
Download Configuration

Then you get:
`[
	{
		"dob": "11/03/2019",
		"name":

[2019-03-16 22:17] aklaver commented on #1905
I modified the fiddle to to show what I was talking about:

https://jsfiddle.net/aklaver/x9p8us0y/8/

[2019-03-17 02:28] opiums9 commented on #1905
Good. Thank you very much!

[2019-03-17 08:16] kjgarza commented on #1612
My workaround this problem was to create my own ajax callback.

setup:
https://github.com/datacite/stats-portal/blob/045b4249593345d478f6faf60b3b1da2e4cd018b/source/javascripts/stats/tabulator.js.erb#L120

callback:
https://github.com/datacite/stats-portal/blob/045b4249593345d478f6faf60b3b1da2e4cd018b/source/javascripts/stats/tabulator.js.erb#L71

[2019-03-17 08:39] TadjerouniMohamedAdel opened #1906 "horizontal table"
hello please how can i create a stacked table like:
columns1 | data1 | data2 | data3 .....
columns2 | data1 | data2|data3

thanks

[2019-03-17 18:27] aklaver commented on #1906
No built in way that I know of. I suppose you could fake it by doing something like:
`columns:[
        {title:"Col Name", field:"col_name"},
        {title:"Data 1", field:"data_1"},
        {title:"Data 2", field:"data_2"},
        ....
]`

That would depend on you rotating the data at the source. Also that there was a fairly fixed set of data for each column.

[2019-03-17 19:09] aklaver commented on #1903
I added:

`movableRowsSent:function(fromRow, toRow, toTable){fromRow.delete();},`

to tablesender, leaving `movableRowsSender: "delete",` in place and the row was deleted.

[2019-03-17 19:29] rs199483 commented on #1903
That did the trick!  Hopefully it can get fixed in the component at some point in the future.  Thanks for that!

[2019-03-17 19:32] aklaver commented on #1887
Well I can confirm it errors on Chrome, but not FF:
https://jsfiddle.net/aklaver/3n7shkzo/2/

I do not have an answer though.

[2019-03-17 22:16] xogoc opened #1907 "Reactive array manipulation with Data Grouping not working"
When I delete row with splice method on Reactive Data Array in Tabulator with Data Grouping enabled I get following error:
[code]
Example of Tabulator constructor object:
[code]
Tabulator v4.2.1
Google Chrome 72.0.3626.121

Also when I push new row to data array, it renders in wrong group (at table bottom) :(

[2019-03-17 22:33] xogoc commented on #1907
Updated to 4.2.3
Now there is no error in console. But row stays in table after deleting from array. And "render in wrong group" remains on push :(

[2019-03-18 06:00] opiums9 commented on #1539
Please tell me which part to embed this code?
Here is what my code now looks like:

[code]
And I get the error: `Uncaught TypeError: doc.addFileToVFS is not a function`

[2019-03-18 08:24] Meigyoku-Thmn opened #1908 "Textarea formatter cell height bug in Firefox"
**Describe the bug**
When define the columns property to have 2 columns with "progress" and "textarea" formatters, then resize the column with the"textarea" formatter smaller to make its text wrapped into more lines and to increase row height, then resize it back. At here, the row height should scale back to fit the text, but in Firefox this isn't the case.

**Tabulator Info**
- Version: 4.2

**Wo

[2019-03-18 08:29] theblizzle opened #1909 "select all checkbox"
i am using tabulator 4.2 and i have a "select all" checkbox but it only checks the "visible window"? checkboxes from what i am reading? ie. i click the select all checkbox in the header and it checks ~20 rows if you scroll down and then click the select all box it selects ~20 rows from where u scroll and down if i set height to 100% it selects all the checkboxes fine.  is there something im missin

[2019-03-18 08:58] xogoc commented on #1907
Well, I think I've found workaround:
[code]
When I trigger grouping on dataEdited event I get it working, but I also get unwanted page scroll to top :(

[2019-03-18 12:31] opiums9 opened #1910 "Show only the last group"
Hello! Since stackoverflow is not responding to me, I ask for help here.
I'm trying to find an opportunity or a ready-made example of functions for displaying only the last group, could you tell me? Here is an example of my code:

[code]
Can I display only the last group and hide the rest?

[2019-03-18 13:15] OOnogul opened #1911 "Render bug when unfreezing columns"
Hi Oli,
I have encountered a rendering problem. Here is the issue, when there is frozen column(s) in table and I unfreeze them all there is a space on the left side with the width of the unfreezed columns total width.

version 4.2.3
Example: https://jsfiddle.net/9f2yxsqz/3/

Astonishing work on the 4.2 version btw.
Cheers.

[2019-03-18 13:22] Rodbjartson commented on #1899
What  happens when you set a height in your constructor?

[2019-03-18 13:54] bioscorpion opened #1913 "How To Set Row Index From Database on Newly Created Row"
How do I set the row index on a newly created row after obtained id from the database insert? I am able to add row with the Tabulator successfully but I am unable to update the row id coming from the database. This is my code that I have:
[code]

I have been a few days trying to figure this out and I have looked at other posts cannot find the answer to my question on how to set the id of the newly

[2019-03-18 18:55] rkarlberg commented on #1612
Thanks Kristian, I will try that!

[2019-03-18 19:21] HitandRun commented on #1899
No change at all.

Slow down is caused by increasing use of browser memory.

Can be seen by using F12 and monitoring memory after each time data is loaded in tabulator.

After refreshing browser, speed is back to normal (but decrease again after each load of data into tabulator).

Commenting out clearHeaderFilter function solves the problem but I want to remove the filter after each data load.

Ot

[2019-03-18 20:08] rs199483 commented on #1913
Let me make sure I understand what you're doing here.
You have a button on your page called "Add Row".  When you click it, you are adding a blank row, and then calling your php script to get data from your database and you want to insert that data in the blank row you just created?

If you want to keep this design you could try the following:
In your table definition add **reactiveData:true**

The

[2019-03-18 20:24] tentus commented on #1910
Not the prettiest code, but this should work...
[code]

[2019-03-18 20:43] tentus commented on #1908
I can confirm this is happening on Firefox 65 on Mac as well.

[2019-03-19 01:11] Jojoshua opened #1914 "Select & AutoComplete do not show dropdown options inside a modal"
The Select and AutoComplete editors do not show the dropdown options if Tabulator is put inside a bootstrap modal.

A complete JSFiddle to show the issue can be found here. Click the Launch modal button.
https://jsfiddle.net/jojoshua/y73egjwo/

**Tabulator Info**
- 4.2

 - Browser: Tested with Chrome,Firefox, Edge with same results.

**Additional context**
Looks like the options are being appended

[2019-03-19 02:10] opiums9 commented on #1910
Apparently something is missing, in the console error:
`Uncaught (in promise) TypeError: Cannot read property 'insertBefore' of null`
[For the test, I posted the code here.](https://jsfiddle.net/opiums/54mjdL98/8/)

[2019-03-19 11:03] julien-barbier-minesales opened #1915 "clipboard amelioration"
Thank you for your application. I use it alot.

When i tried to use the clipboard, i didnt find a way to exclude some column from the table in the clipboard like you did with the download:false in the download section.

Do you think it's possible to add this feature in your next release ?
Good luck for the future.

[2019-03-19 14:53] tentus commented on #1910
Hrm, looks like a cornercase with the pagination, I think?

You could hack around it by using
[code]
but I hesitate to even show that code because it relies on directly referencing non-api attributes.

[2019-03-19 14:57] opiums9 commented on #1910
Yes, but it works fine, thanks!

[2019-03-19 14:58] tentus commented on #1910
I realized I had overlooked an obvious call that fixed a number of issues in my previous response, so I've edited the answer for posterity.

[2019-03-19 17:54] cbracco opened #1916 "ajaxLoaderError does not convert string to object"
**Tabulator Info**
- Which version of Tabulator are you using? **4.2.3**

**Describe the bug**

Hi there!

Thanks for creating such an awesome tool. While setting up a Tabulator instance I noticed that when I pass a string to the `ajaxLoaderError` option, it does not convert the string to Node the same way that `ajaxLoaderLoading` option does ([See code here](https://github.com/olifolkerd/tabulato

[2019-03-19 21:41] nrietsch opened #1918 "Inline editing on button click"
Hi,

Tabulator is fantastic, let's get that straight.

I like the inline editing function a lot but I'm having a challenge with it.

What I'd like to do is to click on a 'edit' button which will then allow to edit the row.

As far as I can see, the edit functionality is on the cell level, not the row level.

There is a function for conditional formatting but again, that's on the cell level.

On a

[2019-03-20 14:20] dlewand691 opened #1919 "Datatree with frozen expanded row"
Is there a way to freeze the opened/nested tree row so it doesn't scroll horizontally? The parent table will have columns added to it quarterly but need to keep the expanded row width locked.

I posted the question to StackOverflow but haven't gotten any replies yet so wanted to post here.
https://stackoverflow.com/questions/54952743/tabulator-datatree-with-frozen-expanded-row

And live working ex

[2019-03-20 15:48] agustingrigoriu opened #1920 "ReplaceData using Remote Pagination"
Hi! Im' trying to use replaceData to refresh my table. The idea is to keep the table in the same page after refreshing it, but replaceData is not working. It takes me to the first page again. Also, I'm using remote pagination, could this have anything to do? Thanks in advance.

[2019-03-20 18:38] bioscorpion commented on #1913
@rs199483 I have tried what you mentioned. The add new row function part works successfully, BUT the id is not being sent as a $_REQUEST to cotmdb_ajax_response_request.php after I do an "update" immediately after I add the new row. It seems

is not working.

[2019-03-20 19:48] rs199483 opened #1921 "How to Dynamically Change table layout"
Is it possbile to change the layout after you define the table?
`var table = new Tabulator("#example-table", {
    layout:"fitData",
});
`

Something like this:
table.setLayout("fitColumns");

[2019-03-20 23:04] aklaver commented on #1921
You can change the height using setHeight(). There is setColumns() where you can supply a different set of column definitions. AFAIK you cannot change the data layout on the fly.

[2019-03-20 23:11] aklaver commented on #1918
Possibly use:
http://tabulator.info/docs/4.2/edit#optional

Have the callback monitor another column(possibly hidden) and use that to set the cells in a row editable.

[2019-03-20 23:13] aklaver commented on #1909
The code you are using would help.

[2019-03-20 23:15] aklaver commented on #1920
Could this be the issue:
http://tabulator.info/docs/4.2/update#alter-replace

"Note The replaceData function will only maintain scroll position when the Vitrual DOM has been enabled by setting a height on the table."

Otherwise could you show the code?

[2019-03-20 23:21] kreamas opened #1922 "Column grouping not working with bootstrap"
Hi Oli.

I've tried to set a tabulator table within my html which was made using Bootstrap but it just doesn't work.

If I set a regular table, everything is ok, but when I try to set column grouping everything crashes.

Is there any setup I'm missing in order to work with tabulator tables with column grouping in Bootstrap?

Thanks in advance

[2019-03-20 23:31] rs199483 commented on #1921
Well I was hoping to have a couple buttons on my page that let's the user toggle between fitColumns and fitData.  I could probably re-define/initialize the table each time but that doesn't seem very clean.

[2019-03-21 06:42] aditya-thimphu opened #1923 "Repeat column header on all the pages on print"
Tabulator column header does not repeat on each page when the page is printed/print previewed

**Describe the solution you'd like**
Repeat column header on all the pages containing table data

**Describe alternatives you've considered**
Tried css style "display: table-header-group" on tabulator-header and also tabulator-headers, but that did not work.

[2019-03-21 12:09] satenshakya opened #1924 "Table header shifts when column is size is decreased after horizontal scroll with 'fitData' or 'fitDataFill' layout"
**Describe the bug**
Initialize the tabulator table with enough columns for horizontal scroll to appear. If we scroll horizontally to the end and then decrease the size of any column, then the table header shifts at first distorting the table view. But if we slightly scroll the table, it adjust itself and the issue is not seen for that column.

**Tabulator Info**
- 4.2.3
- Table `Constructor:
[cod

[2019-03-21 12:17] fsagaz commented on #1562
@YendorMc did you finally find out how to sort also on nested rows?...I was trying to but I didn't success.
@olifolkerd do you think that this feature will be soon available?
Thanks

[2019-03-21 13:25] AadBr commented on #1913
Hi,
the way I do it might work for you.

"add-row button"
`
	   //Add new row on button click //
        //add new row in database and retrieve the id
        //then add new row to table with new id

        function loadNew() {
			//prepare data for new row
			//set id to 'replace'
            let data = {
                clientID: "replace",
                client: "-",
                clientCod

[2019-03-21 14:12] dcanning commented on #1509
Something that people may run into if following the container/presenter pattern when passing the data in via @Inputs is that the data appears to come in as immutable, and tabulator doesn't like this, so you'll need to pass a copy of the input data to tabulator,

[2019-03-21 14:23] fingers10 opened #1925 "How to set custom header filter operator for ajax filtering?"
Hi Tabulator Team,

First of all thanks for your awesome work. I started using Tabulator a month ago and I started loving Tabulator.

I'm trying to pass a custom header filter operator for each column in my ajaxFiltering, but the filter params always returns `like` value.

here is my scenario.
i'll be sending my filters in the server url as follows:
`https://localhost/api/test?search=name eq test&

[2019-03-21 14:46] nrietsch commented on #1918
The problem with the optional is that it's on the cell level.
I'd need something on the row level.

[2019-03-21 14:54] aklaver commented on #1918
If you set the editable option for each column to the same callback then you have effectively made it row level.

[2019-03-21 14:55] aklaver commented on #1921
At this point this looks to be the only option.

[2019-03-21 15:08] aklaver commented on #1918
Plan B would be to use:

http://tabulator.info/docs/4.2/components#component-row

Get Cells

and then walk over the cells and:

http://tabulator.info/docs/4.2/components#component-cell

Edit

[2019-03-21 15:16] nrietsch commented on #1918
It's doable of course but sounds like re-inventing the wheel to me.

If that's the only option, then that's what I'll do obviously.

With all the great functionalities in Tabulator 'out of the box', I thought that I'm maybe missing something.

[2019-03-21 19:51] Identity404 commented on #605
Hi, is this feature still on the roadmap?

It would be really helpful :)

[2019-03-21 19:51] Identity404 commented on #605
Hi, is this feature still on the roadmap?

It would be really helpful :)

[2019-03-21 21:03] aklaver commented on #1918
You could open a feature request.

[2019-03-21 21:16] aklaver commented on #1925
http://tabulator.info/docs/4.2/filter
Filter Comparison Types
...

"f you want to specify the type of filter used you can pass it to the headerFilterFunc option in the column definition object. This will take any of the standard filters outlined above or a custom function:"

[2019-03-21 22:49] mikecologne commented on #1011
Hi Oli,

i've tried to use this code, but i get an error:
"Cannot add filter to MYDATEFIELD column, editor should return an instance of Node, the editor returned: ...".

Could you tell me what i'm doing wrong?

Thx!

[2019-03-22 10:59] KES777 commented on #1630
[here](http://tabulator.info/docs/4.2/columns#visibility)

Alternatively

[2019-03-22 13:37] nrietsch commented on #1918
I may do that. Was waiting for Oli to weight in to be honest with you to see if there is an easy way to achieve this or not.
If not, I'll make the feature request....

[2019-03-22 16:21] telpat0298 opened #1926 "GetData function returns an array of undefined"
Im a using version 4.2:
Used js files and modules:
- jquery.min.js
- tabulator.min.js
- tabulator_core.min.js
- edit.min.js
- moment.min.js

Constructor:
`tabulator = new Tabulator("#tabulator", {
                    columns:[
                        {title:"Name", field:"name", sorter:"string", width:200, editor:true},
                        {title:"Age", field:"age", sorter:"number", align:"rig

[2019-03-22 18:14] fingers10 commented on #1925
HI aklaver,

I tried like this

[code]

if I use operators in `headerFilterFunc: '>='`, I'm getting that in filter params as `type: >=`, but if I use my own operators like `headerFilterFunc: 'gt'` or `headerFilterFunc: 'eq'`, params.filters gives `type: like`.

Any configuration needs to be done?

[2019-03-22 18:50] theblizzle commented on #1909
$("#example-table").tabulator("setSort",[
		{column:"date", dir:currentSort}
	]);
}
		var table = new Tabulator("#example-table", {
 	height:"247px",
			ajaxProgressiveLoad:"scroll",
			ajaxProgressiveLoadScrollMargin:300,
			columnHeaderSortMulti:false,
			contentType: 'application/json; charset=utf-8',
			resizableColumns:false,
			ajaxRequestFunc:queryRealm,
			ajaxURL: "datatable.php",
			layo

[2019-03-22 19:08] tentus commented on #1926
Would you make a JS Fiddle illustrating your issue (https://jsfiddle.net/)? It'll make diagnosis much quicker and more reliable.

[2019-03-22 19:15] JoseCintra commented on #648
Thank you , @mariokitz
I fell into the same error and, thanks to your tip, i managed to fix the code.

[2019-03-22 19:42] tentus commented on #1925
To my knowledge there's not a way to register in new kinds of filters (though admittedly my knowledge is very limited). From looking at your examples though, it kind of seems like you're looking to just translate the types over to a format your api accepts, not adding any unusual new kinds of filters. If that's the case, you can iterate over the `params.filters` in the `ajaxURLGenerator` function

[2019-03-22 21:20] aklaver commented on #1925
Per the link above it will only take the filter operators(functions) defined by Tabulator.  You can create a custom function but that will be supplied as the function name. You could do what @tentus  mentioned above or what I do which is make the translation on the server end in what ever is processing your request.

[2019-03-22 21:45] aklaver commented on #1909
You have a height set so Virtual DOM kicks in. Then there is the use of Progressive Load. In scroll mode this will only send the data needed to fill the visible table(plus margin) at a time. Both mean your select-all code will only be working on the ~20 rows at a time.

I see two options:
a) Load the entire data set if feasible.
b) Have the select-all function go back to the server and update the

[2019-03-22 23:23] thejuice33 opened #1927 "Sorting & Re-drawing very slow in IE11"
**Describe the bug**
Seeing significant delay in IE11 when sorting or updating the pagination page size on a table with 100 rows.  This works fine in Chrome.  Sorting on a paginated table of 100 rows can take 5-8 seconds.  The issue worsens with the more data that is shown in the table at once (increasing page size).

**Tabulator Info**
- v4.2
- loading JSON data
- Layout: fitColumns
- pagination:

[2019-03-23 02:27] theblizzle commented on #1909
thanks what i ended up doing and this might be a stupid way of doing it was  rowFormatter:function(row){ i added  if ($(".select-all").is(":checked")){ row.blah .setattribute(checked, checked) and then do a table.setData() onchange of select all checkbox ... thank you aklaver for the help

[2019-03-23 10:03] fingers10 commented on #1925
@tentus I was even thinking of something like this. This works. But it would be great if we get a chance to add our own operators for server side filtering directly to column definitions. If possible Tabulator team can implement this useful feature in future releases.

Thanks for the help. We can close this.

[2019-03-23 10:03] #1925 closed

[2019-03-23 12:20] #1892 closed

[2019-03-23 16:35] timothymarois commented on #35
Hello @olifolkerd

I am currently looking to do total bars, but I don't want tabulator to calculate it because I want ajax to pull only desired items based on the page, which means I will need to run a separate total array of data in php. Is there a way to accomplish this? basically having totals be appended to the output of the ajax response and added to the table footer columns? even if I have t

[2019-03-24 04:21] aditya-thimphu commented on #1923
The issue is same as the one asked in Stack Overflow (but isn't answered at the time of this posting): https://stackoverflow.com/questions/54637770/repeat-column-headers-in-print-mode-using-tabulator-table

[2019-03-24 06:33] popovserhii commented on #1043
This feature is really needle. Many users want to have the possibility to customize the grid such as hide/show columns, order columns, change columns width etc.

[2019-03-24 10:46] HitandRun commented on #1899
I have the impression that I have sold the problem but I don't understand why :-(
I replaced productstable.clearHeaderFilter("product_brands_text");
by productstable.getColumn("product_brands_text").setHeaderFilterValue("");
And productstable.clearHeaderFilter("name");
by productstable.getColumn("name").setHeaderFilterValue("");

[2019-03-24 15:32] fingers10 commented on #1509
How to add bootstrap table classes to tabulator table using above approach?

[2019-03-24 15:56] fingers10 opened #1928 "Columns with Complex Header Not displayed when setting responsiveLayout to Collapse"
Hi Tabulator Team,

I have a Table with columns upto 20. In which few columns have column grouping set. By setting the responsiveLayout option to "collapse", few columns are not displayed permanently. Am I missing anything? Here is the image

normal:
![image](https://user-images.githubusercontent.com/43729469/54881905-21812380-4e12-11e9-8a24-418397a10645.png)

after collapse, last few columns are

[2019-03-24 17:47] Identity404 commented on #1043
Hi @olifolkerd

Are their currently any plans for table grouping to support row-span? In old posts I saw that it was on the road-map, but wasn't sure if it was still planned.

Thanks

[2019-03-25 00:20] haferje commented on #1043
@Identity404 Just a bit of info - there is a roadmap posted on Trello (https://trello.com/b/rPZ0Yavc/tabulator-roadmap). "Row Span Functionality" is mentioned for "Future" versions, but does not look to be implemented in the next 4.3 release.

However, I'll let Oli answer for himself if he wishes to expand upon that.

[2019-03-25 08:28] telpat0298 commented on #1926
Yeah sure. https://jsfiddle.net/cgbvz367/2/

[2019-03-25 14:56] tentus commented on #1926
If you remove the tabulator_core.min.js resource (since you already have tabulator.min.js in there) then `getData()` will work as expected.

https://jsfiddle.net/0125kbd7/

[2019-03-25 16:46] telpat0298 commented on #1926
Ohh.. haven't noticed that. Thanks a lot

[2019-03-25 17:29] anonthemon opened #1929 "row.getElement(...).css is not a function"
I am trying to change the color of a row based on it's value in a database. However, I am getting row.getElement(...).css is not a function as an error. I am using the latest Tabulator js and css files. I used the example given in the documentation.

    var tabledata = [
 	{id:1, name:"Oli Bob", age:"12", col:"red", dob:""},
 	{id:2, name:"Mary May", age:"1", col:"blue", dob:"14/05/1982"},
 	{id:

[2019-03-25 17:53] anonthemon commented on #1929
Sorry I saw the issue that Tabulator no longer uses jQuery and fixed the issue with getElement().style.backgroundColor.

[2019-03-25 17:53] #1929 closed

[2019-03-25 19:07] olifolkerd commented on #1896
Hey @rs199483

Thanks for letting me know about this issue, i will have a look into this further at the weekend and see if i can resolve it in the next patch release.

Cheers

Oli :)

[2019-03-25 19:09] olifolkerd commented on #1847
do you have a height set on your table? as i mentioned without a working JS fiddle demonstrating the issue it is very hard to offer a solution to your issue.

Cheers

Oli :)

[2019-03-25 19:10] olifolkerd commented on #1902
Hey @Roman9961

Please ask questions on Stack Overflow, this issues list is for Bug Reports and Feature requests only.

Cheers

Oli :)

[2019-03-25 19:10] #1902 closed

[2019-03-25 19:11] olifolkerd commented on #1900
Interesting, that looks like chrome may have changed the sequence of the click event firing in the 73 release.

i will keep an eye on it, a lot of these sorts of things tend to be transient glitches that get patched
in the browser.

Cheers

Oli :)

[2019-03-25 19:17] olifolkerd commented on #1901
Hey @funkindy

Sorry to hear you are having issues.

You raise a very interesting point there. The reason this is happening is because the autoColumns system regenerates the columns any time the table receives a new data set, which in the case of ajax requests is any time a new request comes in. this is causing the sort to be reset on the column each time.

I will have a look at covering off these

[2019-03-25 19:21] olifolkerd commented on #1904
Hey @rs199483

Thanks for the info, i think the issue you are experiencing is actually that the click hotspot on the arrow is literally the icon itself and not a box around it so you have to be very precise where you click, and it varies depending on whether it is opened or closed.

I will look at expanding the clickable area to a box around the arrow to aid accessibility

In the mean time you cou

[2019-03-25 19:22] #1905 closed

[2019-03-25 19:23] olifolkerd commented on #1906
@aklaver is correct, Tabulator currently does not support horizontal columns.

This is a feature that will come in at some point but isn't a high priority at the moment im afraid.

Cheers

Oli :)

[2019-03-25 19:23] #1906 closed

[2019-03-25 19:25] olifolkerd commented on #1903
Hey @rs199483

Sorry to hear you are having trouble,

Thanks for the JS Fiddle that is a great help, i will make sure that is fixed in the next patch release.

Cheers

Oli :)

[2019-03-25 19:27] olifolkerd commented on #1907
Hey @xogoc

Sorry to hear you are having issues,

Thanks for your detailed report i will look into fixing this in the next patch release.

Cheers

Oli :)

[2019-03-25 19:31] olifolkerd commented on #1911
Hey @OOnogul

Thanks for your kind words, im glad you are enjoying 4.2

Sorry to hear you have run in to issues. there is definitely a bug there, but just to be clear you are actually replacing all of your columns definitions in that example,

It appears when they are all replaced the freeze padding is not being cleared from the rows.

I will get a fix for this in the next patch release.

Cheers

[2019-03-25 19:38] olifolkerd commented on #1908
Hey @Meigyoku-Thmn

Sorry to hear you are having issues,

That certainly looks like a bug, firefox is certainly full of a lot of quirks these days.

I will look into getting a fix for this into the next patch release.

Cheers

Oli :)

[2019-03-25 19:45] olifolkerd commented on #1914
Hey @Jojoshua

Interestingly it is show, it is just that bootstrap is messing with the z-index's of everything so the list is showing behind the dialog.

I will have a look into what is going on and include a fix in the next patch release.

Cheers

Oli :)

[2019-03-25 19:46] olifolkerd commented on #1915
Hey @julien-barbier-minesales

Thanks for your kind words, it is great to hear that you are enjoying Tabulator.

Thanks for the good suggestion, i think that would be a great idea, i will look at including that on the roadmap for a future release.

Cheers

Oli :)

[2019-03-25 19:46] #1910 closed

[2019-03-25 19:49] olifolkerd commented on #1916
Hey @cbracco

Thanks for your kind words, it is great to hear you are enjoying using Tabulator.

I think this is a great idea, i will respond to your comments in your pull request.

Cheers

Oli :)

[2019-03-25 19:49] #1916 closed

[2019-03-25 19:57] olifolkerd commented on #1919
Hey @dlewand691

Thanks for getting in touch, sorry for the delayed reply, i have been off on holiday the last couple of weeks.

The row formatter will always take up the full width of the row, if the row overflows the width of the table then so will the formatter.

Nice work by the way, that is one of the most complex and good looking uses of the row formatter that i have seen.

Looking at your t

[2019-03-25 19:59] rs199483 commented on #1904
Thanks @olifolkerd , the group header behaves much better.  Thanks for the excellent work on Tabulator.

[2019-03-25 20:02] olifolkerd commented on #1920
if you are using remote pagination then the data is all being handled remotely so there is nothing for Tabulator to replace with, the ***replaceData*** function is primarily to be used when loading whole data sets into the table not individual pages.

Having said that there is nothing to stop you using the ***getPage*** function to retrieve the current page number before you update the table, then

[2019-03-25 20:02] #1920 closed

[2019-03-25 20:03] olifolkerd commented on #1922
Hey @kreamas

Thanks for getting in touch, sorry to hear you are having issues.

It is very hard to give you any meaningful feedback without seing how you have things setup, if you can create a JS Fiddle or Code Pen to demonstrate your current setup that would really help.

Also could i ask that you ask questions on Stack Overflow, the issues list is reserved for Bug Reports and Feature Requests.

[2019-03-25 20:03] #1922 closed

[2019-03-25 20:07] olifolkerd commented on #1924
Hey @satenshakya

That is an intresting one you have found there.

I will have a look at getting a fix for that into the next patch release.

Cheers

Oli :)

[2019-03-25 20:08] olifolkerd commented on #1562
Hey @fsagaz

As of the 4.2 release Tabulator now sorts nested data

Cheers

Oli :)

[2019-03-25 20:12] olifolkerd commented on #1913
Hey @bioscorpion

Thanks for getting in touch,

There are a couple of ways to do this:

You could use a [Mutator](http://tabulator.info/docs/4.2/mutators#mutators) to assign an id to a rows data when it is added to the table (the mutator will be called on any row that is added to the table so you would want to check that the row dosnt have an id already before assigning one).

You could use the [R

[2019-03-25 20:14] olifolkerd commented on #1921
Hey @rs199483

You cannot change this on a table as such, it is such a big change to the layout that it would essentially mean trashing the table and starting again.

The correct approach in this instance would be to destroy the existing tabulator by calling the ***destroy*** function on it, then reinstatiating it with the new layout mode set in the table definition.

Cheers

Oli :)

[2019-03-25 20:14] #1921 closed

[2019-03-25 20:15] olifolkerd commented on #605
Hey @Identity404

It is on the roadmap for the 5.0 release.

Cheers

Oli :)

[2019-03-25 20:17] olifolkerd commented on #1011
Hey @mikecologne

That is because the example is for Tabulator 3.x which used jQuery, as version 4.x no longer uses jQuery, it cannot handle the jQuery object that is returned from the ***dateFilterEditor*** function.

The good news is this is an easy fix, you just need to replace the existing return line:
[code]

with:
[code]

This will return the DOM node rather than the jQuery wrapper.

I hope

[2019-03-25 20:27] olifolkerd commented on #1918
Hey @nrietsch

As requested im weighing it...

@aklaver is correct, the approach would be to use a callback to determine whether the row is editable, you could use a click event on your button to set a boolean value on your row data that your callback checks to see if the row is editable.

Because tabulator handles editing at a cell level there is no such thing as an "editable row"  tabulator as n

[2019-03-25 20:27] #1918 closed

[2019-03-25 20:30] olifolkerd commented on #1927
Hey @thejuice33

Your JS Fiddle seems to be missing a table, there is just a search text box.

Cheers

Oli :)

[2019-03-25 20:32] olifolkerd commented on #1909
hey @theblizzle

@aklaver is almost right, it isnt the vitural DOM, that is working fine, the issue is the progressive load.

Tabulator can only select rows it knows about, because rows are only loaded into the table as you scroll, Tabulator can only select those rows it has been passed by the server at the time the button is pressed, if the user latter loads more data by scrolling further down th

[2019-03-25 20:32] #1909 closed

[2019-03-25 20:39] olifolkerd commented on #1925
Hey @fingers10 @tentus

Almost everything in Tabulator is customisable

#### Custom Filter Function
You can either pass a callback into the ***headerFilterFunc*** which is covered in the [Header Filter Documentation](http://tabulator.info/docs/4.2/filter#header)

#### Extend Filter Module
You can also expand Tabulator to add custom built in filters, checkout the [Filter Module Docs](http://tabulat

[2019-03-25 20:42] mikecologne commented on #1011
Hi Oli,

That does the trick 👍 .
Great piece of software btw!
Thx a lot for helping me.

Kind regards,
Mike

[2019-03-25 20:44] olifolkerd commented on #35
Hey @timothymarois

Thanks for getting in touch,

This is really a separate issue so i would ask that in future you ask your question on stack overflow to avoid confusing old issues.

In answer to your question i would suggest that you use [Custom Calculation Functions](http://tabulator.info/docs/4.2/column-calcs#func-custom) in your column calculations, they could pull the data from another array

[2019-03-25 20:45] olifolkerd commented on #1923
This is not currently available on Tabulator. it is on the roadmap to ad advanced print styling, but this wont be for a while yet

[2019-03-25 20:45] #1923 closed

[2019-03-25 20:48] olifolkerd commented on #1928
Hey @fingers10

The ***collapse*** layout mode will collapse them to a list under the row (as appears to be the case in your second example image)

Cheers

Oli :)

[2019-03-25 20:50] olifolkerd commented on #1043
Hey @Identity404

Row span and collspan will be coming in 5.0

I am currently working on the plan for the next years worth of dev and what features 5.0 will bring to the mix.

As @haferje says keep an eye on the roadmap to find out more.

Cheers

Oli :)

[2019-03-25 20:51] #1926 closed

[2019-03-25 20:53] olifolkerd commented on #1888
Hey @shaulnaim

Thanks for the kid words, it is great to hear you are enjoying using Tabulator.

Could you take me through what scenarios you feel it should persist where it currently isnt?

Cheers

Oli :)

[2019-03-25 20:56] olifolkerd commented on #1891
Hey @takuy

The ***autocomplete *** editor already does this for you have a look at the [Editor Documentation](http://tabulator.info/docs/4.2/edit#edit-builtin) for more information.

It also has options to allow free text and restrict empty values:
[code]

I hope that helps,

Cheers

Oli :)

[2019-03-25 20:56] #1891 closed

[2019-03-25 20:57] olifolkerd commented on #1876
Hey @denniswennen

Sorry to hear that, i will look into it further and get it fixed in the next patch release.

Cheers

Oli :)

[2019-03-25 21:00] dlewand691 commented on #1919
Hey Oli-
Thanks for the tips and writing back!

I'm sorry, I wasn't quite 100% clear in my explanation. Each quarter, a new column of data will be added to the right, so the table will continue to grow wider and wider. That means the opened tree row will also grow wider and wider. We'd like to keep the opened row locked to the width of the area and not let it scroll horizontally.

Is this possible

[2019-03-25 21:03] olifolkerd commented on #1893
Hey @hr-gith

I would suggest that you use [Mutators](http://tabulator.info/docs/4.2/mutators#mutators) to achieve this.

you can set the colums to reference fields (for example "fTime") that dont exist yet in the data and then use mutators to create them from the ForcastDate field:
[code]

I hope that helps,

Cheers

Oli :)

[2019-03-25 21:03] #1893 closed

[2019-03-25 21:04] olifolkerd commented on #1887
Hey @hack7621

Sorry to hear you are having issues, i will look into this for the next patch release.

Cheers

Oli :)

[2019-03-25 21:41] anonthemon opened #1930 "row.getElement().style.backgroundColor not working with a stored variable"
I am using row.getElement().style.backgroundColor to change a row background. This works with quotes and a direct color like "blue". However, if I store it in a variable, as I am getting the variable default_color from my database, it won't change the color properly.

    rowFormatter:function(row){
				var data = row.getData(); //get data object for row
				var color = "\""+ row.getData().default

[2019-03-25 23:46] takuy commented on #1891
Hi @olifolkerd - I am looking to do this as a headerFilter - not an editor. Does this still apply?

[2019-03-26 00:31] thejuice33 commented on #1927
First timer here apologies :)  I think I've got it sorted now...

https://jsfiddle.net/uLb2q8ev/5/

Thanks for looking Oli!

[2019-03-26 00:46] fingers10 commented on #1928
@Hi olifolkerd,

I'm happy with the way collapse functions. As you can see in the above images, the columns under feedbacks group (the last four columns from the first image) is missing in the collapsed mode in the second image. Please could you hint on why this is happening?

[2019-03-26 02:05] Jojoshua commented on #1883
Hey @olifolkerd , what do you think of this kind of feature?

[2019-03-26 05:26] funkindy commented on #1901
Hey @olifolkerd! Thanks a lot for detailed clarification. I also want to add that Tabulator is just amazing!

[2019-03-26 06:43] aditya-thimphu commented on #1923
@olifolkerd thanks for getting back. Look forward to advanced print styling feature.

[2019-03-26 07:41] olifolkerd commented on #1930
The issue is because you are storing the quotes as part of the string for some reason. you can asign the value directly to the property:
[code]
I hope that helps

Cheers

Oli :)

[2019-03-26 07:41] #1930 closed

[2019-03-26 07:42] olifolkerd commented on #1891
Hey @takuy

as per the documentation, the header filters use the built-in editors so yes you can still use this.

Cheers

Oli :)

[2019-03-26 10:49] KES777 commented on #1043
@olifolkerd Hi, Oli

Are these features will be based on HTML5 `grid`?

[2019-03-26 11:15] olifolkerd commented on #1043
@KES777 I haven't begun planning this part of the system yet so im not going to commit to any particular course.

There are a great many considerations that need to be taken about how col/rowspan will integrate with other functionality in the table such as movable rows/columns, row deletion, formatters etc. and while grid may offer some benefits it also comes with drawback in that it enforces its

[2019-03-26 11:17] Ezekiah opened #1931 "Problem with react-tabulator"
I have a problem when i'm updating the data of the table, the variableHeight is working only if I
clearSort() the table in a settimeout inside componentDidUpdate.
If I don't use settimeout, this is not working and my cell will have fixed height

[code]

[2019-03-26 12:52] nrietsch commented on #1918
I do appreciate your feedback Oli and understand where you are coming from as well.
Reading you, it is clear that the option won't be added so no need to make a change request.

Also thank you to Adrian for your help.

One last question if you don't mind:

The editable option is set at creation:
[code]

Can the editable option be turned on and off 'on its own' once the table is initialized?

[2019-03-26 14:02] aklaver commented on #1918
I know of no table editable option:

http://tabulator.info/docs/4.2/options

There is the aforementioned editable cell callback.

[2019-03-26 14:09] dseiler commented on #1894
I have noticed a similar issue when trying to use custom searchFunc with autocomplete editor like this:

{ title: "Epic", field: "epic", editor:"autocomplete", editorParams: {
              showListOnEmpty: true,
              freetext: true,
              allowEmpty: true,
              searchFunc: function(term, allItems){
                  console.log(allItems);
                  var matches =

[2019-03-27 00:22] AmmarKureja commented on #758
Hi Oli,
My datetime sorter is not working and below is my code.
{
                            title: "Last Modified Date", field: "lastModifiedDate", align: "center",
                            sorter: "datetime",
                            sorterParams: {format:"DD/MM/YYYY hh:mm:ss.SSS"}
}
I have installed and included moment.js library in my react page but still, I am getting an error

Can you

[2019-03-27 08:16] olifolkerd commented on #758
Hey @AmmarKureja

If you get that message it means that the global variable ***moment*** has not been setup when you included the moment library.

if you have used a require function to include moment then you need to use:

[code]
I hope that helps,

Cheers

Oli :)

[2019-03-27 14:48] Tuxus commented on #1876
Hi @dota2Pro  @denniswennen

Could you perform tests with this cdn?
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>

[2019-03-27 15:12] dota2Pro commented on #1876
Use <script type="text/javascript" src="http://oss.sheetjs.com/js-xlsx/xlsx.full.min.js"></script>
as per http://tabulator.info/docs/4.2/download#example-table-download

[2019-03-27 16:16] bioscorpion commented on #1913
Thank you very much for all your help gentlemen! It is working very well now!

[2019-03-27 19:12] boumboum opened #1932 "The data is displayed only within the half of the given height + date formatting issue"
For any reason the grid (the number of visible rows) is not displayed within the whole given height, while the vertical scrollbar takes all the 800px.
When I'm scrolling the amount of displayed rows change aleatory a bit.

Also I have an issue for formatting the date.
The input format is regular iso format: 2006-01-01T00:00:00.000Z
What should I give for the inputFormat?
I'm using version 4.2 and

[2019-03-27 20:21] theblizzle commented on #1909
i opted for the server side method...works GREAT! thank you guys for the help.

[2019-03-27 22:05] boumboum opened #1933 "Numeric formatter for bottomCalcParams"
It would be nice to have a proper formatting for the column calculation cells.
For the regular cells, there is the possibility to define the decimal symbol or the thousand separator what is nice, but for the bottomCalc cell only the precision tag is available.
So either the calculated cells should inherit the formatting from the column definition (this one would be preferable) or the same values s

[2019-03-27 22:50] boumboum opened #1934 "By doubleclicking on a word in a cell 1-3 others words from other cells are also selected"
Strange behaviour:
If I double click on the first word of a cell, the contents of the 2-3 previous cells are also selected.
If I double click on the last word of a cell, the contents of the 2-3 following cells are also selected.
If there is a singe word in a cell and I double click on it, some previous AND some following cells are also selected.
BUT if there are several words in a cell (like an ad

[2019-03-27 22:51] aklaver commented on #1933
Have you ;looked at formatters:

tabulator.info/docs/4.2/column-calcs
"Formatting Calculation Cells

You can apply formatters (see Formatting Data for more information) to any calculation cells, using the topCalcFormatter and bottomCalcFormatter options in a columns definition object. you can also pass in additional parameters to the formatter functions using the topCalcFormatterParams and bottomC

[2019-03-27 22:57] aklaver commented on #1932
Re: datetime input format did you?:
http://tabulator.info/docs/4.2/format#format-builtin
"You will need to include the moment.js library  ..."
If you have what is the exact issue?

As to grid height, I do not understand what the issue is.
Can you be more specific?

[2019-03-27 22:59] boumboum commented on #1933
Of course I've looked at the docs.
But for the bottomCalcFormatter there is only the precision option available.
Of course I've tried to cheat and use the other formatting options but that had no effect.

[2019-03-27 23:01] aklaver commented on #1933
Please show us what you did when you used the formatter.

[2019-03-28 01:09] AmmarKureja commented on #758
Thanks a lot, Oli, Its worked for me. :)

[2019-03-28 08:53] mariusroets commented on #1853
Hi,

I would like to reopen this issue, as I'm experiencing the same problem. I have a large table with a few  1000 rows. Upon loading it looks fine, and if I scroll slowly, it remains ok. When I scroll faster however, the bottom rows disappear.

Before scroll:
![tabulator1](https://user-images.githubusercontent.com/378906/55141086-4216e980-5142-11e9-9faf-5390ab894bb2.png)

After scroll:
![tabulat

[2019-03-28 10:29] fsagaz commented on #1562
Great!!!! thanks @olifolkerd

[2019-03-28 16:40] dota2Pro opened #1935 "Row Formatter .css() doen't work"
**Describe the bug**
A clear and concise description of what the bug is.
Unable to set background color of a row using rowformatter

as per [documentation](http://tabulator.info/docs/4.2/components#component-row)

**Tabulator Info**
-v 4.2.3

**Working Example**
['Jsfiddle'](https://jsfiddle.net/dota2pro/hr4vzefj/11/)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['thisJsfiddle'](htt

[2019-03-29 02:29] takuy opened #1936 "Row groupings don't update automatically"
**Describe the bug**
Not sure if this intentional or not, but when changing a value in a row (where that value is the groupBy value) - the groups don't update unless you manually call setGroupBy(). unfortunately, this reloads the whole table and makes you lose your position.

I am aware that the drag and drop behavior works fine, but my table has too many groups for that to be effective.

**Tabula

[2019-03-29 05:59] rob196 commented on #1935
Think the documentation might be outdated, but please see [https://github.com/olifolkerd/tabulator/issues/1929](url) for fix/alternative

[2019-03-29 09:57] verdonfly opened #1937 "Movable Rows Between Tables on MOBILE"
**Describe the bug**
When I use Movable Rows Between Tables from mobile, the dragged line is not added to the receiving table.

**Tabulator Info**
- Which version of Tabulator are you using? 4.2

table = new Tabulator("#example-table", {
			height:"311px",
			layout:"fitColumns",
            data:[],
			pagination:"remote",

			// ajaxURL:"http://172.16.3.13:8087/clayapi/restservices/getArticles",

[2019-03-29 11:16] fingers10 opened #1938 "Checkbox checked state to select row without using cell click"
Hi All,

I'm using left most column to display check box and on click of it, the row needs to be selected.

Here is my code,

[code]

The above works well and I can achieve what I'm trying to do. But there comes a problem, if I click on this cell, it works and not if i click on the checkbox inside the cell.

Also I need to select all the rows when I click the checkbox in the table header. Any ways

[2019-03-29 12:29] rob196 commented on #1938
What seems to be happening is the checkbox is ticked, then the cellClick function is fired, i.e. it then goes and unticks it and makes it look like nothing happens

A workaround:

[code]
Changes were:

1. Added field: 'IsSelected'
2. Changed the if statement to cell.getData().IsSelected
3. set IsSelected to true/false accordingly

[2019-03-29 14:01] dota2Pro commented on #1935
@rob196  Issue # 1929 doesn't exist ( broken link )

[2019-03-29 14:17] rob196 commented on #1935
@dota2Pro sorry my bad, correct link: [#1929](https://github.com/olifolkerd/tabulator/issues/1929)

[2019-03-29 14:37] #1935 closed

[2019-03-29 14:45] fingers10 commented on #1938
Hi @rob196 ,

Thanks for your reply. This works as expected. But now is there any way in tabulator to select all rows and deselect all rows based on the checkbox state in the header?

Thanks,
Abdul

[2019-03-29 14:49] takuy opened #1939 "download xlsx with multiple sheets does not allow you use selector for current table"
**Describe the bug**
very low priority

Tabulator XLSX's download feature for multiple sheets does not allow you use selector for current table.
In this case the first sheet -  #table1 is never found. Even if included with a DOM element, it always reports that it could not find that table. I don't see why you wouldn't be able to reference the sheet by selector or DOM.

It's just a bit inconsistent

[2019-03-29 15:12] fingers10 commented on #1938
Hi @rob196 ,

Not sure if this is the best approach, but I have achieved all row selection using the following code.

[code]

Thanks,
Abdul

[2019-03-29 15:12] #1938 closed

[2019-03-29 15:52] morficus opened #1940 "Using up/down arrows when using the "select editor" scrolls the entire grid"
**Describe the bug**
A clear and concise description of what the bug is.

**Tabulator Info**
- Which version of Tabulator are you using? 4.2
- Post a copy of your construct object if possible so we can see how your table is setup

**Working Example**
![tabualtor-scroll-bug](https://user-images.githubusercontent.com/718799/55245071-cf2c7200-5218-11e9-9171-03549b14249a.gif)

**To Reproduce**
Steps t

[2019-03-29 15:58] nrietsch opened #1941 "Tabulator 4.2 - Sorting does not work when initialized but works when clicking the column"
Hi,

I'm using a single table element and load 3 different sets of data depending on a condition (i.e. tab selection).

I therefore use the following 2 commands when changing tab:
[code]

The Type column is a number between 1 and 18.
When the table gets initialized (i.e. the above commands), my Type column is sorted like 1,10,11,...19,2,3,...,9

If I click on the column header however, the columns

[2019-03-29 19:14] morficus commented on #1941
Did you try removing the "formatter" value from the column definition?

[2019-03-29 20:48] nrietsch commented on #1941
just removed the formatter to no avail

[2019-03-30 02:22] morficus commented on #1941
Here is a quick sample attempting to recreate your setup but I'm not able to replicate your issue:
https://jsfiddle.net/morficus/7nrhkxzq/4/

notice how the "age" property is a string.
I'm loading both the columns, the data and setting the sort order after initializing the table.

could you share your table config or maybe you have a custom sorter defined elsewhere?

[2019-03-31 00:00] anonthemon opened #1943 "Custom fileformatter running into data.forEach is not a function"
I am trying to use a custom fileformatter so I can download my data as a tab delimited text file. Here is what I have:

    var fileFormatter = function(columns, data, options, setFileContents){
    //columns - column definition array for table (with columns in current visible order);
    //data - currently displayed table data
    //options - the options object passed from the download function

[2019-03-31 15:19] aklaver commented on #1943
My experience with this error is that it indicates that what is being passed into data is not an array. .forEach is a method(function) of the Array type so if you try to call it on something that is not an array it fails with 'forEach is not a function'.  I would verify  that 'test.txt' is an array.

[2019-04-01 01:14] ctlkkc opened #1944 "'success'/'error' like feature in fetch ajaxConfig in version 4.2"
Hi Oli, im a user migrating from version 3.5 to 4.2. Noticing the method has been migrated from ajax to fetch, I am not sure how to define success or error actions in this new framework: I used:

[code]

in version 3.5 to indicate page element is ajax response is successful but seems I cannot handle the fetch promise inside the ajaxconfig definition. Can you help providing an idea?

Thanks!

[2019-04-01 07:57] rob196 commented on #1943
Think you need to use data.data i.e.:

[code]
The data in my test app contains data & calcs as per below screenshot
![image](https://user-images.githubusercontent.com/20188626/55311903-7fda8180-5464-11e9-9fa2-f100cf4e0c6c.png)

[2019-04-01 13:16] haferje commented on #1868
Any update on a fix for this?

[2019-04-01 14:49] webseitz commented on #1657
@KES777

Will there be an update to fix this behavior?

[2019-04-01 15:09] aklaver commented on #1943
Well I was not thinking straight in my previous post. 'test.txt' is the output file so no need to verify that it is an array.

[2019-04-01 15:23] nrietsch commented on #1941
Hi,

I think that loading the pictures in the table is what's causing the problem because it delays the 'display' of the table.

Here is my structure:

[code]
And this is the actual table I'm having issues with:

[code]
As you can see, there is a picture column with formatter:ctrlpicture:
[code]
THIS function checks if the image file does exist or not. If it gets a 404 answer, it will display a de

[2019-04-01 15:25] nrietsch commented on #1941
one more thing, that ctrlpicture is being called a hundred times which is why I added the `if (typeof value !== "undefined") {` test...

I have no idea why.

[2019-04-01 18:05] themantalope commented on #565
Hi everyone,

I'm also getting this error. I've just started using the library so it's likely I have made a configuration error. Here is the HTML document header:

[code]

The code for setting up the example table is then on the `ps.js` file I serve. Here is the code for that file:

[code]

The page then renders the example table as expected. However, when I click on the `#add-row` button (latest

[2019-04-01 19:34] KES777 commented on #1657
this should be question to @olifolkerd

[2019-04-01 19:47] billsymo commented on #655
Oli,

I noticed this feature is slated for release 4.3 on your trello board.  Is there an ETA for that?

[2019-04-01 22:33] ctlkkc opened #1945 "getting 'bottomcalc' from 'getHtml' function"
Hi Oli, I have a generic but possibly common question about getHtml function: is it possible to also get bottomcalc or/and topcalc when it get executed? Most users would want to get the calculated data to reflect critical information.

Here is the example of 'copy' in gethtml, which is very useful:
[code]

can we get something like:
var table = table.getHtml(true, true); //build table from filtere

[2019-04-02 01:49] harihsb commented on #1894
@dseiler I too get the same error.

[2019-04-02 07:39] fr0z3nfyr commented on #1853
Please reopen the  issue.

Facing pretty much the same problem as quoted by @mariusroets except that I'm using a `dataTree` and the problem exists even on initial load with about a 1000 rows. On scroll, the bottom padding increases (more rows are hidden).

Below screenshots show behavior with `dataTreeStartExpanded` set to `true/false`. With `dataTreeStartExpanded:false`, rows start hiding once I

[2019-04-02 07:59] Keyframe opened #1946 "Freezing columns in groups"
I know freezing columns in groups is not supported (as per error message), but it would really be useful. At least freezing the whole group - is that possible?

[2019-04-02 08:08] vipera7 opened #1947 "Sort IP adress"
I would like to add a sorter in tabulator. The possibility to sort by ip adress. I build a custom function. I hope it help.

In the function I convert the ip adress into numeric format.
[code]

A one line solution :

[code]

[2019-04-02 11:30] BernhardBaumrock commented on #1785
Hi @olifolkerd
I'm also reviewing your library as it might serve as a replacement for two modules that I've built for the ProcessWire CMF using aggrid and handsontable. First few hours reading the docs and playing with the examples are very promising! Congrats for this great work!
Just wanted to mention that the 4.2 release is not listed in the news http://tabulator.info/news :)
Looking forward to

[2019-04-02 13:26] parth55 commented on #1006
Hi,

I am not able to load loader, can you please help?

my tabulator instance is as below,

[code]

and below is my UI code

[code]

[2019-04-02 14:48] Darth-Ender opened #1948 "Tabulator 4.2.1 topcalc shifts into adjacent columns when using toggleColumn"
When using toggleColumn on a normally not visible column and again immediately after, on a normally visible column to hide that one (they are both the left-most columns at any given time), all of the topCalc elements shift left one column.  The table layout doesn't seem to matter.  Upon reversing the visibility of the two columns again (executing toggleColumn on them again), the topCalc's return t

[2019-04-02 14:52] Darth-Ender commented on #1948
It seems there is no div class="tabulator-calcs-holder" created for columns where visibility = false at column setup.   This leads to an offset when display is set to None when a normally visible column is made hidden.

Only workaround is to make the columns initially visible and then hide them.

[2019-04-02 15:05] Darth-Ender commented on #1948
Upon further troubleshooting.   it seems you must call table.redraw() after toggling a column in order for the topCalc's to adjust to where they should be.

I'm not sure if this is a bug or if it's implied that this second function call is always required to be executed after using toggleColumn.  I dont recall it being mentioned in the documentation however.

[2019-04-02 15:06] fingers10 opened #1949 "Ajax Header Filter gets Triggered on Tabbing to next header input"
Dear Tabulator Team,

I'm using Tabulator table inside bootstrap modal and my ajax header filter is triggered if I enter values in the header input and tab to next header input. Is this is the default behavior?

Thanks,
Abdul

[2019-04-02 15:43] fingers10 opened #1950 "Tabulator Ajax Header Filter not working properly"
Dear Team,

I have my tabulator table inside bootstrap modal. I have ajaxFiltering enabled in my table and I'm using header filter in each column to filter the data. I have set headerFilterLiveFilter to false. Now if I enter a value in input in the first column and tab or press enter ajax filter is happening and filtered data is returned.

I have a clear filter button. In this button click, I'm ca

[2019-04-02 21:26] aklaver commented on #1949
What version of Tabulator?
Also take a look at:
https://github.com/olifolkerd/tabulator/issues/1476

[2019-04-02 21:33] aklaver commented on #1950
So this is a follow on to:
https://github.com/olifolkerd/tabulator/issues/1949

Tabulator version.
Also a simple example on CodePen or jsFiddle would help.

[2019-04-02 22:05] morficus commented on #1941
@nrietsch - if you remove/comment out the pictures column, does the issue go away?

As for why `ctrlpicture` was being called hundred of times... it will be called for each row in your table. So if you table has 200 rows... then it would get called 200 times every time the grid re-renders.

[2019-04-02 22:34] doghousedev commented on #1580
Wow!  I've been hunting for this solution for a while. It took a little bit of searching.

Thanks.

[2019-04-03 03:31] vasiliyaltunin opened #1951 "Filter not reset on table.clearFilter() when filtering in header"
I create table and fill it data:

[code]

All seems works fine. Now i filter table using header filtering imput box, and all works fine too, but now i need to reset this filter, so i try:

[code]

But nothing happends.

All column use `HeaderFilter: input`

Tabulator v4.1.5

[2019-04-03 05:25] rob196 commented on #1951
If you want to clear all header filters use: ```table.clearHeaderFilter();```

[2019-04-03 06:20] vasiliyaltunin commented on #1951
Yes, it works just fine, thx!

[2019-04-03 06:20] #1951 closed

[2019-04-03 06:38] fingers10 commented on #1950
Hi @aklaver ,

This issue even happens in the examples mentioned in the tabulator docs. Please navigate to [Tabulator Header Filter](http://tabulator.info/examples/4.2#filter-header) example. Focus on the input in the first column and press tab to move to next header inputs. After you pass second or third inputs, you can see a blank table. Once the table becomes blank, type oli in the first header

[2019-04-03 07:22] fingers10 commented on #1949
Hi @aklaver ,

I'm using Tabulator 4.2.3, What happens is that when I type search text in header filter and press tab key, Tabulator triggers ajax request to the server with header filter values. This is valid scenario and I'm fine with this. Now if I remove the same search text and press tab key, no ajax request is made to server. But it triggers only if I press enter after clearing the search in

[2019-04-03 07:57] fingers10 commented on #1950
Hi @aklaver ,

I'm using Tabulator V4.2.3 I figured out what is making this wrong. But I don't know how to fix this. When I have values in the header filter input and if I press tab ajax filter request is triggered. If I remove the value in the same header input and press tab no ajax filter request is triggered. But after removing the search input if I press enter key instead of tab, ajax filter r

[2019-04-03 09:00] JayashriAMBPL opened #1952 "Hii...please provide solution to download formatter return value in export to excel"
**Describe the bug**
A clear and concise description of what the bug is.

**Tabulator Info**
- Which version of Tabulator are you using?
- Post a copy of your construct object if possible so we can see how your table is setup

**Working Example**
Please include a JS Fiddle or Code Pen that demonstrates the problem, it is very hard to diagnose an issue from a simple description

**To Reproduce**
St

[2019-04-03 09:19] Arnaud92BlR opened #1953 "Memory leak on data tree replaceData()"
Hello,

Our web page contains some tabulator tables, one of them is a data tree. Every 10 seconds, a json file is fetched, translated into javascript arrays and replaceData() functions are called on each table.
We see the memory increasing after each update.
If we don't call the replaceData() on the data tree table, everything is fine (other replaceData() on "standard" tables are called).

We use

[2019-04-03 09:28] KES777 opened #1954 "`headerFilter` is not available"
**Describe the bug**
Can not create custom `headerFilter` for column without field.

**Tabulator Info**
- Which version of Tabulator are you using? 4.2.3

**Working Example**
[JS Fiddle](https://jsfiddle.net/KES777/jk5ngtxs/5/)

**To Reproduce**
[code]

**Expected behavior**
I want to create custom column with custom filter
as workaround I add fake field:
[code]

**Desktop (please complete the fol

[2019-04-03 09:40] fingers10 commented on #1950
Hi @aklaver ,

Right now as a work around, I'm destroying and recreating the table on click of reset search button.

Thanks,
Abdul

[2019-04-03 11:10] HenrikBP opened #1955 "Rows per page should not include grouping and totals"
We are using pagination on a table where the rows are grouped and there are rows with totals.
When specifying f.ex. 25 rows per page (using tabulator.setPageSize(25) ), this may mean that only 15 rows of actual data is displayed per page, the remaining 10 rows are used for the grouping and the totals.

**Describe the solution you'd like**
We'd like an option to specify if the specified number of r

[2019-04-03 13:40] olifolkerd commented on #1952
Hi @JayashriAMBPL

Please raise your issue correctly, you have just included a blank template without any detail and asked a question in the title.

Questions should be asked on Stack Overflow, this issues list is for bug reports and feature requests only.

If you are having a specific issue please post and example of what you are trying and explain in detail the issues you are facing.

Cheers

Ol

[2019-04-03 13:40] #1952 closed

[2019-04-03 14:48] YendorMc commented on #1043
I’d like to see Column calculations added to grouped data.  This would be similar to sub totals.  So one could see the column calculations in the same position of the given column.   The column definition could have an additional property to be able to choose or not choose to show the calls.

[2019-04-03 14:53] YendorMc opened #1956 "Search box missing on mobile view at tabulator.com"
I cannot find the search box under the hamburger bar when looking at tabulator on a safari on an iPhone.  Can this be added or am I missing something?  Like to be able to search documentation away from desktop.

[2019-04-03 16:21] aklaver commented on #1950
@fingers10 . Looking at code for clearHeaderFilter in modules/filter.js I see:`

`//clear header filters
Filter.prototype.clearHeaderFilter = function(){
        var self = this;

        this.headerFilters = {};

        this.headerFilterColumns.forEach(function(column){
                column.modules.filter.value = null;
                self.reloadHeaderFilter(column);
        });

        this.

[2019-04-03 18:14] #1932 closed

[2019-04-03 18:15] olifolkerd commented on #1933
@boumboum as @aklaver says, any of the built in formatters can be used to format calculation cells

[2019-04-03 18:15] #1933 closed

[2019-04-03 18:17] olifolkerd commented on #1936
Hey @takuy

That will be happening because you have not got a height set on the table, and so the virtual DOM is not being used. without the virtual DOM tabulator has no way of regrouping rows without redrawing the whole table.

If you set a height it should work.

Cheers

Oli :)

[2019-04-03 18:19] olifolkerd commented on #1937
Hey @verdonfly

which mobile browser are you using at?

Cheers

Oli

[2019-04-03 18:24] olifolkerd commented on #1939
Hey @takuy

It isnt a  bug, you have to specify that the current table is used somewhere in the list as this function cannot be used to generate a download of tables unrelated to the current table.

as it is possible to define two tables using the same selector it would create a great deal of confusion and lead to inconsistent results if that was used to select the current table.

and also a selec

[2019-04-03 18:24] #1939 closed

[2019-04-03 18:29] olifolkerd commented on #1944
Hey @ctlkkc

You need to use the ***ajaxResponse*** and ***ajaxError*** callbacks in the tabulator definition to handle this, the shouldn't be set in the ajax config

Full details can be found in the [Ajax Documentation](http://tabulator.info/docs/4.2/callbacks#ajax)

I hope that helps,

Cheers

Oli :)

[2019-04-03 18:29] #1944 closed

[2019-04-03 18:30] olifolkerd commented on #1868
Hey @haferje

Im looking to do a patch update for this over the weekend, one of my family has been in hospital recently so i have been a bit distracted. usual service to resume shortly.

Cheers

Oli :)

[2019-04-03 18:30] #1943 closed

[2019-04-03 18:32] #1927 closed

[2019-04-03 18:33] olifolkerd commented on #1928
Hey @fingers10

Any chance you could create a JS Fiddle or Code Pen so i can see the issue in action.

Cheers

Oli :)

[2019-04-03 18:34] olifolkerd commented on #1883
Hey @Jojoshua

I have implemented this functionality in the past using custom editors to habdle the transition, but i can see it being a usefull feature to add.

I will add it to the roadmap for 4.3

Cheers

Oli :)

[2019-04-03 18:35] olifolkerd commented on #1918
@aklaver  is right it is set per column, and you can pass a callback to it that returns weather the cell is editable when it is clicked

[2019-04-03 18:36] olifolkerd commented on #1876
it looks like there are issues when using date objects in the table, i will fix in the next patch release

[2019-04-03 18:36] #1913 closed

[2019-04-03 18:38] olifolkerd commented on #1934
Hey @boumboum

Sorry to hear you are having issues,

That is very odd behaviour that i certainly havnt seen before.  could you create a JS Fiddle or Code Pen that demonstrates the behaviour you are experiencing?

Cheers

Oli :)

[2019-04-03 18:39] olifolkerd commented on #1657
hey @webseitz

Yup, i will include it in this weekends patch release.

Cheers

Oli :)

[2019-04-03 18:39] olifolkerd commented on #655
Hey @billsymo

I generally do a minor version release every 2-3 months so probably around May.

Cheers

Oli :)

[2019-04-03 18:40] olifolkerd commented on #1945
Hey @ctlkkc

At the moment this isnt possible, but i think it is a great idea so i will add it to the roadmap.

Cheers

Oli :)

[2019-04-03 18:41] olifolkerd commented on #1853
Hey @fr0z3nfyr

This will be because your table has been resized but the ***redraw*** function hasnt been called on the table so it has not resized the virtual DOM buffer to fill the bigger space.

Cheers

Oli :)

[2019-04-03 18:43] olifolkerd commented on #1894
Hey all,

i cant say i have come across this issue myself. would one of you be able to put together a Code Pen or JS Fiddle that replicates the issue, so i can find the fix for you.

Cheers

Oli :)

[2019-04-03 18:43] olifolkerd commented on #1946
You can freeze a whole group by freezing all the columns in that group

Cheers

Oli :)

[2019-04-03 18:44] olifolkerd commented on #1947
Hey @vipera7

I think an ip address sorter is a great idea, i will look at adding one in the next release.

Cheers

Oli :)

[2019-04-03 18:46] olifolkerd commented on #1785
Hey @BernhardBaumrock

Thanks for the kind words, great to hear you are enjoying Tabulator.

Thanks for the headsup, i will update the website shortly.

Cheers

Oli :)

[2019-04-03 18:53] olifolkerd commented on #1948
Hey @Darth-Ender

Thanks for bringing this to my attention, i will have a look into this at the weekend.

In the mean time, could you give me some bullet point instructions on how to recreate the issue. or better yet provide a JS Fiddle or Code Pen to show me it in action.

Cheers

Oli :)

[2019-04-03 18:56] nrietsch commented on #1918
I found a work around (changed my editing philosophy...).

Thank you

[2019-04-03 19:00] olifolkerd commented on #1941
Hey @nrietsch @morficus

The issue is happening because you are calling the commands one after the other and the ***setColumns*** command hasnt finished executing before the ***setSort*** is being called.

for the record formatters have ***nothing*** to do with sorting, they are in no way related, formatters are for display only, sort works on the row data.

If you have to keep your original table

[2019-04-03 19:00] #1941 closed

[2019-04-03 19:03] olifolkerd commented on #1949
Hey @fingers10

This is the correct behaviour yes, an ajax request is triggered on any header filter update when using ajaxFiltering.

Cheers

Oli :)

[2019-04-03 19:03] #1949 closed

[2019-04-03 19:04] olifolkerd commented on #1953
Hey @Arnaud92BlR

Sorry to hear you are having issues,

I see you are not using the virtual DOM there, if you set a height on the table does it resolve the issue?

Cheers

Oli :)

[2019-04-03 19:08] olifolkerd commented on #1954
Hey @KES777

Interesting use of the header filter there.

I had never really intended the header filters to be used to filter anything other than their current column which is why they were tied to a field name.

But i can see why this may be a useful option in certain circumstances.

The issue it presents itself that there is no meaningful way to send this data back when using ajax filtering.

I

[2019-04-03 19:08] #1954 closed

[2019-04-03 19:09] nrietsch commented on #1941
Year, good idea for the test.. My head is so buried that I didn't even think about it.
Anyhow, If I disable my picture column, the type column gets ordered correctly.
So, it's the delay in loading (and checking) the pictures that makes the initial sorting fail; it's confirmed now.

As for the amount of times the function is called, I have 18 entries in my table...

[2019-04-03 19:14] olifolkerd commented on #1955
Hey @HenrikBP

The pagination system is built to try and maintain a consistent height of the pages, therefor it counts group headers in the number.

I would argue that using a mix of grouping and pagination leads to a very poor user experience as there is no way for the user to see the groups ahead of time or not where they are likely to find group headers.

I would suggest that a cleaner solution

[2019-04-03 19:16] olifolkerd commented on #1043
@YendorMc the ***columnCalcs*** option lets you choose how calcs are shown at group and table levels.

details of this can be found in the [Column Calcs Documentation](http://tabulator.info/docs/4.2/column-calcs#visibility)

Cheers

Oli :)

[2019-04-03 19:17] olifolkerd commented on #1956
Hey @YendorMc

The search bar isnt available on the mobile version at the moment.

This will become available when i do the next website update in a month or two.

Cheers

Oli :)

[2019-04-03 19:17] #1956 closed

[2019-04-03 19:18] KES777 commented on #1954
My use case is next: I do not want to show row's id (because usually it is just a noise), but I want to find rows by ID. For example by IDs from log files.

Currently I use formatter which returns just empty string =)

Also another interesting usecase is when I get from server range data type: `[ '2019-01-02', '2019-02-07' )`
This one field I display as two columns: `From` and `Till`. To filter an

[2019-04-03 19:19] olifolkerd commented on #1950
Hey @aklaver

Thanks for the details,

I will look into fixing that in the next patch release.

Cheers

Oli :)

[2019-04-03 19:21] olifolkerd commented on #1954
Hey @KES777

In your second usage case i would recommend using a mutator to generate a new field that contains the merged data, then using a filter function that checks the values in the two fields seperatly.

Cheers

Oli :)

[2019-04-03 21:05] cacuestai commented on #1887
Hello:
The same problem in Chrome.
regards
![error-stack](https://user-images.githubusercontent.com/2236441/55512989-3471d000-562a-11e9-8548-1eaa5696b6b5.png)

[2019-04-03 21:26] ctlkkc commented on #1944
Thank you, it works!

[2019-04-03 22:53] dseiler commented on #1894
Hi Oli
Thanks for your message. Here is a code pen showing the issue:
https://codepen.io/dseiler/pen/MRKbvb

If you try to edit on of the three example rows and open the developer console in chrome you see the following error:

Uncaught TypeError: Cannot create property 'element' on string 'Accounts'
    at tabulator.min.js:7
    at Array.forEach (<anonymous>)
    at l (tabulator.min.js:7)
    at

[2019-04-04 02:35] haferje commented on #1868
Sorry to hear that.
I'll be patient.

[2019-04-04 04:12] takuy commented on #1936
Hi @olifolkerd, Thanks for the response - I am setting a height on the table in my production code. I forgot to do it on the test codepen - so that has been updated, and I am getting the same results. The groups only update if I call setGroupBy() - and then, it still redraws the whole table.

[2019-04-04 06:07] HenrikBP commented on #1955
Hi - thanks for the reply.

I agree that the current default behaviour is the most consistent, but for us there are situations where we really need the suggested behaviour.

We might consider paying you to develop the solution, if that would be of interest.

[2019-04-04 06:17] parth55 commented on #141
Hi,

I don't want to change the ajax parameter However, I want that it will pass the latest value at each request,

[code]

I am trying to send the latest value with {last_page:_this.iTotalPage, paginationSize: this.iRowsPerPage} but I can't do so, also I have tried ajaxURLGenerator to do the same, but with that, I am not able to manage filter and sorter parameters passed automatically with the re

[2019-04-04 06:49] Arnaud92BlR commented on #1953
Hello,

No, I've tried but same issue:

[code]

According to the edge memory snapshot, it seems that the leak comes from HTMLDivElement
of the type \<div class="tabulator-cell"\>.

Thanks for your help, regards,
Arnaud

[2019-04-04 07:17] jmlolo opened #1957 "Is there a way to disable movable column for a specific column ?"
Is there a way to disable movable column for a specific column when moveColumns is activated ?

[2019-04-04 10:22] parth55 opened #1958 "ajaxProgressiveLoad: fixed scroll size on the basis of total pages"
Hi,

How to achieve a fixed scroll from total no. of pages with ajaxProgressiveLoad:"scroll"?

More specifically in below configuration,
http://tabulator.info/examples/4.2#ajax-progressive

[2019-04-04 10:26] boumboum commented on #1934
Hi,
No need any JS Fiddle. Just use your own examples on http://tabulator.info/examples/4.2.
Different behaviour on Firefox and Chrome.
On Firefox:
If there are more then one string (or even a 3 part date) in cell, you cannot select the last word/string by double clicking on it, but you can do this on the remaining previous ones.
If you click 3 times on any word, the whole content of the cell is s

[2019-04-04 12:31] Keyframe commented on #1946
I did try that, but to no avail. Hmm..

[2019-04-04 16:43] aklaver commented on #1957
No and I'm not sure if that would even be possible as by action if you move one column you are moving the others.

[2019-04-04 16:48] aklaver commented on #1958
Not exactly sure what you want but, set up pagination?:
http://tabulator.info/docs/4.2/data#ajax-progressive
"All the ususal pagination options, such as paginationSize, paginationDataSent etc can be used in this mode, you can find out more about the options and expected response in the Remote Pagination Documentation"

[2019-04-04 16:54] aklaver commented on #1957
Replied without thinking:( There are frozen columns:
http://tabulator.info/docs/4.2/layout#frozen-column
Though that only applies to columns on the left and right of the table and they need to be contiguous.

[2019-04-04 17:01] parth55 commented on #1958
We know the no of pages, after first ajax call but height of scroll bar is varying(increasing) as we scroll down with each new ajax request, although we already know the total no of records (pages* no of records/page). User is not getting real idea of scrolling(how much to scroll and how many records are still left) even after all records have been loaded.

[2019-04-04 17:14] aklaver commented on #1958
You will need to show your table constructor.

An example from my code:
![Screenshot-2019-4-4 Table - Tabulator](https://user-images.githubusercontent.com/658260/55574887-63d41b80-56c2-11e9-843e-9c0e9a7a88dc.png)
![Screenshot-2019-4-4 Table - Tabulator(1)](https://user-images.githubusercontent.com/658260/55574896-6898cf80-56c2-11e9-8d2a-6e780da330a9.png)

[2019-04-04 17:19] aklaver commented on #1958
And the relevant constructor bits:
`
ajaxProgressiveLoad: "scroll",
pagination: "remote",
paginationSize: 12,
`

[2019-04-04 17:29] parth55 commented on #1958
Hi,

below is my code
[code]

and it's working exactly as shown in documentation http://tabulator.info/examples/4.2#ajax-progressive
 (including variable scroll bar size)

[2019-04-04 17:50] aklaver commented on #1958
All I can think of is to use:
http://tabulator.info/docs/4.2/format#format
"Row Number
The rownum formatter shows an incrementing row number for each row as it is displayed"

in the table and use _this.iTotalPage x this.iRowsPerPage to get total row count that you display to help the user determine where they are in the dataset.

[2019-04-04 18:36] sibsibsib opened #1959 "virtualDomBuffer setting has no effect"
**Describe the bug**
setting `virtualDomBuffer` as [specified in the docs](http://tabulator.info/docs/4.2/layout#virtual-dom-buffer) has no effect.

**Tabulator Info**
- Which version of Tabulator are you using? **4.2.3**

**Additional context**
On investigation, I found that this is because the setting is not present in `defaultOptions` and is thus not copied into the table options on init. Addin

[2019-04-05 06:24] parth55 commented on #1958
Hi,
I got your idea a) showing row number with each row and b) showing the total number of rows somewhere in the page.

I agree that this will solve the confusion to some extent, however, my concern is, irrespective of new data fetched from the server, the total number of rendered rows will be fixed as we are using virtual DOM, then why scroll bar size (height) is increasing with scrolling?

[2019-04-05 06:41] fr0z3nfyr commented on #1853
Thanks for the reply @olifolkerd

So, are you suggesting that a `redraw()` should be enough to handle this or there is a specific `resize` function available? I did it like this:

[code]

This seemed to work (although, it didn't work the first time but worked after a `CTRL+F5`) but I'm not sure if this the best way or is it working just by fluke and may fail in some edge cases! Do I also need to a

[2019-04-05 09:58] fingers10 commented on #1928
Hi @olifolkerd ,

Here is the CodePen Sample of the issue. [Columns Missing Sample](https://codepen.io/anon/pen/MRKNNY)

Thanks,
Abdul

[2019-04-05 14:12] aklaver commented on #1958
You say your table is operating the same as the example at the Tabulator. I do not see any change in height when using the example. That is testing with Firefox 60.6.1esr  and Chrome  73.0.3683.86 . You will need to provide a screenshot or a more detailed description of what you are seeing.

[2019-04-05 16:43] pythonBerg opened #1961 "Displaying table from hidden jquery tab"
Hello,
I am rendering several tablulator tables, each in a separate jquery tab panel. As is expected, when I select the tab containing a previously hidden table, the formatting needs work.

I've seen from last year this problem solved  in item #272, 385 and 1354. Is this solution still valid with the changes made in 4.2?  My jquery  wrapper isn't working as expected so I am passing an explicit tab

[2019-04-05 17:13] pythonBerg commented on #1961
ok. this is likely unrelated to tabulator...though I still don't understand why the jquery version of the solution failed with error. It appears that there was a cascading issue from a parent hidden div that needed to be resolved before redraw could have proper context....

[2019-04-05 17:13] #1961 closed

[2019-04-05 17:45] olifolkerd commented on #1894
Thanks for the Code Pen, that was very helpful

That is definitely a bug, i will get it fixed in this weekends patch release.

Cheers

Oli :)

[2019-04-05 17:46] #1940 closed

[2019-04-05 17:48] olifolkerd commented on #1936
Hey @takuy

Thanks for the update to the code pen, that certainly looks buggy to me, i will look at including a fix in the next patch release.

Cheers

Oli :)

[2019-04-05 17:52] olifolkerd commented on #1953
Hey @Arnaud92BlR

I believe there is a very slight memory leak on the ***replaceData*** function at the moment but it only really becomes apparent when there is a very high refresh rate and a fair amount of data swapping.

How many rows of data are being pulled into the table?

It is on my list of things to look into for the 4.3 release due out in may.

Cheers

Oli :)

[2019-04-05 17:53] olifolkerd commented on #1946
Hey @Keyframe

I will stick whole group freezing on the roadmap

Cheers

Oli :)

[2019-04-05 17:55] olifolkerd commented on #1957
Hey @jmlolo

@aklaver  is correct, you can freeze columns if they are on the edge of the table, but if you can move other columns then you can just swap them about thereby moving the "unmovable" column

Cheers

Oli :)

[2019-04-05 17:55] #1957 closed

[2019-04-05 17:57] #1959 closed

[2019-04-05 18:00] olifolkerd commented on #1928
Hey @fingers10

In your example all the collapsed columns are showing correctly under the row, no collumns go missing when i use it on chrome.

The column group header is not show, but showing group column headers in collapsed columns is not currently a feature of Tabulator.

Is that what you are referring too?

Cheers

Oli :)

[2019-04-05 18:01] olifolkerd commented on #1958
If you are using pagination you should not set a height on the table, then the table will resize to fit the number of rows and there will be no scroll bar

[2019-04-05 19:03] takuy commented on #1936
Thanks @olifolkerd! Your work on Tabulator is much appreciated.

[2019-04-06 03:11] samansjukur commented on #357
Hi Oli,

got this error :
TypeError: row.getElement(...).addClass is not a function

here's my code:
    rowFormatter:function(row) {
        var data = row.getData();
        if(data.field1 == "1") {
		row.getElement().addClass("approval");
        }
    },

[2019-04-06 06:33] fingers10 commented on #1928
Hi @olifolkerd ,

No. I think this is related to responsiveness. Even in the example I have mentioned, If you open and try, everything looks fine in top layout. Here is the screen print.

![image](https://user-images.githubusercontent.com/43729469/55665856-da5c4f00-5863-11e9-9d8e-5684ac990f0f.png)

But if you change the pen layout to right or left and have a closer look, you can still notice that

[2019-04-06 08:31] olifolkerd commented on #357
Hey @samansjukur

Which version of Tabulator are you using?

Cheers

Oli :)

[2019-04-06 08:35] olifolkerd commented on #1928
Hey @fingers10

I now see what you are talking about, the issue isn't that they have gone missing, it is that the row is now so tall it is bigger than the height of the table so they are now below the end of the table.

I will have a look into the redraw maths to see why a scroll bar hasn't appeared, but this shouldn't really affect a real life example as when there are multiple rows in your table

[2019-04-06 10:00] olifolkerd commented on #1894
Hey All,

So the issue relates specifically to when the ***searchFunc*** was being used, it wasn't consistently handling the results from the different types of the values passed into the ***values*** property.

I have tweaked the way the function operates, regardless of the type of input the ***searchFunc*** function will be passed in an array of search item objects with the format:
[code]

The f

[2019-04-06 10:00] #1894 closed

[2019-04-06 10:13] fingers10 commented on #1928
Hi @olifolkerd,

No this happens when I have multiple rows as well. Please refer the first screenshot in this thread. That contains multiple rows and last few columns are not displayed for all the rows.

Thanks,
Abdul

[2019-04-06 10:27] #1876 closed

[2019-04-06 10:29] olifolkerd commented on #1876
Im afraid i cannot replicate your issues, when using a table set up as per the documentation it is all downloading correctly for me.

If you feel you are still having issues please create a JS fiddle that demonstrates the issue as it is likey related to the data you are trying to download.

Cheers

Oli :)

[2019-04-06 11:09] samansjukur commented on #357
the latest one, 4.2, i also tried 4.1 with the same result.

have a nice weekend
Sam

[2019-04-06 11:42] harihsb commented on #1894
Thanks Oli!

[2019-04-07 07:17] olifolkerd commented on #357
That is because the code snippet above is referring to version 3 of Tabulator (as it says in the issue title)

Version 3 was dependent on jQuery and used jQuery elements which have an addClass function.

as of jQuery 4.0 it used DOM Nodes, where you have to use the ***classList.add*** function

[code]
I hope that helps,

Cheers

Oli :)

[2019-04-07 08:24] olifolkerd commented on #1887
there was an issue with the number editor that caused multiple event bindings to be created on validation fail which cascaded and used the whole call stack.

I have pushed a fix for this to the master branch and will include it in today's patch release

Cheers

Oli :)

[2019-04-07 08:24] #1887 closed

[2019-04-07 09:00] samansjukur commented on #357
Thank's Oli,

I got it working now, my javascript knowledge is very limited (just a beginner).
Once again thank you.

[2019-04-07 09:02] olifolkerd commented on #1868
Hey @haferje

You will be happy to hear i have pushed a fix for this to master and will be including it in the patch release later today.

Cheers

Oli :)

[2019-04-07 09:02] #1868 closed

[2019-04-07 09:43] olifolkerd commented on #1914
Hey @Jojoshua

Turns out it was the CSS minifier i was using, for some reason it was altering the values of the z-index's when it was minifying the code. I have turned this "feature" off and regenerated the dists.

I will include this in this weekends patch release.

Cheers

Oli :)

[2019-04-07 09:43] #1914 closed

[2019-04-07 11:10] olifolkerd commented on #1924
Hey @satenshakya

Resizing the column when the table was at maximum horizontal scroll was triggering an incorrect scroll event which was resulting in the graphical glitch.

I have pushed a fix for this to the master branch, it will be included in the patch release later today.

Cheers

Oli :)

[2019-04-07 11:10] #1924 closed

[2019-04-07 11:24] olifolkerd commented on #1928
Hey @fingers10

The issue was that the formatter couldn't handle columns with the same title so in your case as you have columns with the same title the second one to collapse was overwriting the first.

I have changed the way this part of the system works and pushed a fix to master.

It will be included in this evenings patch release.

Cheers

Oli :)

[2019-04-07 11:24] #1928 closed

[2019-04-07 12:17] dseiler commented on #1894
Thanks Oli

This is just amazing support!!

Best

Daniel

On Sat, Apr 6, 2019 at 1:42 PM Hariharasuthan B <notifications@github.com>
wrote:

[2019-04-07 12:51] olifolkerd commented on #1948
Hi @Darth-Ender

There was an issue where calculation cells where not being generated if the column was initially hidden so they were not then available if the column was made visible.

I have pushed a fix for this to the master branch and will include it in this evenings update.

Cheers

Oli :)

[2019-04-07 12:51] #1948 closed

[2019-04-07 13:12] olifolkerd commented on #1950
Hey @fingers10

Looking into this further i am unable to replicate what you describe. Setting up the table as you have described with ajaxFiltering enabled and headerFilterLiveFilter set to false the table works as expected

- When a value is changed in a header filter  and focus is lost on the editor a request is triggered
- When a value is deleted from an editor a request is triggered
- When the

[2019-04-07 16:41] olifolkerd commented on #1907
Hey @xogoc

The issue turned out to be because a couple of the internal row delete events were firing in the wrong order.

I have pushed a fix for this to the master branch. the fix will be included in this evenings patch release.

Cheers

Oli :)

[2019-04-07 16:41] #1907 closed

[2019-04-07 16:53] olifolkerd commented on #1908
Hey @Meigyoku-Thmn

I think you might have exposed (yet another) inconsistent behaviour issue on the firefox browser.

when clearing the fixed height of the cell element firefox is not resizing the height of the child elements as it should be.

I will contact firefox and look into this further

Cheers

Oli :)

[2019-04-07 17:00] olifolkerd commented on #1911
Hey @OOnogul

I have pushed a fix for this to the master branch, it will be included in this evenings patch release

Cheers

Oli :)

[2019-04-07 17:00] #1911 closed

[2019-04-07 17:04] olifolkerd commented on #1903
Hey @rs199483

There was a graphical glitch affecting deleting rows from groups that has been fixed as a result of another issue.  If you check this evenings 4.2.4 release it should be working.

Cheers

Oli :)

[2019-04-07 17:04] #1903 closed

[2019-04-07 17:10] olifolkerd commented on #1901
Hey @funkindy

This will be a tricky bit of functionality to add so im going to move it from a bug fix to an enhancement and aim to have something out for it in the May 4.3 release.

Cheers

Oli :)

[2019-04-07 17:26] olifolkerd commented on #1896
Hey @rs199483

It turns you that IE was missing some of the properties i was using to determine the state of the window.

I have pushed a fix for this to the master branch and will include it in this evenings patch release.

Cheers

Oli :)

[2019-04-07 17:26] #1896 closed

[2019-04-07 18:06] olifolkerd commented on #1861
Hey @waruyama

Looking into this further there is a bit of a unique interaction between the row grouping, frozen rows and calculations systems with the specific configuration of your table.

I have isolated the source of the issue but it wont be a quick fix so i'm pencilling it in for the 4.3 release in May when i'm reorganising the relationship between those systems.

Cheers

Oli :)

[2019-04-07 18:58] olifolkerd commented on #1953
Working through the issues list there is already a duplicate issue for this.

Could you add any additional feedback on this issue to #1723
Cheers

Oli :)

[2019-04-07 18:58] #1953 closed

[2019-04-07 18:59] olifolkerd commented on #1899
#1723

[2019-04-07 18:59] #1899 closed

[2019-04-07 18:59] #1900 closed

[2019-04-07 19:01] olifolkerd commented on #1889
Hey @CerDennis

Thanks for getting in touch.

I intentionally don't include anything with Tabulator that works with elements outside the table as there is no way for me to know what they will be or how they will be controlled.

In this case you have added custom functionality to do this which is exactly what you should be doing.

Cheers

Oli :)

[2019-04-07 19:01] #1889 closed

[2019-04-07 19:02] olifolkerd commented on #1890
Hey @boumboum

Thanks for the suggestion. the idea is interesting.

Could you provide more details on what you feel the user experience would be like?

Cheers

Oli :)

[2019-04-07 19:03] #1877 closed

[2019-04-07 19:04] #1860 closed

[2019-04-07 20:47] dvopalecky opened #1962 "Wrong display of first column of dataTree after editing"
**Describe the bug**
When using the dataTree, and when the first column is editable, after edit the display of the tree structure is lost if it's not the root node of the tree.

**Tabulator Info**
Tabulator 4.2.4

**Working Example**
https://codepen.io/dannyvop/pen/BELZXj

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codepen.io/dannyvop/pen/BELZXj
2. Click on cell 'Adam' or '

[2019-04-07 22:00] haferje commented on #1868
Code change looks good - I'll try it when I get back to work Monday.
Thank you!

[2019-04-07 22:13] olifolkerd commented on #1723
To give you an update on this, i have identified several areas where DOM elements were not being cleared and i am in the process of working through different configurations of the table to ensure i have found them all.

I should have a fix for this in the next patch release.

Cheers

Oli :)

[2019-04-07 22:36] olifolkerd commented on #1723
I have released version 4.2.5 which includes some initial fixes for the memory leak.

Let me know how you get on with it.

Cheers

Oli :)

[2019-04-07 23:34] takuy commented on #1936
Btw @olifolkerd can you un-close this? Just so I can get a notification if there's an update. Closed issues don't seem to send notifications. :)

[2019-04-08 06:19] xXmrotsXx commented on #1861
Hi @olifolkerd,

I'm on an old version of Tabulator so haven't reported in the past, but could this issue also cause a frozen column of formatted cells (with images - like the cheese example) to misbehave if more columns were added to the right?

I see it freeze to the RHS of the table instead of its position on the left like defined in the constructor. Removing the freeze fixes my issue.

[2019-04-08 06:50] parth55 commented on #1958
Thanks! but I am not using pagination.

![image](https://user-images.githubusercontent.com/14799110/55703829-4ff92400-59f8-11e9-883e-cdf395038e15.png)

![image](https://user-images.githubusercontent.com/14799110/55703953-a49c9f00-59f8-11e9-88f4-a65fce2c5101.png)

[2019-04-08 06:58] fingers10 commented on #1950
Dear @olifolkerd ,

I'm still facing this issue. I'm using Tabulator Version 4.2.3 and I tested this in Edge and Chrome.

Steps to Reproduce:
1. I have a Search Results Table(Tabulator Table) in a Page. This table is loaded via ajax and server side sorting enabled. There is no search filters in this table.
2. On click of a cell in above table, a bootstrap modal dialog appears, in which I have anot

[2019-04-08 07:09] fingers10 commented on #1928
Dear @olifolkerd ,

Perfect. It's working fine now. Thanks for the fix.

Making the column group title also to be displayed in the collapse mode will make this even better. Looking forward that you will implement the feature in future releases.

Thanks,
Abdul

[2019-04-08 09:21] boumboum commented on #1890
Well, best would be a kind of Excel like pivot table where basically there is 2 multi select field (based on the declared data/columns info)  and a simple select field.
(here are some examples: https://dzone.com/articles/comparison-of-javascript-pivot-grids-for-developer)
The first multi select would define the rows of the fields to group by (more or less what you have already done with the groupi

[2019-04-08 13:43] Arnaud92BlR commented on #1723
Hello,

Following #1953, I've upgraded to 4.2.5 and still have the issue.
I've attached a small test that shows the problem (at least on edge). Hope that it helps !

Thanks for your effort, regards,
Arnaud

[leak.zip](https://github.com/olifolkerd/tabulator/files/3054546/leak.zip)

[2019-04-08 14:47] verdonfly commented on #1937
Safari and Chrome

—
Andrea Verdolini
________________________________
From: Oli Folkerd <notifications@github.com>
Sent: Wednesday, April 3, 2019 8:19:57 PM
To: olifolkerd/tabulator
Cc: verdonfly; Mention
Subject: Re: [olifolkerd/tabulator] Movable Rows Between Tables on MOBILE (#1937)

Hey @verdonfly<https://github.com/verdonfly>

which mobile browser are you using at?

Cheers

Oli

—
You are re

[2019-04-08 17:39] rs199483 commented on #1896
Looks good in 4.2.5.  Thanks for the fix!

[2019-04-08 18:00] aklaver commented on #1958
@parth55
Alright I see what you are talking about. From what I see the scroll marker starts at  a size and after scrolling is changed to a smaller size  and stays that way(going up or down) until the table is refreshed. It is less noticeable on FF which is what I use day-to-day and is why I did not pick up on it, that and old eyes:) For me it is not really something I would consider a worry.

[2019-04-08 18:05] pptsk opened #1963 "header filter not works properly"
Hi,
my header filter ofcourse does not works if my numeric data are converted to text,
can someone help how to set filter for this job??

				{title:"Access (1-16)", field:"access", headerFilter:"input", width:'140',
					formatter:function(cell, formatterParams){
						var value = cell.getValue();
						var result = "";
						for(var i = 0; i < 16; i++){
							result+= ( value & (1 << i )) === 0

[2019-04-08 18:33] aklaver commented on #1950
@fingers10
The search does not break it just fires with empty values at least according to your original problem description.

@olifolkerd
The 'issue' from what I see is:
1) You have multiple header search fields.
2) You search on a subset of those fields by entering search values.
3) You run clearHeaderFilter(). This clears the fields and marks them as changed.
4) If you enter a field that had va

[2019-04-08 19:47] olifolkerd commented on #1936
@takuy if you update to 4.2.5 do you still have the issue?

[2019-04-08 19:48] olifolkerd commented on #1861
@xXmrotsXx  if it is freezing to the right it means there was an unfrozen column between the left frozen columns and that column. that is expected behaviour

[2019-04-08 19:49] olifolkerd commented on #1723
Hey @Arnaud92BlR

Thanks for the feedback, i will have a look into that as well.

Cheers

Oli :)

[2019-04-08 19:52] olifolkerd commented on #1958
@parth55 Thanks for the visuals, i understand what you are talking about.

Given that the scroll size and position of the scroll bar is set by the number of rows in the table, it will naturally change as you scroll and new lines are added to the table (shrinking the scroll bar and pushing it slightly up).

It should only be slightly jumpy and it should have no effect on the actual scroll position

[2019-04-08 19:52] #1958 closed

[2019-04-08 19:54] olifolkerd commented on #1963
cast the input value to a number using ***Number***:

[code]

I hope that helps,

Cheers

Oli :)

[2019-04-08 19:54] #1963 closed

[2019-04-08 19:58] olifolkerd commented on #1950
@aklaver Thanks for clarifying

It is just that the filters have gone from having a value of undefined to a value of "" which are treaded different for internal filtering but i see how that could be confusing for ajax.

I will look into tweaking this for the next patch release.

Cheers

Oli :)

[2019-04-08 20:09] olifolkerd commented on #1937
@verdonfly sorry, i confused myself there.

The drag and drop functionality between tables currently dosn't work on touch devices due to limitations of the way touchend events are fired that prevent you knowing directly onto what element the touch ended.

I am looking into solutions to this for the 4.3 release.

Cheers

Oli :)

[2019-04-08 21:17] aklaver commented on #1962
You need to update the _children array:

https://github.com/olifolkerd/tabulator/issues/1603

or as of 4.2.2:
https://github.com/olifolkerd/tabulator/releases
"In data tree mode allow a single row object to be passed directly to the _children property instead of being passed in an array"

[2019-04-08 21:20] aklaver commented on #1884
I have done something similar and it worked, can you show the code you are using?

[2019-04-08 23:55] takuy commented on #1936
@olifolkerd Yes - I updated the codepen with 4.2.5 and it's still happening.

[2019-04-09 01:01] jobele commented on #1884
cellEdited:function(cell){
	var cellValue = cell.getValue();
	var rowData = cell.getRow().getData();
	$.ajax({
		headers: {
			'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
		},
		type: 'POST',
		url: "{{ URL::route('book.updateComment') }}",
		data: {
			  'userNum': rowData.user_num,
			  'userId': rowData.user_id,
			  'itemValue': cellValue,
		},
		success: function(data) {

[2019-04-09 01:42] parth55 commented on #1958
no of rows =  last_page * no of rows per page

It's not causing any issue UI wise but users are not getting the idea that when actually all records have been loaded to the table and there are no more new records to load via scroll.

[2019-04-09 05:01] olifolkerd commented on #1958
It's not that simple I'm afraid, that only gives a rough approximation of the number of rows, as there could be anywhere between 1 and the page size number of rows on that final page.

I understand where you are coming from, and I am happy to stick the idea on the roadmap, but I will be honest with you, I am unlikely to get round to looking at it for a few releases as I have more pressing issues t

[2019-04-09 05:17] pptsk commented on #1963
Ho Oli,
I have tried your solution but from some reason does not works.
Access data are converted to binnary for better orientation.
example before filter:
![1](https://user-images.githubusercontent.com/9829483/55774267-b9c70b80-5a94-11e9-9242-e6d9135ad739.PNG)
 and this is result:
![2](https://user-images.githubusercontent.com/9829483/55774325-f0048b00-5a94-11e9-8236-f9dc85bab696.PNG)
data comes

[2019-04-09 06:05] jmlolo commented on #1754
Hey @olifolkerd,
You said that feaature is added in the 4.2 release, but I do  not see any infomation in the documentation to do that.
Cheers,

[2019-04-09 10:56] aswinkumar007 opened #1964 "My table is not loading properly whenever i am refreshing browser. Only half table is loading in view."
Hi oli,

Good Day...!

Actually, I am new to Angular js. I am making use of tabulator plugin in my project. My concern is whenever i am trying to refresh my page, only half the table is loading in my  view.

I tried to fix it but i can't able to fix the issue.

![error screen](https://user-images.githubusercontent.com/49431736/55794857-071e9980-5ae4-11e9-95ed-c385a91c73e1.PNG)
![expected screen](h

[2019-04-09 12:28] jmlolo opened #1965 "Does move column realy released in 4.2 ?"
Hi @olifolkerd,
You said in another post than move column will be released in 4.2 version but I do not see any moveColumn function in the documentation.

Cheers

[2019-04-09 14:02] jdefelice opened #1966 "GroupBy with data tree and no height set doesn't collapse."
When using GroupBy and dataTree without setting a height on the table the group won't collapse.

**Tabulator Info**
Version 4.2.5

**Working Example**
https://jsfiddle.net/tgw9x3h1/1/

[2019-04-09 14:06] lalitapatil1993 opened #1967 "vertical alignments for text inside cells and header"
Describe the bug:
While doing vertical text alignment as top bottom and middle for cells and header.
Tabulator not allow me to set display property  as table-cell or inline. because of that property table get distorted. Thats why i am not able to do vertical alignment of the cells and header.
Please help me for this issue.

Tabulator Info
- Which version of Tabulator are you using- 4.1

Expected b

[2019-04-09 18:01] mikehobson opened #1968 "row over 2 lines"
Hi Oli is it posisble to have a row which spans 2 lines, I want to create something like the attached picture for mobile devices
![image](https://user-images.githubusercontent.com/2518239/55823494-bade5400-5af9-11e9-91d2-f047cdf5bcbd.png)

This would mean each tabualtor row was able to span 2 lines

Thanks

Mike

[2019-04-09 19:03] olifolkerd commented on #1936
Hey @takuy

ok i will investigate further in the next patch release.

Cheers

Oli :)

[2019-04-09 19:05] olifolkerd commented on #1963
@pptsk

Sorry i think i missunderstood you there, my first comment was related to the formatter which is completely unrelated to your comment.

Could you explain what column you are trying to filter, what the behaviour you want is and what is actually happening?

Cheers

Oli :)

[2019-04-09 19:08] olifolkerd commented on #1754
Hey @jmlolo

http://tabulator.info/docs/4.2/components#component-column

[2019-04-09 19:10] olifolkerd commented on #1965
You have already created issue #1754 about this, there is no need to create duplicate issues

[2019-04-09 19:10] #1965 closed

[2019-04-09 19:14] olifolkerd commented on #1967
@lalitapatil1993

Im afraid you cant just alter the display property of elements in the table, these are set for a very specific reason that they are needed for the table to function correctly.

there is already the ***columnVertAlign*** table option that lets you set whether headers should be aligned to "top" "middle" and "bottom"

[code]
Cheers

Oli :)

[2019-04-09 19:14] #1967 closed

[2019-04-09 19:17] themantalope commented on #642
Hi Oli,

I'm having the same issue on firefox. Here are the versions of Tabulator, jQuery and Firefox I'm using:

[code]

Firefox (mac OSX):

[code]

Let me know if there are any tricks to get this to play nice with firefox.

[2019-04-09 19:20] olifolkerd commented on #1968
Hi @mikehobson

Rowspan is not currently available, this will be comming in version 5.

In the mean time there are a few things you could look at that may offer you something similar if used correctly:

[Row Formatters](http://tabulator.info/docs/4.2/format#row) - could be used to add additional content outside of cells, or you could use this to hide the border at the top of each "second" row maki

[2019-04-09 19:30] olifolkerd commented on #642
Hey @mythsmith

Sorry to hear you are having trouble

This issue was closed over 2 years ago, the source for Tabulator has been rewritten twice since then so it is very unlikely to be related.

Please do not post on posts this old, i will only confuse other developers.

If you are having issues please create a new issue and follow the guidelines on the [Communities  Page](http://tabulator.info/com

[2019-04-09 19:45] pptsk commented on #1963
Hi Oli,
Thank you for response!
I want to filter column access.
I converted each value from json source to binnary format for easiest view of access rights of each user.
Now I want to filter users according their access rights in binnary(16 bites = 16 floors ), see previous pictures.
As you can see at second picture  I started filtering with value 100 so there should be 3 users(nr 1,2 and 4) with

[2019-04-09 20:08] olifolkerd commented on #1963
The issue is because the data is still stored as a number. Formatters are purely visual they have no effect on the data, so sorters and filters aren't affected by them.

If you want it to affect filters you need to look at using a mutator to alter the underlying data.

[2019-04-09 21:15] aklaver commented on #1964
1)  I am not certain what the conditions are for the first and second screenshots.

2)  In second screenshot there is field title 'CC Limit' which does not show up in your table code, so are we looking at the same thing?

3)  At any rate "fitDataFill" will try to fill the table horizontally, spacing on the data values, until it runs out of horizontal space in the container at which point a scroll

[2019-04-10 05:44] jmlolo commented on #1754
Hi @olifolkerd and thanks for your reply.
While waiting for the 4.3, how we can update or implement that feature in the 4.2 ?
Cheers,

[2019-04-10 06:10] webseitz commented on #1657
Hey @olifolkerd

I am not 100% sure, but I think I still have the issue with version 4.2.5.

[Here](https://jsfiddle.net/webseitz/yseqr6c5/7/) is the updated fiddle from @KES777 with my autocomplete code.

[2019-04-10 06:44] lalitapatil1993 commented on #1967
Hi,
I think you misunderstood my question. I want vertical alignments for header text and cells text also. And your solution is only for header text.

Thanks,
Lalita

[2019-04-10 07:29] aswinkumar007 commented on #1964
Thank you for your quick response. :-)

1. My first screenshot is the error screen which i am getting whenever i am refreshing the browser, only half table is showing in view without scrollbar.

2. My second screenshot is the expected screen.(correct one)

3. I am using "fitDataFill", even though my table is not loading properly.

[2019-04-10 11:31] fingers10 opened #1969 "Star Formatter Not Working in collapse responsiveLayout Mode"
Dear Tabulator Team,

I'm using Tabulator v4.2.5 and chrome browser.

I'm using a star formatter which works perfectly in normal layout. But breaks in `responsiveLayout: collapse`.

**Here is the screenshot:**

**Normal Layout:**
![image](https://user-images.githubusercontent.com/43729469/55875426-eee16580-5b49-11e9-81d0-a8c25f6fdfda.png)

**Collapsed Layout:**
![image](https://user-images.githubu

[2019-04-10 12:31] jdefelice commented on #1966
A work around I found to this is setting the height to be '100%'

[2019-04-10 13:21] takuy opened #1970 "CSS class: tabulator-selectable documentation inconsistency?"
**Describe the bug**
I'm not sure if this is so much a bug, but seems to be inconsistent with the documentation at least. In my tables, class `tabulator-selectable` gets applied to every row. Per the note in http://tabulator.info/docs/4.2/select#setup-eligible - it seems like tabulator-selectable should only be applied to rows in tables where `selectable` is set (ie, you have actual selectable row

[2019-04-10 14:12] aklaver commented on #1964
Does it behave better with "fitColumns"?
I am just not sure of what happens when there is no actual data for fitData* to work on?
Have you looked at what is returned by the request when you initially load the data and when you refresh the page?
Also how are you refreshing?
Have you looked at:
http://tabulator.info/docs/4.2/frameworks#angular
Have you looked at

[2019-04-10 14:35] mikehobson commented on #1968
Many thanks Oli, i'll investigate these, do you have a rough ETA on version 5

[2019-04-10 14:45] themantalope commented on #642
@olifolkerd

Thank you! No problem, I'll update as needed.

-themantalope

[2019-04-10 17:33] aklaver commented on #1970
It is a matter of definition:
http://tabulator.info/docs/4.2/select#setup
"The selectable option can take one of a several values:

    false - selectable rows are disabled
    true - selectable rows are enabled, and you can select as many as you want
    integer - any integer value, this sets the maximum number of rows that can be selected (when the maximum number of selected rows is exeded, the

[2019-04-10 21:46] dota2Pro commented on #1509
This works, should be in official documentation of Tabulator

[2019-04-10 23:03] takuy commented on #1970
Ah, thanks @aklaver! How did I miss that? In general, I would suggest making the default the first item in the list for the sake of clarity. But, I am good to go now with my CSS changes as well.

[2019-04-10 23:03] #1970 closed

[2019-04-11 03:45] takuy opened #1972 "Dynamically sized table with maximum height"
**Is your feature request related to a problem? Please describe.**
I have a table that may contain anywhere between 1 row to 500 rows. At around 250px, a table with one row leaves a lot of empty space. Setting the table height to 'auto' is fine with a low amount of rows, but is insane for anything over 10.

Obviously, I'd like to use the virtual DOM features for peak efficiency when using a lot of

[2019-04-11 04:59] cacuestai opened #1973 "Locked numeric data entry in mozilla."
Hello:
A detail about his excellent project.
Regards,
Carlos

![image](https://user-images.githubusercontent.com/2236441/55931806-8e573480-5bec-11e9-95f8-3b14dac470ab.png)

[2019-04-11 09:09] Rodbjartson commented on #1972
I think this is a great suggestion, not sure if it can be implemented though. Let us see what Oli thinks.

[2019-04-11 14:18] cajrowe94 opened #1974 "Downloading table .csv file onto filesystem instead of client's machine?"
I have been working on manipulating and saving tables with tabulator and have run into an issue. The 'table.download()' function saves the table as a .csv file onto the clients own machine. What I need to do is use that same function but save it onto the web server's filesystem where the application is hosted. I have folders for each user and need to save and retrieve the updated .csv files for us

[2019-04-11 15:15] charloubidou opened #1975 "table.getData() and column title"
Hi,

I would like to save all datas in a database. For every column, i defined "editableTitle:true"

But when i want to retrieve all data using the table.getData() function, I would like to get the column titles (first line of my table) as the first object.

Is it possible to get this information? Another solution would be to use the table.getHtml(); and then extract the thead content, but I guess

[2019-04-11 17:22] olifolkerd commented on #1968
Hi Mike. We are probably a year away from version 5. There are still plenty of versions to come out in 4.

The reason for the delay is it will require a total rebuild of the render to work at a cell based level instead of a town based level.

I think in your case a styling tweek to the rows should yeild the exact layout you are after.

Cheers

Oli :)

[2019-04-11 17:41] #1974 closed

[2019-04-11 18:39] aklaver commented on #1973
I am seeing that on my machine.
What Tabulator version and FF version?
Can you provide a test case on jsFiddle/CodePen?

[2019-04-11 18:48] aklaver commented on #1975
How about a CSV download?:
http://tabulator.info/docs/4.2/download#csv

Example from a test table of mine:
table.download("csv", "tab_test.csv");

"Id","Source","Description","Type","Unit","Year","Amount"
"2551","101","Catfish-Frozen Whole Fish Dressed","Processor Inventories","1,000 Pounds","2010","768"
"10821","101","Catfish-Fresh Whole Fish","Processor Inventories","1,000 Pounds","2004","120"

[2019-04-11 19:24] cacuestai commented on #1973
Hello:
These are the versions that I use:
- Tabulator 4.2.5
- Mozilla 66.0.3 (64-bit)
- Materialize 1.0
Unfortunately at the moment I do not have an account in jsFiddle or CodePen.
Regards

[2019-04-11 22:41] aklaver commented on #1973
Aah, I was running Tabulator 4.2.3. A little testing using this fiddle:

https://jsfiddle.net/nbv3hu7k/5/

found that the problem you report pops up when you go from 4.2.3 to 4.2.4. I'm going to say it is because of:
https://github.com/olifolkerd/tabulator/releases
4.2.4
"the number editor no longer causes a stack overflow error on validation failure"

[2019-04-11 23:37] c-dante commented on #1043
Updating a single column without reflowing the entire table. It'd be great if you could patch a single column's definition without having to repaint and re render the entire table.

Essentially some API where I can specify when I call `setColumns` on an existing table how to "merge" the column defs -- for instance:
[code]
It'd be awesome if column A didn't completely re-render, and only column B d

[2019-04-12 00:07] cacuestai commented on #1973
Thank you for your quick alternative to resolve the incident. I take this opportunity to inform you that I am using Tabulator in a programming course that includes ES6, Materialize and Postgres. This is the prototype of the application that is used for demonstrations:
- https://github.com/cacuestai/salestore
It is an excellent component.

[2019-04-12 06:34] pptsk commented on #1963
Hi Oli,
Thank you for tip.
I have last question-
As you can see I am changing row color
[code]
but I dont know how to set row color back to default.
Can you help?
pptsk

[2019-04-12 07:48] charloubidou commented on #1975
Thank you for the advice. I followed this lead and was able to reach my goals.

Have a nice day

[2019-04-12 09:40] parth55 commented on #1958
You are right that when scroll bar hits bottom, ideally there is no new record loading in the background. But in my case, I have more than 1 Lakh records and sometimes server delay is also there. Hence, It's a bit confusing.

[2019-04-12 13:15] adryx92 commented on #1732
Hi, I'm testing editing on mobile and it only seems to work on Blink-based browsers (I've tested it on Opera), while on Firefox it still shows the same issue.
[See demo here](https://www.dropbox.com/sh/czgbkddq66xgony/AABb6mg6_YUyJL66In0eSX8Ua?dl=0)

[2019-04-12 13:59] aklaver commented on #1958
Seems to me you would be better served using remote pagination.

[2019-04-12 14:24] aklaver commented on #1969
I'm going to say it is similar to:
http://tabulator.info/docs/4.2/layout#responsive
"Collapsed List Column Formatting

By default any formatter set on the column is applied to the value that will appear in the list. while this works for most formatters it can cause issues with the progress formatter which relies on being inside a cell."

Might try:
If you would like to disable column formatting in

[2019-04-12 20:36] rtman commented on #1209
Hey @olifolkerd I was wondering if you could perhaps shed some more light on how this could be accomplished? `responsiveLayoutCollapseFormatter ` doesn't seem to provide data on whether or not the cell is editable, and I'm not sure how the nested table idea would work?

Also where do you think this sits in terms of an official feature?

Thanks

[2019-04-13 08:31] KES777 opened #1976 "Automatically setup `autoColumns` if there is no `columns` defined"
Than you Oli for so nice Tabulator #1043. I would like to see next feature

**Is your feature request related to a problem? Please describe.**
I have this code snippet
[code]

It seems excess to setup `autoColumns` manually if there is no `columns` defined.

Also next code fail because of `columns` is null
[code]

**Describe the solution you'd like**
It would be nice if Tabulator will do internall

[2019-04-13 09:05] KES777 commented on #1630
code have comment:

    //register table for inderdevice communication

this is typo for `inderdevice`

[2019-04-13 09:11] olifolkerd commented on #1976
Hey @KES777

Thanks for the feedback. but there are a few usage cases where users don't define columns to start with.

When importing a table from and HTML table, you don't define the columns when you build the table.

Also a number of people work with tables where the column definition depends on user selections elsewhere on their site so they set the columns after initialising the table.

It is

[2019-04-13 09:11] #1976 closed

[2019-04-13 09:13] olifolkerd commented on #1754
you would have to expose the ***moveColumn*** function on the columnManager through the public api defined in the core.js

[2019-04-13 09:14] olifolkerd commented on #1657
booo.

I fixed it on the select editor but must have missed something on the autocomplete

[2019-04-13 09:15] #1966 closed

[2019-04-13 09:22] olifolkerd commented on #1972
Hey @takuy

Thanks for the suggestion, i think that is a great idea, it could be tricky to make it switch between the two render modes while the table is in use, but im up for giving it a go.

I will stick it on the road map

Cheers

Oli :)

[2019-04-13 09:26] olifolkerd commented on #1043
@c-dante It triggers a re render because so much of the table is dependent on the setup of a column that everything needs to be assessed, deepening on render mode, mutator, formatters, row formatters etc it is not as simple as updating a single column of dom entries.

Also with the virtual dom it will only update the display rows and so shouldnt have minimal processing requirements and be barely n

[2019-04-13 09:28] olifolkerd commented on #1973
Hey,

Im a bit lost, is this an issue in the latest release? is there a JS fiddle that can replicate it as i cant seem to.

Cheers

Oli :)

[2019-04-13 09:29] olifolkerd commented on #1963
To remove a style, pass an enpty string to the property:
[code]

[2019-04-13 09:29] #1975 closed

[2019-04-13 09:30] olifolkerd commented on #1732
Hey @adryx92

Which version of Tabulator are you using?

[2019-04-13 09:31] olifolkerd commented on #1969
i will have a look into that, but @aklaver is correct it will be the same issue facing the progress bar

[2019-04-13 09:33] olifolkerd commented on #1209
@rtman if it has collapsed it is not editable, there is no actual cell for it to work it so there is nothing to edit.

It is probably about 6 months away as a feature.

Cheers

Oli :)

[2019-04-13 10:49] jmlolo commented on #1754
Hi,
I am sorry, but How I can do that ?
Cheers,

[2019-04-13 11:41] KES777 opened #1977 "Table's data is not displayed"
**Describe the bug**
I am using dom element to create Tabulator.
but data is not displayed. But it is displayed when window is resized.

**Working Example**
https://jsfiddle.net/KES777/1d276e09/6/

**To Reproduce**
Steps to reproduce the behavior:
1. Open snippet
2. resize browser's window

**Expected behavior**
data should be displayed when tabulator is attached to DOM

**Desktop (please complete

[2019-04-13 11:42] KES777 commented on #1977
Also column width is broken when left side of window is moved.

![__](https://user-images.githubusercontent.com/799021/56079229-4e659c80-5dfa-11e9-8ba0-18d81f793242.jpg)

[2019-04-13 12:20] pptsk commented on #1963
Hi Oli,
Thank you so much!!!
All works fine now.
Is it possible to make row with custom color highlighted on hover ?

[2019-04-13 14:28] aklaver commented on #1973
@olifolkerd
It is an issue from 4.2.4+
I can replicate when using FF, see fiddle:

https://jsfiddle.net/nbv3hu7k/5/

[2019-04-13 15:59] cacuestai commented on #1973
Hello:
I have assigned the "number" type to the age. See this in Mozilla:
https://jsfiddle.net/oqty8eLb/1/
Regards

[2019-04-13 18:35] olifolkerd commented on #1977
That is expected behaviour.

The reason that is happening is because you are instantiating the table on an element that isnt visible in the DOM yet.

Elements only gain width and height when they have been added to the DOM, this means that if you try and instantiate a Tabulator on a hidden element it is unable to do the calculations it needs to be able to layout the table correctly.

The reason a

[2019-04-13 18:35] #1977 closed

[2019-04-13 18:36] olifolkerd commented on #1963
If you want to do that you would need to do it by adding classes to the row that define that behaviour as you can add hover behaviours with javascript

[2019-04-13 18:41] olifolkerd commented on #1973
That is weird!

I made some updates to fix validation on number editors on firefox in the last update and extensively tested the number editor on firsfox so i dont know where that regression came from :(

i will get a fix out in the next patch release.

Thanks for the headsup.

Cheers

Oli :)

[2019-04-13 18:42] rtman commented on #1209
@olifolkerd Yup I understand that part.
But you allude to it being possible above and @tomvanlier says he has it working. Do you think you could provide a bit more in depth of a description for how this would work?

[2019-04-13 21:09] mcsg57 opened #1978 "rowClick causes grid footer to change"

[2019-04-13 21:19] mcsg57 commented on #1978
Describe the bug
rowClick causes footer to change.

Tabulator Info

Which version of Tabulator are you using? 4.2
	tabData = [{
	layout:"fitColumns",
	pagination:"local",
	paginationSize:10,
	paginationSizeSelector:[5, 10, 15, 20],
	movableColumns:false,
	tooltipsHeader:true,
	columns:vwdata,
	data:tdata,
	rowClick:function(e, row){
	editdata(row.getData().rid+"~"+row.getData().tblname+"~edit~")

[2019-04-14 13:26] mcsg57 commented on #1978
Rendered style sheet contained:

input[type=text], [type=number],  select, textarea{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  overflow: visible;
  text-overflow: auto;
}
This affected Tabulator's Page Size selector.
Corrected in my code.

[2019-04-14 13:26] #1978 closed

[2019-04-14 17:42] pptsk commented on #1963
Hi Oli,
I meant the same behaviour with mouse cursor over row, like on default table but with custom color...

[2019-04-14 19:00] pumppi opened #1979 "Ajax Promise function"
**Is your feature request related to a problem? Please describe.**
Theres no any problems, but this would more dynamic way to implement other ajax/rest libraries like Loopback 3

**Describe the solution you'd like**
Simply in configuration there could be option. ajaxPromise = new Promise() ...etc
This way the catch could be show error dialog and in success presenting the data.
With this solution y

[2019-04-15 06:43] adryx92 commented on #1732
I'm using the last version (4.2.5). Could you reproduce the issue?

[2019-04-15 09:57] KES777 commented on #1977
or tabulator can put observer and call redraw automatically when detect that it is added to DOM ;-)

[2019-04-15 11:44] yoyomule opened #1981 "cell and can perform calculations."
Great project. Can you consider supporting the reference to data in other locations in the cell and can perform calculations. The operation is like excel,  get the data by entering a formula. In addition, if cross-cell data entry is supported, is it possible to become a data filing and reporting system?Thanks

[2019-04-15 11:52] W00ler commented on #1732
@adryx92 I had the same issue on Chrome for Android and latest tabulator, but option `autoResize: false` fixed it.

[2019-04-15 15:32] bioscorpion opened #1982 "Is there a way to set parent folder for Tabulator library?"
I installed the download zip version of the Tabulator. I am getting an error "Tabulator is not defined" when I try to set the Tabulator library in previous directory. I have placed the Tabulator library in the previous directory to where the application lives.

I have tried to set the previous directory path in my application.

[code]

My application tree view:
[code]

I am expecting this library

[2019-04-15 16:17] demkani opened #1983 "Make (S)CSS more customizable"
**Is your feature request related to a problem? Please describe.**
For a project I need a 'more customizable' tabulator. Working with nested selectors (and so a higher css specificity level) makes it pretty hard.

**Describe the solution you'd like**
I'd like to refactor the css…
Actually I've already simplified almost the whole (and mighty ;) ) tabulator.scss: resolved nested selectors, started a

[2019-04-15 21:58] aklaver commented on #1981
My guess is that what you want is already possible, though to eliminate the assumptions:
Can you be more specific e.g show some examples of what you want?

[2019-04-15 22:04] aklaver commented on #1982
This would seem to depend on what your application/framework does to resolve URL references. Also possibly permission issues on the directory structure.  An answer is going to need more information:

1) Is this a framework or a custom built application?
2) Do you see errors in the debugging(network) console about loading the JS and CSS links?
3) Have you looked at the permissions on the directory